.addkami{
  .b1{
    form{
      width: 100%;
      padding: 20px 20px 0;
      .item{
        margin-bottom: 20px;
        line-height: 40px;
        // height: 40px;
        font-size: 13px;
        color: #666;
        .left{
          float: left;
          width: 55px;
          text-align: right;
          span{
            color: #ff3333;
          }
        }
        .right{
          width: 100%;
          padding-left: 80px;
          position: relative;
          .upload{
            display: inline-block;
            padding: 0 15px;
            border-radius: 4px;
            background: $blue;color: #fff;
            line-height: 32px;
            transform: .3s ease;
            &:hover{
              background: $dark;
            }
          }
          .info{
            padding-left: 15px;
            display: inline-block;
          }
          input[type=text],select,textarea{
            display: inline-block;
            height: 40px;
            line-height: 38px;
            border: 1px solid $bd;
            padding-left: 16px;
            border-radius: 4px;
            width: 100%;
          }
          input[type=file]{
            width: 0;
            height: 0;
            visibility: hidden;
          }
          textarea{
            resize: none;
            line-height: normal;
            padding: 10px 15px;
            height: 100px;
          }
          select{
            -webkit-appearance: none;
            background: url(../images/icon/ico-arrow.png) no-repeat 98% 50%;
          }
          .radio{
            display: inline-block;
            input{
              width: 0;
              height: 0;
              visibility: hidden;
              font-size: 0;
              &:checked{
                &~label{
                  background-position: 0 0;
                }
              }
            }
            label{
              padding-left: 21px;
              background: url(../images/icon/ico-check.png) no-repeat 0 -21px;
              margin-right: 45px;
            }
          }
          .info-tip{
            color: $orange;
            font-size: 12px;
            padding:0 25px;
            line-height: 26px;
            .radio{
              float: right;
            }
            label{
              color: #666;
              margin-right: 0;
            }
          }
          .domain-tip{
            position: absolute;
            right: 18px;
            color: #999;
            top: 0px;
          }
          .tip{
            float: right;
            i{
              font-size: 24px;
            }
          }
        }
      }
      .btn{
        text-align: center;
        button{
          width: 120px;
          height: 36px;
          border-radius: 6px;
          margin: 70px 8px 0;
          transition: .3s ease;
          &.t1{
            color: #fff;background: $blue;
            &:hover{
              background: $dark;
            }
          }
        }
      }
    }
    .success{
      display: none;
      padding-top: 65px;
      text-align: center;
      .state{
        font-size: 16px;
        color: #6eb92b;
        line-height: 80px;
        img{
          vertical-align: middle;
          margin-right: 10px;
        }
      }
      .info{
        color: #337ab7;
        font-size: 12px;
      }
    }
    .fail{
      display: none;
      padding-top: 65px;
      text-align: center;
      .state{
        font-size: 16px;
        color: #f76260;
        line-height: 80px;
        img{
          vertical-align: middle;
          margin-right: 10px;
        }
      }
      .info{
        color: #337ab7;
        font-size: 12px;
      }
    }
  }
}