.addcoupon{
  .b1{
    form{
      width: 510px;
      margin: 0 auto;
      padding-top: 64px;
      .item{
        margin-bottom: 20px;
        line-height: 40px;
        height: 40px;
        font-size: 13px;
        color: #666;
        .left{
          float: left;
          width: 85px;
          text-align: right;
          span{
            color: #ff3333;
          }
        }
        .right{
          width: 423px;
          float: left;
          padding-left: 23px;
          position: relative;
          &.first{
            input[type=text]{
              width: 216px;
              float: left;
              margin-right: 30px;
            }
            select{
              width: 153px;
            }
          }
          .info{
            padding-left: 15px;
            display: inline-block;
          }
          input[type=text],select,textarea{
            display: inline-block;
            height: 40px;
            line-height: 38px;
            border: 1px solid $bd;
            padding-left: 16px;
            border-radius: 4px;
            width: 400px;
          }
          textarea{
            height: 120px;
            resize: none;
          }
          select{
            -webkit-appearance: none;
            background: url(../images/icon/ico-arrow.png) no-repeat 95% 50%;
          }
          .select{
            margin-top: -15px;
            padding-left: 14px;
            .f{
              display: inline-block;
              input{
                width: 0;
                height: 0;
                visibility: hidden;
                font-size: 0;
                &:checked{
                  &~label{
                    background-position: 0 -25px;
                  }
                }
              }
              label{
                padding-left: 18px;
                background: url(../images/icon/ico-check2.png) no-repeat 0 3px;
                margin-right: 15px;
              }
            }
          }
          .ext{
            position: absolute;
            right: 0;
            top: 0;
            height: 40px;
            width: 38px;
            font-size: 14px;
            color: #4c4c4c;
            background: #f0efef;
            border: 1px solid #c3c2c2;
            text-align: center;
            border-radius: 0 4px 4px 0;
          }
          .radio{
            display: inline-block;
            input{
              width: 0;
              height: 0;
              visibility: hidden;
              font-size: 0;
              &:checked{
                &~label{
                  background-position: 0 0;
                }
              }
            }
            label{
              padding-left: 21px;
              background: url(../images/icon/ico-check.png) no-repeat 0 -21px;
              margin-right: 45px;
            }
          }
          .domain-tip{
            position: absolute;
            right: 18px;
            color: #999;
            top: 0px;
          }
          .tip{
            float: right;
            i{
              font-size: 24px;
            }
          }
        }
      }
      .btn{
        text-align: center;
        button{
          width: 120px;
          height: 36px;
          border-radius: 6px;
          margin: 70px 8px 0;
          transition: .3s ease;
          &.t1{
            color: #fff;background: $blue;
            &:hover{
              background: $dark;
            }
          }
        }
      }
    }
  }
}