.cancleOrder{
  padding: 0 .4rem;
  .t1{
    padding: .4rem 0 .25rem 0;
    span{
      font-weight: bold;
      font-size: .32rem;
      color: #333;
      line-height: .52rem;
      display: inline-block;
      border-bottom: 1px solid #000;
    }

  }
  .t2{
    font-size: 0.28rem;
    color: #666;
    p{
      margin-bottom: .15rem;
      padding-left: .34rem;
      position: relative;
      span{
        position: absolute;
        left: 0rem;
        top: 0;
      }
    }
  }
}