body{
	font-family: 'microsoft yahei',Arial, Helvetica, sans-serif;
	background: #eaeef3;
}
$bd:#e3e5eb;
$blue:#409fff;
$dark:#2b8aea;
.clearfix{
  zoom:1;
  &:after{
    content: '';
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
  }
}
input::-webkit-input-placeholder{
  color:#999;
}
