$color:#4d7bfe;
$dark:#4572f4;
$bd:#e1e1e1;
body{
  font-size: .12rem;
  min-height: 100vh;
  color: #333;
  background: #fff;
}
.clearfix{
  &:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
  color: #c2c2c2;
}