$color:#3cbcf7;
$dark:#259be8;
$bd:#e1e1e1;
html{
  height: 100%;
}
body{
  font-size: .12rem;
  // width: 7.5rem;
  // margin: 0 auto ;
  height: 100%;
  color: #333;
  background: #fff;
}
.clearfix{
  &:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
  color: #c2c2c2;
}
@mixin linearbg {
  background: linear-gradient(90deg,$dark 0,$color 100%);
}