.addgood{
  height: 100vh;
  overflow-y: auto;
  position: relative;
  background: url(../images/index.jpg) 50% 0/cover no-repeat;
  .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255,255,255,.9);
  }
  .container{
    position: relative;
    z-index: 2;
    .header{
      padding: 0 .3rem;
      position: relative;
      .title{
        font-weight: bold;
        text-align: center;
        font-size: .34rem;
        color: #333;
        line-height: .88rem;
      }
      .cancle{
        position: absolute;
        font-size: .26rem;
        color: #666;
        top: .3rem;
        left: .3rem;
      }
      .save{
        position: absolute;
        font-size: .26rem;
        color: #00bc9f;
        top: .3rem;
        right: .3rem;
      }
    }
    .box{
      border-bottom: .1rem solid #dddddd;
      padding: 0 .3rem;
      .left{float: left;}
      .right{float: right;}
      .tip{
        padding-top: .12rem;
        color: #888;
        font-size: .22rem;
      }
      &.b1{
        padding-bottom: .4rem;
        padding-top: .22rem;
        .item{
          overflow: hidden;
          line-height: .44rem;
          height: .44rem;
          .left{
            font-weight: bold;
            color: #f90023;
            font-size: .28rem;
          }
        }
      }
      &.b2{
        padding-bottom: .54rem;
        .item{
          font-size: .26rem;
          color: #333;
          line-height: .78rem;
          height: .79rem;
          border-bottom: 1px solid #ddd;
          .right{
            input{
              text-align: right;
              background: none;
              &.require{
                &::-webkit-input-placeholder{
                  color: #f90023;
                }
              }
            }
            span{
              color: #f90023;
              &.select1{
                color: #00bc9f;
              }
            }
            img{
              margin-left: .08rem;
              width: .14rem;
              vertical-align: middle;
            }
          }
          &.title{
            margin: 0 -.3rem;
            padding: 0 .3rem;
            font-size: .28rem;
            .left{
              font-weight: bold;
            }
          }
        }
        .btn{
          padding-top: .28rem;
          line-height: .5rem;
          img{
            width: .5rem;
            vertical-align: middle;
          }
          color: #f90023;
          text-align: center;
          font-size: .26rem;
        }
      }
    }
  }
}