.income.container{
  .bar{
    padding-bottom: 13px;
    font-size: 14px;
    button{
      padding: 0 22px;
      height: 36px;
      transition: .2s ease;
      color: #fff;
      margin-right: 10px;
      border-radius: 4px;
      font-size: 14px;
      i{
        vertical-align: sub;
        margin-right: 5px;
        font-size: 22px;
      }
      &.btn1{
        background: $blue;
        &:hover{
          background: $dark;
        }
      }
      &.btn2{
        background: #27a41e;
        &:hover{
          background: #209917;
        }
      }
    }
    .t1{
      float: left;
      line-height: 34px;
      margin-right: 4px;
      margin-left: 10px;
    }
    select,input{
      margin-right: 8px;
      float: left;
      height: 36px;
      line-height: 34px;
      border: 1px solid $bd;
      padding-left: 16px;
      border-radius: 4px;
      width: 126px;
      &:focus{
        border-color: $blue;
        box-shadow: 0 0 8px 0 rgba(64,159,255,.4);
      }
    }
    input{
      width: 180px;
    }
    select{
      width: 105px;
      cursor: pointer;
      color: #666;
      font-size: 12px;
      &.type{
        width: 81px;
      }
      &.time{
        width: 108px;
        -webkit-appearance: none;
        font-size: 14px;
        background: #eee;
      }
    }
  }
  .box{
    .table{
      table{
        td{
          text-align: left;
        }
        tr.none{
          td{
            font-size: 14px;
          }
        }
        tbody{
          td{
            border-bottom: 1px solid $bd;
          }
        }
      }
    }
  }
}