.index  {
  .container{
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    .left{float: left;}
    .right{float: right;}
  }
  .head1{
    font-size: 14px;
    color: #5a5a5a;
    padding: 25px 0 10px;
    overflow: hidden;
    .left{
      float: left;
      a{
        display: inline-block;
        line-height: 47px;
      }
    }
    .right{
      float: right;
      overflow: hidden;
      .search{
        float: left;
        border: 1px solid #eaeaea;
        width: 383px;
        line-height: 47px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        span{
          display: inline-block;
          width: 47px;
          height: 47px;
          background: url(../images/search.png) no-repeat 50% 50%/15px 15px;
        }
        input{
          line-height: 47px;
          padding-left: 15px;
        }
      }
      a{
        margin-left: 20px;
        border-left: 1px solid #eaeaea;
        float: right;
        width: 50px;
        height: 49px;
        line-height: 40px;
        img{
          vertical-align: middle;
          margin-left: 20px;
          width: 20px;
        }
      }
    }
  }
  .head2{
    padding-bottom: 22px;
    overflow: hidden;
    .logo img{
      height: 55px;
    }
    .nav{
      overflow: hidden;
      li{
        float: left;
        line-height: 56px;
        padding: 0 15px;
        margin-left: 10px;
        color: #333;
        font-size: 14px;
        a{
          display: block;
        }
        &.active,&:hover{
          background: #46b8da;
          color: #fff;
        }
      }
    }
  }
  .content{
    padding-top: 90px;
    background: url(../images/bg.jpg) no-repeat 50% 0 #f2f3f7;
    .container{
      background: #fff;
      &.ctx1{
        margin-bottom: 45px;
        height: 385px;
        padding: 20px 15px 45px;
        .wrapper{
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .box1{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 202px;
            height: 100%;
            flex-wrap: wrap;
            a{
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              width: 50%;
              height: 50%;
              color: #ff6e51;
              font-size: 20px;
              img{
                margin-bottom: 15px;
              }
              &.t1{
                border-top: 1px solid #eee;
              }
              &.t2{
                border-top: 1px solid #eee;
                border-left: 1px solid #eee;
              }
              &.t3{
                border-top: 1px solid #eee;
                border-bottom: 1px solid #eee;
              }
              &.t4{
                border-top: 1px solid #eee;
                border-left: 1px solid #eee;
                border-bottom: 1px solid #eee;
              }
            }
          }
          .box2{
            height: 100%;
            width: 735px;
          }
          .box3{
            width: 202px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            height: 100%;
            .btn{
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              a{
                text-align: center;
                display: inline-block;
                width: 92px;
                height: 30px;
                color: #0076d0;
                font-size: 14px;
                border: 1px solid #0076d0;
                line-height: 28px;
                &:hover{
                  background: #0076d0;
                  color: #fff;
                }
                &.t1{
                  color: #fff;
                  background: #0076d0;
                  &:hover{
                    transition: .2s ease;
                    background: #0369b8;
                  }
                }
              }
            }
          }
        }
      }
      &.ctx2{
        margin-bottom: 45px;
        background: #fff;
        ul{
          height: 398px;
          overflow: hidden;
          position: relative;
          &:before{
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            border: 1px solid #fff;
            pointer-events: none;
          }
          li{
            float: left;
            width: 25%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #eaeaea;
            border-bottom: 1px solid #eaeaea;
          }
        }
      }
      &.product{
        background: linear-gradient(to bottom,#fff 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,0) 50%);
        padding: 65px 13px 0 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .inner{
          &.half{
            width: 49.6%;
            .title:after{
              width: 82%;
            }
          }
          width: 100%;
          padding-bottom: 50px;
          .title{
            width: 100%;
            font-size: 30px;
            color: #333;
            position: relative;
            span{
              padding:0 15px;
              // background: #fff;
              position: relative;
              z-index: 2;
            }
            &:after{
              position: absolute;
              width: 90%;
              content: '';
              height: 6px;
              border-radius: 3px;
              background: #eee;
              right: 0;
              top: 15px;
            }
          }
          ul{
            margin-top: 15px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            li{
              height: 100%;
              background: #fff;
              font-size: 22px;
              color: #454545;
              &.face{
                margin-right: 5px;
                position: relative;
                color: #fff;
                padding: 13px;
                img{
                  height: 100%;
                  position: absolute;
                  z-index: 0;
                  left: 0;
                  top: 0;
                }
                .t1{
                  font-size: 20px;
                  font-weight: bold;
                  position: relative;
                  z-index: 1;
                }
                .t2{
                  padding-top: 5px;
                  font-size: 18px;
                  position: relative;
                  z-index: 1;
                }
                a{
                  position: absolute;
                  bottom: 13px;
                  left: 13px;
                  font-size: 24px;
                  color: #ff3b00;
                  background: #fff;
                  width: 137px;
                  height: 46px;
                  line-height: 46px;
                  text-align: center;
                  border-radius: 23px;
                  font-weight: bold;
                  &:hover{
                    background: #f0f0f0;
                  }
                }
              }
            }
          }
          &.prod1{
              ul{
                height: 254px;
                li{
                  height: 100%;
                  width: 20%;
                  &:nth-child(2){
                    .item{
                      border-left: 1px solid #eaeaea;
                    }
                  }
                  .item{
                    overflow: hidden;
                    padding: 0 15px;
                    height: 50%;
                    text-align: right;
                    border: 1px solid #eaeaea;
                    border-left: none;
                    position: relative;
                    &:first-child{
                      border-bottom: none;
                    }
                    span{
                      display: block;
                      text-align: left;
                      line-height: 57px;
                      position: relative;
                      z-index: 1;
                    }
                    img{
                      position: absolute;
                      z-index: 0;
                      left: 0;
                      top: 0;
                    }
                  }
                }
              }
          }
          &.prod2{
            ul{
              height: 255px;
              li{
                height: 100%;
                width: 33.3334%;
                &.face{
                  margin-right: 2px;
                }
                &:nth-child(2){
                  .item{
                    border-left: 1px solid #eaeaea;
                  }
                }
                .item{
                  padding: 0 15px;
                  height: 50%;
                  text-align: center;
                  border: 1px solid #eaeaea;
                  border-left: none;
                  position: relative;
                  overflow: hidden;
                  &:first-child{
                    border-bottom: none;
                  }
                  span{
                    display: block;
                    line-height: 57px;
                    position: relative;
                    z-index: 2;
                  }
                  img{
                      position: absolute;
                      z-index: 0;
                      left: 0;
                      top: 0;
                    }
                }
              }
            }
          }
          &.prod3{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            ul{
              width: 49.5%;
              height: 161px;
              // margin-bottom: 50px;
              li{
                width: 59%;
                &.face{
                  width: 41%;
                  margin-right: 0;
                  .t2{
                    padding-top: 0;
                  }
                }
                .other{
                  padding-top: 15px;
                  .t1{
                    padding-left: 23px;
                    font-size: 20px;
                    color: #333;
                    font-weight: bold;
                  }
                  .t2{
                    padding-left: 23px;
                    font-size: 14px;
                    color: #333;
                  }
                  .t3{
                    padding-top: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a{
                      display: inline-block;
                      padding: 0 15px;
                    }
                  }
                }
    
              }
            }
  
          }
          &.prod4{
            li:first-child{
              margin-right: 20px;
            }
          }
          &.prod5{
            ul{
              flex-wrap: wrap;
              li{
                width: 218px;
                background: none;
                height: 354px;
                margin-bottom: 15px;
                a{
                  background: #fff;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  .t1{
                    font-size: 22px;
                    color: #333;
                    font-weight: bold;
                    padding-top: 20px;
                    padding-bottom: 10px;
                  }
                  .t2{
                    font-size: 18px;
                  }
                }
              }
            }
          }
          &.prod6{
            ul{
              li{
                width: 275px;
                height: 205px;
                margin-bottom: 15px;
                p{
                  text-align: center;
                  line-height: 50px;
                }
              }
            }
          }
        }
      }
    }
  }
  .footer{
    height: 200px;
    text-align: center;
    padding-top: 80px;
    background: linear-gradient(to bottom,#f2f3f7 0%,#fff 15%,#fff 20%);
    p{
      line-height: 24px;
      a{
        margin: 0 8px;
      }
    }
  }
}