.infomation.container{
  .bar{
    padding-bottom: 13px;
    font-size: 14px;
    button{
      width: 78px;
      height: 34px;
      transition: .2s ease;
      margin-right: 10px;
      border-radius: 4px;
      font-size: 14px;
      &.btn1{
        color: #fff;
        background: $blue;
        &:hover{
          background: $dark;
        }
      }
      &.btn2{
        color: #666;
        background: #fff;
        border: 1px solid;
        &:hover{
          color: #fff;
          background: #666;
          border-color: #666;
        }
      }
    }
  }
  .box{
    .table{
      input[type=checkbox]{
        width: 0;
        height: 0;
        visibility: hidden;
        font-size: 0;
        &:checked{
          &~label{
            background-position: 0 -18px;
          }
        }
      }
      label{
        padding-left: 21px;
        background: url(../images/icon/ico-check3.png) no-repeat 0 2px;
      }
      table{
        td{
          text-align: left;
          font-size: 14px;
        }
        tr.none{
          td{
            font-size: 14px;
          }
        }
        tbody{
          td{
            border-bottom: 1px solid $bd;
          }
        }
      }
      button.del{
        margin-top: 24px;
        width: 64px;
        height: 34px;
        transition: .2s ease;
        color: #fff;
        border-radius: 4px;
        font-size: 14px;
        text-align: center;
        background: #e4393c;
        &:hover{
          background: #d53033;
        }
      }
      .pagination{
        position: relative;
        top: -45px;
      }
    }
  }
}