.main{
  height: calc(100vh - 54px);
  .container{
    padding: 14px 22px 0 14px;
    height: 100%;
    overflow-y: auto;
    .box{
      width: 100%;
      background: #fff;
      border-radius: 4px;
      margin-bottom: 14px;
      &.init{
        padding-bottom: 35px;
        min-height: calc(100% - 16px);
      }
      .title{
        padding-left: 16px;
        padding-right: 25px;
        position: relative;
        line-height: 60px;
        border-bottom: 1px solid $bd;
        color: #333;
        span{
          display: inline-block;
          color: #999;
          font-size: 12px;
          margin-left: 5px;
          &::first-letter{
            text-transform: uppercase;
          }
          &.tip{
            float: right;
          }
        }
        &:before{
          content: '';
          position: absolute;
          width: 4px;
          background: $blue;height: 16px;
          top: 22px;
          left: 0;
        }
      }
      .subtitle{
        padding-left: 30px;
        font-size: 16px;
        color: #333333;
        line-height: 47px;
        position: relative;
        &:before{
          content: '·';
          font-weight: bold;
          font-size: 25px;
          color: $blue;
          position: absolute;
          top: 0px;
          left: 10px;
        }
      }
      .table{
        padding: 11px 20px 0 20px;
        table{
          width: 100%;
          border-collapse: collapse;
          td{
            text-align: center;
            vertical-align: middle;
            padding-left:18px;
            a{display: inline-block;padding: 0 3px;}
            a.orange{color: $orange;}
            a.blue{color: $blue;}
            a.red{color: #d83434;}
          }
          thead{
            background: #edf4fc;
            font-size: 14px;
            color: #333;
            td{
              height: 44px;
            }
          }
          tbody{
            font-size: 12px;
            color: #666;
            td{
              height: 40px;
              &.money{
                color: #ff7f00;
              }
            }
            tr:nth-child(2n+1){
              background: #fff;
            }
            tr:nth-child(2n){
              background: #f5f7fa;
            }
          }
        }
        &.table-border{
          table{
            tbody{
              font-size: 14px;
              tr{
                background: none !important;
              }
              td{
                height: 58px;
                border-bottom: 1px solid $bd;
              }
            }
          }
        }
      }
      //翻页
      .pagination{
        padding: 32px 40px 0;
        text-align: center;
        font-size: 12px;
        color: #666;
        p{
          text-align-last: left;
          &.left{float: left;}
          &.right{float: right;}
          font-size: 13px;
          color: #333;
          span.orange{color: #ff7f00;margin: 0 4px;}
          span.blue{color: $blue;margin: 0 4px;}
        }
        .m-pages{vertical-align:top;font-size:0;overflow:hidden;display:inline-block;
          i{font-style: normal;}
          a,u,.prev,.next,.current{
            border-bottom:1px solid $bd;border-left:1px solid $bd;border-top:1px solid $bd;display:inline-block;font-size:12px;height:30px;line-height:30px;overflow:hidden;text-align:center;vertical-align:top;width:30px;}
          .prev,.next{
            width: 60px;
          }
          .next{border-right: 1px solid $bd;}
          .current{color: $blue;}
          u{text-decoration: none;}
        }
      }
    }
  }
}
.header{
  height: 54px;
  overflow: hidden;
  background: #fff;
  position: relative;
  z-index: 11;
  .logo{
    float: left;
  }
  .info{
    float: left;
    padding-left: 20px;
    line-height: 54px;
    img{
      vertical-align: middle;
    }
  }
  .statebar{
    float: right;
    line-height: 54px;
    color: #666;
    a{
      font-size: 13px;
      margin-right: 31px;
      i{
        font-size: 20px;
        margin-right: 6px;
        vertical-align: sub;
      }
    }
    .user{
      display: inline-block;
      height: 30px;
      border-left: 1px solid $bd;
      line-height: 30px;
      vertical-align: middle;
      .ico-out{
        font-size: 26px;
      }
      .avatar{
        float: left;
        position: relative;
        span{
          position: absolute;
          width: 40px;
          height: 28px;
          border-radius: 14px;
          background: #ff3344;
          transform: scale(.5);
          font-size: 20px;
          color: #fff;
          top: 11px;
          left: 30px;
          text-align: center;
          line-height: 28px;
          border: 2px solid #fff;
        }
        img{
          height: 40px;
          border: 1px solid $bd;
          border-radius: 50%;
          width: 40px;
          position: relative;
          top: -6px;
          margin-left: 20px;
          margin-right: 6px;
        }
      }
      .name{
        margin-right: 10px;
      }
    }
  }
}
.sidebar{
  height: 100%;
  overflow: hidden;
  float: left;
  width: 180px;
  background: #26334d;
  .avatar{
    text-align: center;
    padding-top: 26px;
    img{
      width: 70px;
      border-radius: 50%;
    }
    p{
      color: #eaeef3;
      font-size: 14px;
      &.t1{
        font-size: 13px;
        line-height: 30px;
      }
    }
  }
  .nav{
    padding-top: 10px;
    &>li{
      cursor: pointer;
      position: relative;
      color: #a3b1cc;
      line-height: 49px;
      font-size: 14px;
      i:first-child{
        padding-left: 15px;
        font-size: 24px;
        vertical-align: sub;
        margin-right: 10px;
      }
      i.ico-arrow{
        float: right;
        margin-right: 20px;
        transform: rotate(-90deg);
      }
      ul{
        display: none;
        background: #1c273d;
        padding:8px 0 8px 25px;
        position: relative;
        &:after,&:before{
          content: '';
          height: 8px;
          width: 1px;
          background: #37455d;
          position: absolute;
          top: 0;
          left: 25px;
          position: absolute;
        }
        &:after{
          bottom: 0;
          top: auto;
        }
        li{
          border-left: 1px solid #37455d;
          padding-left: 26px;
          position: relative;
          a{
            display: block;
            line-height: 26px;
            color: #647086;
            font-size: 12px;
            // font-weight: lighter;
          }
          &:before{
            position: absolute;
            top: 12px;
            width: 12px;
            height: 1px;
            content: '';
            left: 5px;
            background: #37455d;
          }
          &.active{
            border-left-color: $blue;
            a{
              color: #94a1bb;
            }
            &:before{
              background: $blue;
            }
          }
        }
      }
      &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 16px;
        width: 4px;
        height: 16px;
        background: $blue;
        display: none;
      }
      &.active{
        color: #fff;
        &:before{
          display: block;
        }
      }
      &.open{
        i.ico-arrow{
          transform: none;
        }
        ul{
          display: block;
        }
      }

    }
  }
}