.modal-over{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 199;
	background-color: rgba(0,0,0,.5);
	display: none;
}
.modal{
  z-index: 200;
  position: absolute;
  left: 50%;
  top: 50%;
  display: none;
  transform: translate(-50% ,-50%);
  background: #fff;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.1);
}
.confirm-modal{
  width: 280px;
  border-radius: 4px;
  font-size: 14px;
  .title{
    line-height: 40px;
    border-bottom: 1px solid #e8e8e8;
    background: #f8f8f8;
    padding: 0 15px 0 18px;
    .close{
      width: 12px;
      height: 12px;
      background: url(../images/icon/ico-close.png) no-repeat 50% 50%;
      top: 15px;
      cursor: pointer;
      right: 15px;
      position: absolute;
    }
  }
  .info{
    padding: 20px;
    text-align: center;
  }
  .btn{
    text-align: right;
    padding: 0 12px 16px;
    button{
      width: 56px;
      height: 26px;
      border-radius: 4px;
      margin-right: 10px;
      &.sure{
        background: $orange;
        color: #fff;
      }
      &.cancle{
        color: #666;
        background: #fff;
        border: 1px solid #e8e8e8;
      }
    }
  }
}
.export-modal{
  width: 900px;
  height: 312px;
  background: #fff;
  border-radius: 8px;
  font-size: 14px;
  .title{
    font-size: 17px;
    line-height: 54px;
    border-bottom: 1px solid $bd;
    padding-left: 20px;
    margin-bottom: 8px;
  }
  .p{
    padding-left: 20px;
    line-height: 36px;
    .item{
      display: inline-block;
    }
    label{
      display: inline-block;
      padding: 0 12px 0 22px;
      background: url(../images/icon/ico-c.png) no-repeat 0 -53px;
    }
    input{
      width: 0;
      height: 0;
      visibility: hidden;
      &:checked{
        &~label{
          background-position: 0 11px;
        }
      }
    }
  }
  .p2{
    color: $orange;
    line-height: 25px;
    padding-left: 20px;
  }
  button{
    width: 94px;
    height: 36px;
    color: #fff;
    background: $blue;
    margin-left: 20px;
    border-radius: 4px;
    margin-top: 8px;
    font-size: 14px;
  }

}
.infoDetail-modal{
  width: 900px;
  border-radius: 8px;
  overflow: hidden;
  &.kami-modal{
    .info{
      padding: 20px;
    }
  }
  .title{
    border-bottom: 1px solid #e8e8e8;
    background: #fff;
    padding: 0 15px 0 18px;
    line-height: 55px;
    .close{
      width: 12px;
      height: 12px;
      background: url(../images/icon/ico-close.png) no-repeat 50% 50%;
      top: 24px;
      cursor: pointer;
      right: 15px;
      position: absolute;
    }
  }
  .info{
    p{
      text-align: center;
      span{
        cursor: pointer;
      }
      input{
        color: #ff7f00;
        width: 285px;
      }
    }
    padding-bottom: 50px;
    margin: 15px;
    font-size: 14px;
    color: #333;
    position: relative;
    .t1{
      padding-bottom: 5px;
    }
    .t2{
      line-height: 26px;
      color: #666;
      margin-bottom: 15px;
    }
    
  }
  .time{
    color: #666;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
    font-size: 14px;
    padding: 15px;
  }
}
.link-modal{
  width: 900px;
  border-radius: 8px;
  overflow: hidden;
  .title{
    border-bottom: 1px solid #e8e8e8;
    background: #fff;
    padding: 0 15px 0 18px;
    line-height: 55px;
    .close{
      width: 12px;
      height: 12px;
      background: url(../images/icon/ico-close.png) no-repeat 50% 50%;
      top: 24px;
      cursor: pointer;
      right: 15px;
      position: absolute;
    }
  }
  .content{
    padding: 8px 20px;
    .left{float: left;}
    .right{
      float: left;
      padding-left: 20px;
    }
    .t1{
      line-height: 36px;
      font-size: 16px;
      color: #333;
      margin-bottom: 10px;
      img{
        vertical-align: sub;
      }
      button{
        width: 120px;
        height: 36px;
        transition: .2s ease;
        color: #fff;
        margin-left: 10px;
        border-radius: 4px;
        font-size: 14px;
        i{
          vertical-align: sub;
          margin-right: 8px;
          font-size: 18px;
          &.ico-restore{
            vertical-align: middle;
            font-size: 25px;
          }
        }
        &.btn1{
          background: $blue;
          &:hover{
            background: $dark;
          }
        }
        &.btn2{
          background: #ea2b3b;
          &:hover{
            background: #d81e2e;
          }
        }
      }
    }
    .info{
      overflow: hidden;
      margin-bottom: 8px;
      padding: 8px 0px;
      font-size: 14px;
      color: #666;
      
      p{
        line-height: 36px;
        .link{
          color: $orange;
          background: none;
        }
        span.btn{
          cursor: pointer;
          margin-left: 4px;
          &:hover{
            color: $orange;
          }
        }
      }
    }
    .tip{
      font-size: 14px;
      line-height: 55px;
      color: #666;
      a{
        color: $orange;
      }
    }
    .code{
      margin-bottom: 25px;
    }
  }
}