.userinfo{
  .b1{
    form{
      width: 1020px;
      .item{
        margin-bottom: 13px;
        float: left;
        width: 50%;
        line-height: 34px;
        font-size: 13px;
        color: #666;
        .left{
          float: left;
          width: 102px;
          text-align: right;
          span{
            color: #ff3333;
          }
        }
        .right{
          width: 382px;
          float: left;
          padding-left: 22px;
          position: relative;
          .info{
            padding-left: 15px;
            display: inline-block;
          }
          input[type=text],select{
            display: inline-block;
            height: 34px;
            line-height: 32px;
            border: 1px solid $bd;
            padding-left: 16px;
            border-radius: 4px;
            width: 360px;
          }
          select{

          }
          .radio{
            display: inline-block;
            input{
              width: 0;
              height: 0;
              visibility: hidden;
              font-size: 0;
              &:checked{
                &~label{
                  background-position: 0 0;
                }
              }
            }
            label{
              padding-left: 21px;
              background: url(../images/icon/ico-check.png) no-repeat 0 -21px;
              margin-right: 45px;
            }
          }
          .domain-tip{
            position: absolute;
            right: 18px;
            color: #999;
            top: 0px;
          }
          .tip{
            float: right;
            font-size: 24px;
          }
        }
      }
    }
  }
}