.withdraw{
  .b1{
    .none-box{
      display: none;
      padding-top: 160px;
      text-align: center;
      img{
        margin-bottom: 36px;
      }
      p{
        font-size: 14px;
        color: #666;
        line-height: 26px;
        span.money{
          color: #ff4040;
        }
        &.t1{
          font-size: 12px;
          color: #999;
        }
      }
    }
    .full-box{
      padding-top: 55px;
      form{
      width: 1120px;
      .item{
        margin-bottom: 13px;
        line-height: 34px;
        height: 34px;
        font-size: 13px;
        color: #666;
        &.grid{
          height: 58px;
        }
        .left{
          float: left;
          width: 102px;
          text-align: right;
          span{
            color: #ff3333;
          }
        }
        .right{
          font-size: 12px;
          width: 1000px;
          float: left;
          padding-left: 22px;
          position: relative;
          .info{
            padding-left: 15px;
            display: inline-block;
          }
          input[type=text]{
            display: inline-block;
            height: 34px;
            line-height: 32px;
            border: 1px solid $bd;
            padding-left: 14px;
            border-radius: 4px;
            width: 388px;
          }
          .ext{
            position: absolute;
            left: 371px;
            top: 0;
            height: 34px;
            width: 38px;
            font-size: 14px;
            color: #4c4c4c;
            background: #f0efef;
            border: 1px solid #c3c2c2;
            text-align: center;
            border-radius: 0 4px 4px 0;
          }
          .text{
            font-size: 16px;
            font-weight: bold;
            color: $orange;
          }
          .tip{
            display: inline-block;
            margin-left: 10px;
            line-height: 32px;
            height: 34px;
            border-radius: 4px;
            background: #f9f9f9;
            border: 1px solid $bd;
            padding: 0 10px;
          }
        }
      }
    }
    .btn{
      padding-left: 124px;
      button{
        font-size: 14px;
        width: 120px;
        height: 36px;
        border-radius: 6px;
        margin: 45px 0 0 0;
        transition: .3s ease;
        &.t1{
          color: #fff;background: $blue;
          &:hover{
            background: $dark;
          }
        }
      }
    }
    }
  }
}