<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>关于我们</title>
</head>
<body class="about">
	<div class="top">
		<img src="../assets/images/logo.png" alt="">
		<p>全行科技</p>
		<p class="t1">v1.0.0</p>
	</div>
	<div class="content">
		<p class="t1">
			 全行科技有限公司于2016年10月28日成立于青岛。全行为用户提供物流货运、道路救援两大服务模块。全行“一人一车”的服务模式提高了接单的速度与灵活性。公司自营车辆，全行员工经过专业的整体培训，从服务素质到服务的专业性进行全方位的培训，全行员工通过审核后才能上岗，保证服务的质量和安全性，全行致力于为用户提供优质的人性化服务。
		</p>
		<p class="t2">电话：400-618-0888</p>
		<p class="t2">邮箱：info@alldone.com.cn</p>
		<p class="t2">微信公众号：全行科技</p>
	</div>
</body>
</html>
