<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>红红火火</title>
</head>
<body>
	<div class="addgood">
    <div class="bg"></div>
    <div class="container">
      <div class="header">
        <a href="" class="cancle">取消</a>
        <a href="" class="save">保存</a>
        <p class="title">添加商品</p> 
      </div>
      <div class="box b1">
        <div class="item">
          <span class="left">商品已上架</span>
          <div class="right">
            <div class="button open j-button">
              <span class="circle"></span> 
            </div>
          </div>
        </div>
        <div class="tip">提示：在所有可点单的设备上（包括火小二）显示</div>
      </div>
      <div class="box b2">
        <div class="item title">
          <div class="left">
            基本设置
          </div>
        </div>
        <div class="item">
          <div class="left">
            商品分类
          </div>
          <div class="right">
            <span class="j-selector select1">主食</span>
            <img src="../assets/images/icon/ico-arrow2.png" alt="">
          </div>
        </div>
        <div class="item">
          <div class="left">
            商品名称
          </div>
           <div class="right">
              <input type="text" name="" id="" class="require" placeholder="必填">
          </div>
        </div>
        <div class="item">
          <div class="left">
            商品标签设置
          </div>
           <div class="right">
              <span class="j-selector select">必填</span>
              <img src="../assets/images/icon/ico-arrow2.png" alt="">
          </div>
        </div>
        <div class="item">
          <div class="left">
            商品编码
          </div>
          <div class="right">
            <input type="text" placeholder="可不填">
          </div>
        </div>
        <div class="item">
          <div class="left">
            结账单位
          </div>
          <div class="right">
            <span class="j-selector select">份&nbsp;</span>
            <img src="../assets/images/icon/ico-arrow2.png" alt="">
          </div>
        </div>
        <div class="item">
          <div class="left">
            允许打折
          </div>
          <div class="right">
            <div class="button j-button">
              <span class="circle"></span> 
            </div>
          </div>
        </div>
        <div class="item">
          <div class="left">
            退菜时需要权限验证
          </div>
          <div class="right">
            <div class="button open j-button">
              <span class="circle"></span> 
            </div>
          </div>
        </div>
        <p class="tip">提示：套餐内商品的做法或加料有加价时，会在套餐单价的基础上进行 累加</p>
      </div>
      <div class="box b2">
        <div class="item title">
          <div class="left">
            套餐内商品
          </div>
        </div>
        <div class="btn">
          <img src="../assets/images/icon/ico-add.png" alt="">
            添加此套餐内分组
        </div>
      </div>
    </div>
    <div class="modal">
      <div class="face">
        <div class="top">
          商品分类
          <span class="right">
            <img src="../assets/images/icon/ico-cate.png" alt="">
            商品分类管理</span>
        </div>
        <div class="select j-select">
          <div class="bar"></div>
          <ul>
            <li >主食</li>
            <li >沙拉</li>
            <li class="active">饮料</li>
          </ul>
        </div>
        <div class="btn">
          <button class="t1 j-sure">取消</button>
          <button class="t2 j-cancle">确定</button>
        </div>
      </div>
    </div>
	</div>
</body>
</html>
