<!-- webpack-roami -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>新创自动发卡平台</title>
</head>
<body>
	#include("./widget/header.html")
	<div class="main clearfix">
		#include("./widget/sidebar.html")
		<div class="container addkami scroll">
			<div class="box init b1">
				<div class="title">添加卡密 <span>Add a secret</span></div>
				<form action="" class="clearfix">
          <div class="item clearfix">
            <span class="left">登陆密码</span>
            <div class="right">
							<input type="text">
						</div>
					</div>
					<div class="item clearfix">
						<span class="left">安全密码</span>
						<div class="right">
							<input type="text">
						</div>
					</div>
					<div class="item clearfix">
						<span class="left">重新输入安全密码</span>
						<div class="right">
							<input type="text">
						</div>
					</div>
					<div class="btn">
						<button class="t1">保存设置</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
