<!-- webpack-roami 商家百科-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>新创自动发卡平台</title>
</head>
<body>
	#include("./widget/header.html")
	<div class="main clearfix">
		#include("./widget/sidebar.html")
		<div class="container baike scroll">
      <div class="box init b1">
        <div class="title">商家百科 <span>Business encyclopedia</span> 
        </div>
        <div class="table">
          <table>
            <thead>
              <tr>
                <td>标题</td>
                <td>时间</td>
                <td>
                  <input type="checkbox" id="c1">
                  <label for="c1"></label>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr class="none">
                <td>wx134520</td>
                <td>2018-03-19  11:15:12</td>
                <td>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="pagination">
            <p class="right">
              本页：<span class="blue">1</span>条数据&nbsp;&nbsp;&nbsp;总共：<span class="blue">1</span>条数据
            </p>
          </div>
        </div>
      </div>
		</div>
	</div>
</body>
</html>
