<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>取消规则</title>
</head>

<body class="cancleOrder">
  <div class="t1"><span>物流货运取消规则</span></div>
  <div class="t2">
     <p><span> ①</span>服务人员与用户确认订单信息之前，用户无责取消</p>
     <p><span> ②</span>服务人员与用户确认订单信息后至服务人员到达服务 地点之间，用户需赔付爽约金30元。 </p>
     <p><span> ③</span>服务人员到达服务地点开始装货且还未开始送货之 前，用户需赔付爽约金为订单金额全额 </p>
     <p><span> ④</span>服务人员装货完成开始送货后，用户需赔付爽约金为订单金额全额并另收额外反正费</p>
  </div>
  <div class="t1"><span>道路救援取消规则</span></div>
  
  <div class="t2">
    <p>
      <span> ①</span>服务人员与用户确认订单信息之前，用户无责取消</p>
    <p>
      <span> ②</span>服务人员与用户确认订单信息后至服务人员到达服务 地点之间，用户需赔付爽约金30元。 </p>
    <p>
      <span> ③</span>服务人员到达服务地点开始服务后，用户需赔付爽 约金为订单金额全额 </p>
  </div>
</body>
</html>