<!-- webpack-roami -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>新创自动发卡平台</title>
</head>
<body>
	#include("./widget/header.html")
	<div class="main clearfix">
		#include("./widget/sidebar.html")
		<div class="container complaint scroll">
			<div class="box init b1">
        <div class="title">投诉管理  <span>Complaint management </span> 
          <span class="tip">新创自动发卡平台非常在乎您的诚信经营，如果有用户投诉您，请您积极与买家进行联系，处理问题。如拖延、拒绝解决用户投诉，我们将严肃处理！</span>
        </div>
        <div class="table">
          <table>
            <thead>
              <tr>
                <td>投诉订单</td>
                <td>投诉原因</td>
                <td>投诉内容</td>
                <td>联系方式</td>
                <td>投诉时间</td>
                <td>投诉状态</td>
                <td>处理结果</td>
                <td>查看详情</td>
                <td>操作</td>
              </tr>
            </thead>
          </table>
          <div class="none-box">
            <img src="../assets/images/award.png" alt="">
            <p>暂无客户投诉<br>新创自动发卡平台感谢您的诚信经营！</p>
          </div>
        </div>
			</div>
		</div>
	</div>
</body>
</html>
