<!-- webpack-roami 查优惠券-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>新创自动发卡平台</title>
</head>
<body>
	#include("./widget/header.html")
	<div class="main clearfix">
		#include("./widget/sidebar.html")
		<div class="container coupon scroll">
      <div class="box init b1">
        <div class="title">查优惠券  <span>Check coupons</span> 
        </div>
        <div class="table">
          <div class="bar">
            <span class="t1">商品分类：</span>
            <select name="" id="">
              <option value="">全部分类</option>
              <option value="">全部分类2</option>
              <option value="">全部分类3</option>
            </select>
            <span class="t1">状态：</span>
            <select name="" id="" class="type">
              <option value="">全部</option>
              <option value="">分类2</option>
              <option value="">分类3</option>
            </select>
            <input type="text" placeholder="">
            <button class="btn1">立即查询</button>
            <button class="btn2">生成优惠券</button>
          </div>
          <table>
            <thead>
              <tr>
                <td style="text-align:left">优惠券号码</td>
                <td style="text-align:left">绑定分类</td>
                <td>面额</td>
                <td>生成时间</td>
                <td>有效期</td>
                <td>管理</td>
                <td>
                  <input type="checkbox" id="c1">
                  <label for="c1"></label>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr class="none">
                <td style="text-align:left">暂无记录</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <button class="del">删除</button>
          <div class="pagination">
            <p class="right">
              本页：<span class="blue">0</span>条数据&nbsp;&nbsp;&nbsp;总共：<span class="blue">0</span>条数据
            </p>
          </div>
        </div>
      </div>
		</div>
	</div>
</body>
</html>
