<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>roami</title>
</head>
<body class="detail">
  <div class="header">
    <div class="left">
      <a href="">
        <img src="../assets/images/icon/ico-back.png" alt="">返回
      </a>
    </div>
    <p>还款详情</p>
    <div class="right">
      <a href="">
        <img src="../assets/images/icon/ico-more.png" alt="">
      </a>
    </div>
  </div>
	<div class="table">
    <table>
      <thead>
        <tr>
          <td>期数</td>
          <td>偿还本息</td>
          <td>剩余本金</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>135260.00</td>
          <td>156324.00</td>
        </tr>
        <tr>
          <td>1</td>
          <td>135260.00</td>
          <td>156324.00</td>
        </tr>
        <tr>
          <td>1</td>
          <td>135260.00</td>
          <td>156324.00</td>
        </tr>
        <tr>
          <td>1</td>
          <td>135260.00</td>
          <td>156324.00</td>
        </tr>
        <tr>
          <td>1</td>
          <td>135260.00</td>
          <td>156324.00</td>
        </tr>
        <tr>
          <td>1</td>
          <td>135260.00</td>
          <td>156324.00</td>
        </tr>
        <tr>
          <td>1</td>
          <td>135260.00</td>
          <td>156324.00</td>
        </tr>
        <tr>
          <td>1</td>
          <td>135260.00</td>
          <td>156324.00</td>
        </tr>
        <tr>
          <td>1</td>
          <td>135260.00</td>
          <td>156324.00</td>
        </tr>
        <tr>
          <td>1</td>
          <td>135260.00</td>
          <td>156324.00</td>
        </tr>
        <tr>
          <td>1</td>
          <td>135260.00</td>
          <td>156324.00</td>
        </tr>
        <tr>
          <td>1</td>
          <td>135260.00</td>
          <td>156324.00</td>
        </tr>
        <tr>
          <td>1</td>
          <td>135260.00</td>
          <td>156324.00</td>
        </tr>
        <tr>
          <td>1</td>
          <td>135260.00</td>
          <td>156324.00</td>
        </tr>
        <tr>
          <td>1</td>
          <td>135260.00</td>
          <td>156324.00</td>
        </tr>
        <tr>
          <td>1</td>
          <td>135260.00</td>
          <td>156324.00</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
