<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>detail</title>
</head>
<body class="detail-page">
  #include("./widget/header.html")
  <div class="bake">
    <div class="wrap">
      <img src="../assets/images/icon/ico-kite.png" alt="">
      <a href="/index.html">商城首页</a>>
      <a href="">珠宝翡翠</a>>
      <a href="">乌金釉花瓶 粉彩荷花天球 现代时尚客厅工艺品摆件</a>
    </div>
  </div>
  <div class="detail">
    <div class="wrap">
      <div class="left">
        <div class="preview j-preview">
          <div class="img">
            <img src="../assets/images/p0.jpg" alt="">
          </div>
          <ul class="list">
            <li class="active"><img src="../assets/images/p0.jpg" alt=""></li>
            <li><img src="../assets/images/detail2.jpg" alt=""></li>
            <li><img src="../assets/images/p0.jpg" alt=""></li>
            <li><img src="../assets/images/p0.jpg" alt=""></li>
          </ul>
        </div>
      </div>
      <div class="right">
        <div class="title">景德镇陶瓷器 乌金釉花瓶 粉彩荷花天球 现代时尚客 厅工艺品摆件 赠送底座 天球瓶</div>
        <div class="price-box">
          ￥3185.00
          <span class="old">原价：￥5362.00</span>
          <p class="tip">已有<span>8</span> 人抢购</p>
        </div>
        <div class="buy">
          <span class="btn">正在抢购中</span>
          <div class="time">
            本场剩余时间
            <span class="timer">
              <span class="day">01</span> 天
              <span class="hour">02</span>:
              <span class="min">32</span>:
              <span class="sec">15</span>
            </span>
          </div>
        </div>
        <div class="info">
          <div class="item">发货运费：  包邮 </div>
          <div class="item">是否包退：  七天包退</div>
          <div class="item">浏览次数：  <span> 23</span></div>
          <div class="item">点赞数：<span> 88</span></div>
          <div class="item">上传时间：  2018-03-13  22:02:01</div>
        </div>
        <div class="button">
          <button>微信扫码抢购</button>
        </div>
        <div class="info-box">
          <span class="item"><span>起</span>￥865.00</span>
          <span class="item"><span>加</span>￥290.00</span>
          <span class="item"><span>诚</span>￥175.00</span>
        </div>
      </div>
    </div>
  </div>
  <div class="prod-info wrap clearfix">
    <div class="left">
      <div class="box">
        <div class="title">
          <span>抢购情况</span>
        </div>
        <ul class="buy-his">
          <li>
            <img src="../assets/images/avatar.png" alt="">
            <p class="t1">属于我们的回忆</p>
            <p class="t2">￥3185.00</p>
            <p class="t3">2018-03-15  12:00</p>
          </li>
          <li>
            <img src="../assets/images/avatar.png" alt="">
            <p class="t1">属于我们的回忆</p>
            <p class="t2">￥3185.00</p>
            <p class="t3">2018-03-15  12:00</p>
          </li>
          <li>
            <img src="../assets/images/avatar.png" alt="">
            <p class="t1">属于我们的回忆</p>
            <p class="t2">￥3185.00</p>
            <p class="t3">2018-03-15  12:00</p>
          </li>
          <li>
            <img src="../assets/images/avatar.png" alt="">
            <p class="t1">属于我们的回忆</p>
            <p class="t2">￥3185.00</p>
            <p class="t3">2018-03-15  12:00</p>
          </li>
          <li>
            <img src="../assets/images/avatar.png" alt="">
            <p class="t1">属于我们的回忆</p>
            <p class="t2">￥3185.00</p>
            <p class="t3">2018-03-15  12:00</p>
          </li>
          <li>
            <img src="../assets/images/avatar.png" alt="">
            <p class="t1">属于我们的回忆</p>
            <p class="t2">￥3185.00</p>
            <p class="t3">2018-03-15  12:00</p>
          </li>
        </ul>
        <div class="more">
          <a href="">点击加载更多</a>
        </div>
      </div>
      <div class="box">
        <div class="title"><span>拍品描述</span></div>
        <div class="discribe">
          <p>拍品信息 高:58cm 径:20cm 完残状况：有冲※ 此拍品本公司恕不负责办理出境手续！※ 本拍品在异地库房，如果需要看货、提货、发货请提前预约。 物品描述 此拍品在竞买前请与本公司咨询托运事宜。注：青花山水大瓶，体形硕大，山水纹饰，自然清新，高山、流水、人物、树木等。青花浓淡有致均为乾隆青花瓷器的典型代表。</p>
          <img src="../assets/images/detail1.jpg" alt="">
          <img src="../assets/images/detail2.jpg" alt="">
          <img src="../assets/images/detail3.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="right">
      <div class="box">
        <div class="title"><span>商户信息</span></div>
        <ul class="recommand">
          <li>
            <a href="" class="avatar">
              <img src="../assets/images/sh.png" alt="">
            </a>
            <div class="info">
              <p class="t1"><a href="">店铺名称</a>	</p>
              <p class="t2">
                <img src="../assets/images/icon/ico-danbao.png" alt="">
                担保交易
                &nbsp;&nbsp;<img src="../assets/images/icon/ico-renzhen.png" alt="">
                认证
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="box">
        <div class="title"><span>猜你喜欢</span></div>
        <ul class="list">
          <li>
            <a href="" class="img">
              <img src="../assets/images/p1.jpg.png" alt="">
            </a>
            <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
            <p class="timer">
              <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
            </p>
            <p class="price">
              ￥2837
              <span>围观次数：223</span>
            </p>
          </li>
          <li>
            <a href="" class="img">
              <img src="../assets/images/p1.jpg.png" alt="">
            </a>
            <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
            <p class="timer">
              <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
            </p>
            <p class="price">
              ￥2837
              <span>围观次数：223</span>
            </p>
          </li>
          <li>
            <a href="" class="img">
              <img src="../assets/images/p1.jpg.png" alt="">
            </a>
            <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
            <p class="timer">
              <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
            </p>
            <p class="price">
              ￥2837
              <span>围观次数：223</span>
            </p>
          </li>
          <li>
            <a href="" class="img">
              <img src="../assets/images/p1.jpg.png" alt="">
            </a>
            <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
            <p class="timer">
              <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
            </p>
            <p class="price">
              ￥2837
              <span>围观次数：223</span>
            </p>
          </li>
          <li>
            <a href="" class="img">
              <img src="../assets/images/p1.jpg.png" alt="">
            </a>
            <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
            <p class="timer">
              <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
            </p>
            <p class="price">
              ￥2837
              <span>围观次数：223</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
	#include("./widget/footer.html")
</body>
</html>