<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>司机牌照规则</title>
</head>
<body class="driverPhoto">
  <div class="top">
    <span class="active">同城配送</span>
    <span >道路救援</span>
  </div>
  <div class="content active">
    <p>同城配送业务:司机到达现场后，需核查APP的订单信息与实际货物的信息（货物的种类及重量、体积）是否无误。</p>
    <p>一. 订单信息无误，现场拍照：将订单内所有单件产品6个外包装独立面拍摄完整并上传APP；</p>
    <p class="img1">
      <img src="../assets/images/dp1.jpg" alt="">
      <img src="../assets/images/dp2.jpg" alt="">
    </p>
    <p>二、订单信息有误，现场拍照：</p>
    <p>1. 将订单内所有单件产品 6个外包装独立面拍摄完整并上传APP；<br>
      2.将订单信息尺寸提交有误的单件产品有误面拍照上传APP、拍照标准为卷尺+有误面测量照片；</p>
    <p class="img">
      <img class="img2" src="../assets/images/dp3.jpg" alt="" >
    </p>
    <p>3.将订单信息重量提交有误的产品照片上传APP，拍照标准为称重现场照片。(有些货物订单上，有货物的重量、体积、种类，也可以拍订单明细信息)</p>
    <p class="img">
      <img class="img3" src="../assets/images/dp4.jpg" alt="">
    </p>
    <p class="img">
      <img class="img4" src="../assets/images/dp5.jpg" alt="">
    </p>
  </div>
  <div class="content ">
    <p>
       道路救援业务：道路救援完工后，须根据救援类型，将救援后的救援部位完成图，拍照上传APP；<br> 加防冻液：①没加防冻液之前②加了防冻液之后 <br>搭电：①正在搭电过程中②搭电完成后，启动汽车 <br>加汽油/柴油：①加油过程中②加油后，仪表盘 <br>加机油：①加机油过程中②。。。
      <br>换胎：①到达现场，车胎照片②换胎结束后，完成图
    </p>
  </div>
</body>

</html>