<!-- webpack-roami 投诉管理-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>新创自动发卡平台</title>
</head>

<body>
  #include("./widget/header.html")
  <div class="main clearfix">
    #include("./widget/sidebar.html")
    <div class="container exchange scroll">
      <div class="box init b1">
        <div class="title">投诉交流 
          <span>Complaint exchange</span>
          <span class="tip" style="color: #ff9f40;"><i class="xcFont ico-alert"></i>投诉开始24小时后自动结束，若卖家未处理投诉将进入平台审核期。</span>
        </div>
        <div class="state1 state">
          <div class="top">
            <img src="../assets/images/ok.png" alt="">
            <div class="infos">
              <p class="t1">该投诉已处理完毕</p>
              <p class="t2">处理结果：此订单支持买家，确定退款</p>
              <p class="t2">判断依据：卖家确认退款。订单款项将在3-5工作日原路返回</p>
            </div>
          </div>
          <div class="tables">
            <table>
              <tr>
                <td>投诉订单</td>
                <td>
                  <p class="info">1D0C845DF33B39C</p>
                </td>
              </tr>
              <tr>
                <td>卖家QQ</td>
                <td>
                  <p class="info">1D0C845DF33B39C</p>
                </td>
              </tr>
              <tr>
                <td>投诉时间</td>
                <td>
                  <p class="info">2018-04-04 19:52:28</p>
                </td>
              </tr>
              <tr>
                <td style="height: 163px;">
                  <p>投诉订单</p>
                </td>
                <td>
                  <div class="talk">
                    <div class="item">
                      <div class="sub1">
                        <div class="t1">2018-04-04 19:37:26 <span>买家</span></div>
                        <div class="t2">为什么不能用这个卡</div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="sub2">
                        <div class="t1"><span>系统消息</span>2018-04-04 19:37:26
                        </div>
                        <div class="t2">我们已经收到你的建议，处理问题时限为24小时内</div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="state2 state">
          <div class="top">
            <img src="../assets/images/clock.png" alt="">
            <div class="infos">
              <p class="t1">投诉处理剩余时间：</p>
              <p class="t2">23小时59分36秒</p>
            </div>
          </div>
          <div class="tables">
            <table>
              <tr>
                <td>投诉订单</td>
                <td>
                  <p class="info">1D0C845DF33B39C</p>
                </td>
              </tr>
              <tr>
                <td>卖家QQ</td>
                <td>
                  <p class="info">1D0C845DF33B39C</p>
                </td>
              </tr>
              <tr>
                <td>投诉时间</td>
                <td>
                  <p class="info">2018-04-04 19:52:28</p>
                </td>
              </tr>
              <tr>
                <td style="height: 163px;">
                  <p>投诉订单</p>
                </td>
                <td>
                  <div class="talk">
                    <div class="item">
                      <div class="sub1">
                        <div class="t1">2018-04-04 19:37:26
                          <span>买家</span>
                        </div>
                        <div class="t2">为什么不能用这个卡</div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="sub2">
                        <div class="t1">
                          <span>系统消息</span>2018-04-04 19:37:26
                        </div>
                        <div class="t2">我们已经收到你的建议，处理问题时限为24小时内</div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="height: 163px;">
                  <p>追加内容</p>
                </td>
                <td>
                  <div class="add">
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                    <div class="btn">
                      <label for="file">上传图片</label>
                      <input type="file" id="file">
                      <button class="btn1">确认退款</button>
                      <button class="btn2">发布内容</button>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>