<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>title</title>
</head>
<body>
	<!-- #include("./widget/header.html") -->
<div class="head1 container">
	<div class="left">
		<a href="">登录/注册</a>
	</div>
	<div class="right">
		<div class="search">
			<span></span>
			<input type="text" placeholder="在商城中搜索">
		</div>
		<a href="">
			<!-- <img src="" alt=""> -->
		</a>
	</div>
</div>
<!--  -->
<div class="head2 container">
	<div class="left logo">
		<a href="">
			<img src="../assets/images/logo_hotel.jpg" alt="">
		</a>
	</div>
	<ul class="right nav">
		<li class="active"><a href="">首页</a></li>
		<li><a href="">产品中心</a></li>
		<li><a href="">关于我们</a></li>
		<li><a href="">联系我们</a></li>
		<li><a href="">全球通交易平台</a></li>
		<li><a href="">管理中心</a></li>
		<li><a href="">购物车</a></li>
	</ul>
</div>
<div class="content">
	<div class="container ctx1">
		<div class="wrapper">
			<div class="box1">
				<a href="" class="t1"><img src="../assets/images/ic-1.jpg" alt=""><span>水产</span></a>
				<a href="" class="t2"><img src="../assets/images/ic-2.jpg" alt=""><span>肉类</span></a>
				<a href="" class="t3"><img src="../assets/images/ic-3.jpg" alt=""><span>果蔬</span></a>
				<a href="" class="t4"><img src="../assets/images/ic-4.jpg" alt=""><span>农副</span></a>
			</div>
			<div class="box2"></div>
			<div class="box3"></div>
		</div>
	</div>
	<div class="container ctx2"></div>
</div>
</body>
</html>