<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>home</title>
</head>
<body class="home-page">
  <div class="header">
    <i></i>
    <img src="../assets/images/logo.png" alt="">
    <div class="search">
      <img src="../assets//images/search1.png" alt="">
      <input type="text" >
    </div>
  </div>
  <div class="content">
    <div class="banner">进出口贸易 服务平台</div>
    <ul>
      <li>
        <a href="">
          <img src="../assets/images/in6.png" alt="">
          <p>进出口贸易服务</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="../assets/images/in3.png" alt="">
          <p>城市采集批发</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="../assets/images/in2.png" alt="">
          <p>B2F会员服务</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="../assets/images/in1.png" alt="">
          <p>电商通B2B批发</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="../assets/images/in7.png" alt="">
          <p>供应链金融服务</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="../assets/images/in5.png" alt="">
          <p>招商合作</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="../assets/images/in4.png" alt="">
          <p>精准扶贫服务</p>
        </a>
      </li>
      <li>
        <a >
        </a>
      </li>
      <li>
        <a >
        </a>
      </li>
    </ul>
  </div>
</body>
</html>