<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body class="home-page">
  <div class="header">
    <div class="search">
      <div class="container">
        <div class="box">
          <input type="text">
          <img src="../assets/images/search-white.png" alt="">
        </div>
      </div>
    </div>
    <div class="container clearfix">
      <div class="logo">
        <a href=""><img src="../assets/images/logo_hotel.jpg" alt=""></a>
      </div>
      <ul class="nav">
        <li><a href="">万贸城首页</a></li>
        <li class="sub"><a href="">巴龙集团</a>
          <ul>
            <li><a href="">巴龙集团</a></li>
            <li><a href="">巴龙集团</a></li>
            <li><a href="">巴龙集团</a></li>
          </ul>
        </li>
        <li><a href="">三大中心</a></li>
        <li><a href="">成功案例</a></li>
        <li><a href="">行业解决方案</a></li>
        <li><a href="">全球通交易平台</a></li>
      </ul>
    </div>
  </div>
  <div class="content container">
    <div class="box">
      <img src="../assets/images/home1.png" alt="">
      <div class="info">
        <p class="t1">进出口贸易 服务平台</p>
        <p class="t2">大宗贸易商、批发市场、食品加工厂、电商自营平台</p>
        <p class="t3">全球新型跨境电子商务服务平台。旨在为全球进出口企业
        搭建一个全面高效的外贸服务平台，为国内外企业提供高
        质量高水准的贸易相关增值服务、供求信息服务和业务推
        广服务等相关服务，促进企业成交，为高品质的国外企业
        产品服务，满足中国市场消费者的需求，推动世界经济发
        展.</p>
        <a href="">点击进入>></a>
      </div>
    </div>
    <div class="box">
      <div class="info left">
        <p class="t1">城市采集 批发平台</p>
        <p class="t2">大宗贸易商、批发市场、食品加工厂、电商自营平台</p>
        <p class="t3">全球新型跨境电子商务服务平台。旨在为全球进出口企业
        搭建一个全面高效的外贸服务平台，为国内外企业提供高
        质量高水准的贸易相关增值服务、供求信息服务和业务推
        广服务等相关服务，促进企业成交，为高品质的国外企业
        产品服务，满足中国市场消费者的需求，推动世界经济发
        展.</p>
        <a href="">点击进入>></a>
      </div>
      <img src="../assets/images/home2.png" alt="">
    </div>
    <div class="box">
      <img src="../assets/images/home3.png" alt="">
      <div class="info">
        <p class="t1">电商通 B2B批发平台</p>
        <p class="t2">大宗贸易商、批发市场、食品加工厂、电商自营平台</p>
        <p class="t3">全球新型跨境电子商务服务平台。旨在为全球进出口企业
          搭建一个全面高效的外贸服务平台，为国内外企业提供高
          质量高水准的贸易相关增值服务、供求信息服务和业务推
          广服务等相关服务，促进企业成交，为高品质的国外企业
          产品服务，满足中国市场消费者的需求，推动世界经济发
          展.</p>
        <a href="">点击进入>></a>
      </div>
    </div>
    <div class="box">
      <div class="info left">
        <p class="t1">进出口贸易 服务平台</p>
        <p class="t2">大宗贸易商、批发市场、食品加工厂、电商自营平台</p>
        <p class="t3">全球新型跨境电子商务服务平台。旨在为全球进出口企业
          搭建一个全面高效的外贸服务平台，为国内外企业提供高
          质量高水准的贸易相关增值服务、供求信息服务和业务推
          广服务等相关服务，促进企业成交，为高品质的国外企业
          产品服务，满足中国市场消费者的需求，推动世界经济发
          展.</p>
        <a href="">点击进入>></a>
      </div>
      <img src="../assets/images/home4.png" alt="">
    </div>
    <div class="box">
      <img src="../assets/images/home5.png" alt="">
      <div class="info">
        <p class="t1">进出口贸易 服务平台</p>
        <p class="t2">大宗贸易商、批发市场、食品加工厂、电商自营平台</p>
        <p class="t3">全球新型跨境电子商务服务平台。旨在为全球进出口企业
          搭建一个全面高效的外贸服务平台，为国内外企业提供高
          质量高水准的贸易相关增值服务、供求信息服务和业务推
          广服务等相关服务，促进企业成交，为高品质的国外企业
          产品服务，满足中国市场消费者的需求，推动世界经济发
          展.</p>
        <a href="">点击进入>></a>
      </div>
    </div>
    <div class="box">
      <div class="info left">
        <p class="t1">招商 合作平台</p>
        <p class="t2">大宗贸易商、批发市场、食品加工厂、电商自营平台</p>
        <p class="t3">全球新型跨境电子商务服务平台。旨在为全球进出口企业
          搭建一个全面高效的外贸服务平台，为国内外企业提供高
          质量高水准的贸易相关增值服务、供求信息服务和业务推
          广服务等相关服务，促进企业成交，为高品质的国外企业
          产品服务，满足中国市场消费者的需求，推动世界经济发
          展.</p>
        <a href="">点击进入>></a>
      </div>
      <img src="../assets/images/home6.png" alt="">
    </div>
    <div class="box">
      <img src="../assets/images/home7.png" alt="">
      <div class="info">
        <p class="t1">供应链 金融服务平台</p>
        <p class="t2">大宗贸易商、批发市场、食品加工厂、电商自营平台</p>
        <p class="t3">全球新型跨境电子商务服务平台。旨在为全球进出口企业
          搭建一个全面高效的外贸服务平台，为国内外企业提供高
          质量高水准的贸易相关增值服务、供求信息服务和业务推
          广服务等相关服务，促进企业成交，为高品质的国外企业
          产品服务，满足中国市场消费者的需求，推动世界经济发
          展.</p>
        <a href="">点击进入>></a>
      </div>
    </div>
  </div>
  <div class="footer">Copyright 鲁ICP备15041398号-9 © 万贸城冷链食品全球通服务平台</div>
</body>
</html>