<!-- webpack-roami -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>菱之花 环保净化领域领航者</title>
</head>
<body>
	<!-- 头部 -->
	<div class="header">
		<div class="wrap clearfix">
			<div class="logo">
				<a href="/"><img src="../assets/images/logo.png" alt=""></a>
				<div class="info">
					<p>菱之花</p>
					<p class="t1">环保净化领域领航者</p>
				</div>
			</div>
			<ul class="nav">
				<li class="active"><a href="">首页<br><span>home</span></a></li>
				<li><a href="">关于我们<br><span>about</span></a></li>
				<li>
					<a href="">产品中心<br><span>Product</span></a>
					<ul class="cascade">
						<li><a href="">二级菜单</a></li>
						<li><a href="">二级菜单</a></li>
						<li><a href="">二级菜单</a></li>
					</ul>
				</li>
				<li>
					<a href="">服务项目<br><span>SERVICE</span></a>
					<ul class="cascade">
						<li>
							<a href="">二级菜单</a>
						</li>
						<li>
							<a href="">二级菜单</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="">成功案例<br><span>case</span></a>
					<ul class="cascade">
						<li>
							<a href="">二级菜单</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="">行业动态<br><span>dynamic</span></a>
				</li>
				<li>
					<a href="">合作代理<br><span>agent</span></a>
				</li>
			</ul>
			<div class="connect">
				<span>400-123-2588</span>
				<img src="../assets/images/jd.png" alt="">
			</div>
		</div>
	</div>
	<!-- main-banner -->
	<div class="main-banner swiper-container j-mainSwiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<a href=""><img src="../assets/images/banner.jpg" alt=""></a>
			</div>
			<div class="swiper-slide">
				<a href=""><img src="../assets/images/banner.jpg" alt=""></a>
			</div>
			<div class="swiper-slide">
				<a href=""><img src="../assets/images/banner.jpg" alt=""></a>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
	<!-- 四大优势 -->
	<div class="box b1">
		<div class="wrap">
			<div class="title">四大优势<span>four Advantages</span></div>
			<div class="inner clearfix">
				<ul class="list">
					<li>
						<div class="img">
							<div class="cover">
								<p>所用产品均来自菱之光品牌，不贴牌不灌装，技术源自日本，拥有国内领先的光触媒前天后去除甲醛和杀菌技术。</p>
								<p>分类除甲醛开创者，历时七年开发出八大类别光触媒除醛产品，针对不同污染源针对性治理，开启除醛4.0时代。</p>
							</div>
							<img src="../assets/images/ad1.jpg" alt="">
						</div>
						<span class="t1">01</span>
						<div class="t2">技术最为先进</div>
					</li>
					<li>
						<span class="t1">02</span>
						<div class="t2">全面 持久 安全</div>
						<div class="img img2">
							<div class="cover">
								<p>所用产品均来自菱之光品牌，不贴牌不灌装，技术源自日本，拥有国内领先的光触媒前天后去除甲醛和杀菌技术。</p>
								<p>分类除甲醛开创者，历时七年开发出八大类别光触媒除醛产品，针对不同污染源针对性治理，开启除醛4.0时代。</p>
							</div>
							<img src="../assets/images/ad2.jpg" alt="">
						</div>
					</li>
					<li>
						<div class="img">
							<div class="cover">
								<p>所用产品均来自菱之光品牌，不贴牌不灌装，技术源自日本，拥有国内领先的光触媒前天后去除甲醛和杀菌技术。</p>
								<p>分类除甲醛开创者，历时七年开发出八大类别光触媒除醛产品，针对不同污染源针对性治理，开启除醛4.0时代。</p>
							</div>
							<img src="../assets/images/ad3.jpg" alt="">
						</div>
						<span class="t1">03</span>
						<div class="t2">效果极佳</div>
					</li>
					<li>
						<span class="t1">04</span>
						<div class="t2">丰富施工经验</div>
						<div class="img img2">
							<div class="cover">
								<p>所用产品均来自菱之光品牌，不贴牌不灌装，技术源自日本，拥有国内领先的光触媒前天后去除甲醛和杀菌技术。</p>
								<p>分类除甲醛开创者，历时七年开发出八大类别光触媒除醛产品，针对不同污染源针对性治理，开启除醛4.0时代。</p>
							</div>
							<img src="../assets/images/ad4.jpg" alt="">
						</div>
					</li>
				</ul>
				<div class="form j-formTab">
					<ul class="tab clearfix">
						<li class="active">我要治理</li>
						<li>我要监测</li>
					</ul>
					<div class="info">
						<form action="" method="post" class="active">
							<div class="item">
								<span>联系人</span>
								<input type="text" name="name" placeholder="请输入联系人">
							</div>
							<div class="item">
								<span>电&nbsp;话</span>
								<input type="text" name="phone" placeholder="请输入电话">
							</div>
							<div class="item">
								<span>地区</span>
								<select name="area_province" >
									<option value="">请选择</option>
								</select>
								<select name="area_city" >
									<option value="">请选择</option>
								</select>
							</div>
							<div class="item">
								<span>建筑面积</span>
								<input type="text" name="build_area" placeholder="请输入建筑面积">
							</div>
							<div class="item">
								<span>卧室数量</span>
								<select name="room_num">
									<option value="">请选择</option>
								</select>
							</div>
							<div class="item">
								<span>装修情况</span>
								<div class="right">
									<div class="checkbox">
										<input type="checkbox" name="decor1" id="dec1">
										<label for="dec1">木地板</label>
									</div>
									<div class="checkbox">
										<input type="checkbox" name="decor2" id="dec2">
										<label for="dec2">墙纸</label>
									</div>
									<div class="checkbox">
										<input type="checkbox" name="decor3" id="dec3">
										<label for="dec3">组合柜</label>
									</div>
									<div class="checkbox">
										<input type="checkbox" name="decor4" id="dec4">
										<label for="dec4">皮质家具</label>
									</div>
									<div class="checkbox">
										<input type="checkbox" name="decor5" id="dec5">
										<label for="dec5">吊顶天花</label>
									</div>
									<div class="checkbox">
										<input type="checkbox" name="decor6" id="dec6">
										<label for="dec6">布艺沙发</label>
									</div>
								</div>
							</div>
							<div class="item">
								<button type="submit">提交</button>
							</div>
						</form>
						<form action="" method="post">
							<div class="item">
								<span>联系人</span>
								<input type="text" name="name" placeholder="请输入联系人">
							</div>
							<div class="item">
								<span>电&nbsp;话</span>
								<input type="text" name="phone" placeholder="请输入电话">
							</div>
							<div class="item">
								<span>地区</span>
								<select name="area_province" >
									<option value="">请选择</option>
								</select>
								<select name="area_city" >
									<option value="">请选择</option>
								</select>
							</div>
							<div class="item">
								<span>建筑面积</span>
								<input type="text" name="build_area" placeholder="请输入建筑面积">
							</div>
							<div class="item">
								<span>卧室数量</span>
								<select name="room_num">
									<option value="">请选择</option>
								</select>
							</div>
							<div class="item">
								<button type="submit">提交</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 成功案例 -->
	<div class="box b2">
		<div class="wrap">
			<div class="title">
				成功案例<span>success case</span>
				<a href="">more</a>
			</div>
			<div class="inner clearfix j-taber">
				<ul class="tab">
					<li class="t">案例分类</li>
					<li class="t1 active">家居办公</li>
					<li class="t1">酒店娱乐</li>
					<li class="t1">机关事业</li>
					<li class="t1">学校教育</li>
				</ul>
				<div class="list">
					<ul class="active">
						<li>
							<div class="img">
								<img src="../assets/images/cate0.jpg" alt="">
								<a href=""></a>
							</div>
							<p><a href="">今日头条</a> </p>
						</li>
						<li>
							<div class="img">
								<img src="../assets/images/cate1.jpg" alt="">
								<a href=""></a>
							</div>
							<p><a href="">德高中国</a> </p>
						</li>
						<li>
							<div class="img">
								<img src="../assets/images/cate2.jpg" alt="">
								<a href=""></a>
							</div>
							<p><a href="">百融金服</a> </p>
						</li>
						<li>
							<div class="img">
								<img src="../assets/images/cate3.jpg" alt="">
								<a href=""></a>
							</div>
							<p><a href="">澳洲电信</a> </p>
						</li>
					</ul>
					<ul>
						<li>
							<div class="img">
								<img src="../assets/images/cate0.jpg" alt="">
								<a href=""></a>
							</div>
							<p>
								<a href="">今日头条2</a>
							</p>
						</li>
						<li>
							<div class="img">
								<img src="../assets/images/cate1.jpg" alt="">
								<a href=""></a>
							</div>
							<p>
								<a href="">德高中国2</a>
							</p>
						</li>
						<li>
							<div class="img">
								<img src="../assets/images/cate2.jpg" alt="">
								<a href=""></a>
							</div>
							<p>
								<a href="">百融金服2</a>
							</p>
						</li>
						<li>
							<div class="img">
								<img src="../assets/images/cate3.jpg" alt="">
								<a href=""></a>
							</div>
							<p>
								<a href="">澳洲电信2</a>
							</p>
						</li>
					</ul>
					<ul>
						<li>
							<div class="img">
								<img src="../assets/images/cate0.jpg" alt="">
								<a href=""></a>
							</div>
							<p>
								<a href="">今日头条3</a>
							</p>
						</li>
						<li>
							<div class="img">
								<img src="../assets/images/cate1.jpg" alt="">
								<a href=""></a>
							</div>
							<p>
								<a href="">德高中国3</a>
							</p>
						</li>
						<li>
							<div class="img">
								<img src="../assets/images/cate2.jpg" alt="">
								<a href=""></a>
							</div>
							<p>
								<a href="">百融金服3</a>
							</p>
						</li>
						<li>
							<div class="img">
								<img src="../assets/images/cate3.jpg" alt="">
								<a href=""></a>
							</div>
							<p>
								<a href="">澳洲电信3</a>
							</p>
						</li>
					</ul>
					<ul>
						<li>
							<div class="img">
								<img src="../assets/images/cate0.jpg" alt="">
								<a href=""></a>
							</div>
							<p>
								<a href="">今日头条4</a>
							</p>
						</li>
						<li>
							<div class="img">
								<img src="../assets/images/cate1.jpg" alt="">
								<a href=""></a>
							</div>
							<p>
								<a href="">德高中国4</a>
							</p>
						</li>
						<li>
							<div class="img">
								<img src="../assets/images/cate2.jpg" alt="">
								<a href=""></a>
							</div>
							<p>
								<a href="">百融金服4</a>
							</p>
						</li>
						<li>
							<div class="img">
								<img src="../assets/images/cate3.jpg" alt="">
								<a href=""></a>
							</div>
							<p>
								<a href="">澳洲电信4</a>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- 服务项目 -->
	<div class="box b3">
		<div class="wrap">
			<div class="title">
				服务项目<span>service items</span>
				<a href="">more</a>
			</div>
			<ul>
				<li>
					<img src="../assets/images/service1.jpg" alt="">
					<div class="text">
						<div class="a">室内空气检测 </div>
						<div class="b">检测流程专业正规
							<br>实验室化验与分析
							<br>检测数据真实准确</div>
						<a href="">more</a>
					</div>
				</li>
				<li>
					<img src="../assets/images/service2.jpg" alt="">
					<div class="text t1">
						<div class="a">室内空气检测 </div>
						<div class="b">检测流程专业正规
							<br>实验室化验与分析
							<br>检测数据真实准确</div>
						<a href="">more</a>
					</div>
				</li>
				<li>
					<img src="../assets/images/service3.jpg" alt="">
					<div class="text">
						<div class="a">室内空气检测 </div>
						<div class="b">检测流程专业正规
							<br>实验室化验与分析
							<br>检测数据真实准确</div>
						<a href="">more</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- 解决方案 -->
	<div class="box b4">
		<div class="wrap">
			<div class="title">
				解决方案<span>solution</span>
			</div>
			<div class="inner clearfix">
				<ul>
					<li>
						<div class="card">
							<img src="../assets/images/solution1.jpg" alt="">
							<div class="over">
								<div class="info1">
									<img src="../assets/images/icon/ico-sun.png" alt="">
									<p>光触媒施工工程
										<br>解决方案</p>
								</div>
								<div class="info2">
									<p>目前，全国90%以上的办公大楼，都存在氡的污染，原因在于大楼基本上都是混泥土、矿渣水泥。而这些原料，多含放射性污染--氡子体</p>
									<a href="">查看详情</a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="card">
							<img src="../assets/images/solution2.jpg" alt="">
							<div class="over">
								<div class="info1">
									<img src="../assets/images/icon/ico-house.png" alt="">
									<p>光触媒施工工程
										<br>解决方案</p>
								</div>
								<div class="info2">
									<p>目前，全国90%以上的办公大楼，都存在氡的污染，原因在于大楼基本上都是混泥土、矿渣水泥。而这些原料，多含放射性污染--氡子体</p>
									<a href="">查看详情</a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="card">
							<img src="../assets/images/solution3.jpg" alt="">
							<div class="over">
								<div class="info1">
									<img src="../assets/images/icon/ico-building.png" alt="">
									<p>光触媒施工工程<br>解决方案</p>
								</div>
								<div class="info2">
									<p>目前，全国90%以上的办公大楼，都存在氡的污染，原因在于大楼基本上都是混泥土、矿渣水泥。而这些原料，多含放射性污染--氡子体</p>
									<a href="">查看详情</a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="card">
							<img src="../assets/images/solution4.jpg" alt="">
							<div class="over">
								<div class="info1">
									<img src="../assets/images/icon/ico-mall.png" alt="">
									<p>光触媒施工工程
										<br>解决方案</p>
								</div>
								<div class="info2">
									<p>目前，全国90%以上的办公大楼，都存在氡的污染，原因在于大楼基本上都是混泥土、矿渣水泥。而这些原料，多含放射性污染--氡子体</p>
									<a href="">查看详情</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 产品中心 -->
	<div class="box b5">
		<div class="wrap">
			<div class="title">
				 产品中心<span>Product Center</span>
			</div>
			<div class="inner clearfix">
				<div class="product-swiper swiper-container j-productSwiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<a href=""><img src="../assets/images/product1.jpg" alt=""></a>
						</div>
						<div class="swiper-slide">
							<a href=""><img src="../assets/images/product2.jpg" alt=""></a>
						</div>
						<div class="swiper-slide">
							<a href=""><img src="../assets/images/product3.jpg" alt=""></a>
						</div>
						<div class="swiper-slide">
							<a href=""><img src="../assets/images/product4.jpg" alt=""></a>
						</div>
						<div class="swiper-slide">
							<a href=""><img src="../assets/images/product1.jpg" alt=""></a>
						</div>
						<div class="swiper-slide">
							<a href=""><img src="../assets/images/product3.jpg" alt=""></a>
						</div>
					</div>
				</div>
				<div class="button prev"></div>
				<div class="button next"></div>
			</div>
			<ul class="more-info clearfix">
				<li>
					<div class="card">
						<div class="title">问题解答<a href="" class="t1">more</a></div>
						<ul class="question">
							<li>
								<p class="t1">Q：汽车内部有害物质多吗？</p>
								<p class="t2">A：据测定，汽车甲醛超标，而其他有毒成分也不少，汽车在太阳下暴晒后，有害气体更多。</p>
							</li>
							<li>
								<p class="t1">Q：甲醛对孕妇有什么样的危害呢?</p>
								<p class="t2">A： 甲醛对孕妇造血系统造成危害，可导致贫血、感染、皮下出血等状况。长期低浓度暴露会伤害听力，导致头痛、头昏、疲劳乏力、面色苍白、视力减退及平衡功能失调问题。</p>
							</li>
							<li>
								<p class="t1">Q：请大家不要丢西瓜捡芝麻</p>
								<p class="t2">A： 甲醛无色无味，不知不觉中招。身体再好，甲醛面前，一招撂倒。甲醛毒性大，无需等待，很快见效。</p>
							</li>
							<li>
								<p class="t1">Q：医药费可比室内除甲醛费贵百倍！</p>
								<p class="t2">A： 甲醛对孕妇造血系统造成危害，可导致贫血、感染、皮下出血等状况。长期低浓度暴露会伤害听力，导致头痛、头昏、疲劳乏力、面色苍白、视力减退及平衡功能失调问题。</p>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<div class="card">
						<div class="title">科普知识<a href="" class="t1">more</a></div>
						<div class="info">
							<img src="../assets/images/more1.jpg" alt="">
							<ul>
								<li><a href="">汽车内也有甲醛存在吗？对身体伤害大吗？</a></li>
								<li><a href="">7个室内常见污染问题</a></li>
								<li><a href="">8种清除室内甲醛问题方法</a></li>
								<li><a href="">新房如何去甲醛？</a></li>
								<li><a href="">甲醛的危害</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="card">
						<div class="title">行业动态<a href="" class="t1">more</a>	</div>
						<div class="info">
							<img src="../assets/images/more2.jpg" alt="">
							<ul>
								<li><a href="">菱之花2017年春节放假通知</a></li>
								<li><a href="">今日头条施工</a></li>
								<li><a href="">上新产品</a></li>
								<li><a href="">热烈庆祝菱之花江苏苏州成立</a></li>
								<li><a href="">公司团队精神</a></li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- 侧边栏 -->
	<ul class="sidebar">
		<li><img src="../assets/images/icon/ico-call.png" alt=""> 400-123-2588</li>
		<li><img src="../assets/images/icon/ico-message.png" alt=""> <a href="javascript:;">在线留言</a></li>
		<li><img src="../assets/images/icon/ico-qq.png" alt=""> <a href="javascript:;">检测治理咨询</a></li>
		<li><img src="../assets/images/icon/ico-qq.png" alt=""> <a href="javascript:;">加盟代理咨询</a></li>
		<li><img src="../assets/images/icon/ico-top.png" alt=""> <a href="javascript:;" class="j-toTop">返回顶部</a></li>
	</ul> 
	#include("./widget/footer.html")
</body>
</html>
