<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>产品溯源</title>
</head>
<body>
	<div class="index">
		<div class="banner">
			<img src="../assets/images/p1.jpg" alt="">
		</div>
		<div class="content">
			<p class="title">一物一码&nbsp;&nbsp;全程追溯</p>
			<div class="box">
				<div class="state"><img src="../assets/images/icon/ico-6.png" alt=""> 基本信息</div>
				<ul class="base">
					<li>
						<p>产品名称</p>
						<p>沃柑</p>
					</li>
					<li>
						<p>品种</p>
						<p>柑桔</p>
					</li>
					<li>
						<p>企业名称</p>
						<p>广西武宣大岭思贵农业 有限责任公司</p>
					</li>
					<li>
						<p>全面保障</p>
						<p>
							<span class="c1">三方<br>检测</span>
							<span class="c2">政府<br>认证</span>
							<span class="c3">全程<br>追溯</span>
						</p>
					</li>
				</ul>
			</div>
			<div class="box">
				<div class="state"><img src="../assets/images/icon/ico-1.png" alt=""> 种植采收阶段:3019(浦欢乐)</div>
				<ul class="timer">
					<li>
						<div class="left">
							<p>12月22日 </p>
							<p>共9天</p>
						</div>
						<div class="right">
							<div class="info">
								<p class="t1">吴秋元  用药清园(清园杀虫)</p>
								<p class="t2">
									甲基硫菌灵(100 瓶, 800-1000 倍液/亩)<br>
									丁硫克百威(80 瓶, 30-60毫升/ 亩)<br>
									克螨特(90 瓶装, 50千克/亩)<br>
									矿物油(54 桶, 80L/亩)<br>
									啶虫脒(90 瓶, 1000倍)<br>
								</p>
							</div>
							<span class="line"></span>
						</div>
					</li>
					<li>
						<div class="left">
							<p>1月15日 </p>
							<p>共6天</p>
						</div>
						<div class="right">
							<div class="info">
								<p class="t1">吴秋元  施农家肥(施肥)</p>
								<p class="t2">
										农家肥(10 吨, 40斤/棵)<br>
										春芽肥(10 吨, 2斤/棵)<br>
										谢花肥(10 吨, 2斤/棵)<br>
								</p>
							</div>
							<span class="line"></span>
						</div>
					</li>
					<li>
						<div class="left">
							<p>2月13日 </p>
							<p>共7天</p>
						</div>
						<div class="right">
							<div class="info">
								<p class="t1">吴秋元  春芽肥(施肥)</p>
								<p class="t2">
									农家肥(10 吨, 40斤/棵)<br>
									春芽肥(10 吨, 2斤/棵)<br>
									谢花肥(10 吨, 2斤/棵)<br>
								</p>
							</div>
							<span class="line"></span>
						</div>
					</li>
				</ul>
				<a href="" class="more">加载更多 <img src="../assets/images/icon/ico-arrow.png" alt=""></a>
			</div>
			<div class="box">
				<div class="state"><img src="../assets/images/icon/ico-2.png" alt=""> 包装记录</div>
				<ul class="list">
					<li>
						<p><span><i>·</i>包装人</span>
							刘正波
						</p>
					</li>
					<li>
						<p><span><i>·</i>包装时间</span>2016年08月24日(共1天)</p>
					</li>
					<li>
						<p><span><i>·</i>包装规格</span>
							20个/盒
						</p>
					</li>
					<li>
						<p><span><i>·</i>包装等级</span>
							一级
						</p>
					</li>
				</ul>
			</div>
			<div class="box">
				<div class="state"><img src="../assets/images/icon/ico-1.png" alt=""> 生产过程中实图场景</div>
				<ul class="timer">
					<li>
						<div class="left">
							<p>08月24日 </p>
							<p>共8天</p>
						</div>
						<div class="right">
							<div class="pic">
								<p>用药杀虫</p>
								<img src="../assets/images/process1.jpg" alt="">
								<img src="../assets/images/process2.jpg" alt="">
							</div>
							<span class="line"></span>
						</div>
					</li>
					<li>
						<div class="left">
							<p>11月15日 </p>
							<p>共6天</p>
						</div>
						<div class="right">
							<div class="pic">
								<p>用药杀虫</p>
								<img src="../assets/images/process3.jpg" alt="">
							</div>
							<span class="line"></span>
						</div>
					</li>
					<li>
						<div class="left">
							<p>12月13日 </p>
							<p>共7天</p>
						</div>
						<div class="right">
							<div class="pic">
								<p>加固</p>
								<img src="../assets/images/process4.jpg" alt="">
							</div>
							<span class="line"></span>
						</div>
					</li>
				</ul>
				<a href="" class="more">加载更多 <img src="../assets/images/icon/ico-arrow.png" alt=""></a>
			</div>
			<div class="box">
				<div class="state">
					<img src="../assets/images/icon/ico-3.png" alt=""> 环境指数</div>
				<div class="env">
					<p>Temperature PCB</p>
					<img src="../assets/images/chart.jpg" class="envpic" alt="">
					<a href="" class="more">加载更多
						<img src="../assets/images/icon/ico-arrow.png" alt="">
					</a>
				</div>
			</div>
			<div class="box">
				<div class="state">
					<img src="../assets/images/icon/ico-4.png" alt=""> 生产过程中视频</div>
				<div class="env">
					<div class="wrap j-video">
						<span class="play">
							<img src="../assets/images/icon/ico-play.png" alt=""><br>
							<i></i>
						</span>
						<video src="/84e82fca2c83fefb4bc2432933b831b2.mp4" ></video>
					</div>
					<a href="" class="more">加载更多
						<img src="../assets/images/icon/ico-arrow.png" alt="">
					</a>
				</div>
			</div>
			<!-- 检测报告 -->
			<div class="box">
				<div class="state">
					<img src="../assets/images/icon/ico-5.png" alt=""> 检测认证</div>
				<div class="slide">
					<div class="swiper-container j-mainSwiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="img">
									<img src="../assets/images/report.jpg" alt="">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="img">
									<img src="../assets/images/report.jpg" alt="">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="img">
									<img src="../assets/images/report.jpg" alt="">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="img">
									<img src="../assets/images/report.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
			<!-- 产品详情 -->
			<div class="box">
				<div class="state">
					<img src="../assets/images/icon/ico-6.png" alt=""> 产品详情</div>
				<div class="slide">
					<p class="t1">沃柑品质上乘，果皮程金黄色，果肉大粒甜脆，果 汁饱满，口感极甜，含糖量高于同类柑桔，不仅味 甜多汁，而且细嫩化渣、果皮好剥、颗粒均匀、果 实耐贮，且具极高的营养价值，富含多种营养成分 如葡萄糖、果糖、蔗糖、果酸、维生素C、醇、柠 檬醛、维生素B1、B2和钙、磷、铁等多种无极盐
					及其他营养物质。</p>
					<div class="swiper-container j-mainSwiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="img1">
									<img src="../assets/images/p2.jpg" alt="">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="img1">
									<img src="../assets/images/p2.jpg" alt="">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="img1">
									<img src="../assets/images/p2.jpg" alt="">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="img1">
									<img src="../assets/images/p2.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
			<!-- 企业介绍 -->
			<div class="box">
				<div class="state">
					<img src="../assets/images/icon/ico-7.png" alt=""> 企业介绍</div>
				<div class="slide">
					<p class="t1">武宣县思贵水果种植科普示范基地由大岭思贵农业 有限公司带领本村农民以“土地入股”方式，建成“ 公司+支部+基地+农户”模式，于2014年开始发展 沃柑种植，目前种植面积320亩，2017年挂果， 预计产量达20万斤，产值达100万元。科普示范基
					地在其中充分发挥管理示范、技术示范、带动示范 作用，有力推动了产业发展。
					</p>
					<div class="swiper-container j-mainSwiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="img1">
									<img src="../assets/images/p3.jpg" alt="">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="img1">
									<img src="../assets/images/p3.jpg" alt="">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="img1">
									<img src="../assets/images/p3.jpg" alt="">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="img1">
									<img src="../assets/images/p3.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
					<ul>
						<li><img src="../assets/images/icon/ico-store.png" alt="">
							<span>名称：</span>广西武宣大岭思贵农业有限责任公司
						</li>
						<li><img src="../assets/images/icon/ico-phone.png" alt="">
							<span>电话：</span>18977220788
						</li>
						<li><img src="../assets/images/icon/ico-map.png" alt="">
							<span>地址：</span>武宣县武宣镇大岭村
						</li>
					</ul>
					<div class="btn1">
						<a href="" class="btn"><img src="../assets/images/icon/ico-cart.png" alt="">马上购买</a>
					</div>
				</div>
			</div>
		</div>
		<div class="foot">真假通 www.zhenjiatong.com</div>
	</div>
</body>
</html>
