<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>title</title>
</head>
<body class="detail">
	<div class="header">
		<div class="wrap">
			<a href="" class="left"><img src="../assets/images/logo.png" alt=""></a>
			<div class="right">
				<div class="search">
					<input type="text">
					<i></i>
				</div>
				<a href="" class="user">
					<img src="../assets/images/avatar.png" alt="">
					<span>游客</span>
				</a>
			</div>
		</div>
	</div>
	<div class="wrap clearfix contain">
		<div class="left">
			<div class="t1">华<img src="../assets/images/ico-arr1.png" alt=""></div>
			<ul class="nav j-nav">
				<li class="active">第1节：汉字字义<img src="../assets/images/ico-arr2.png" alt="">
					<ul>
						<li><a href="">1：华——美丽而有光彩    </a></li>
						<li><a href="">2：华[huá]——精英</a></li>
						<li><a href="">3：华 [huá]：开花</a></li>
						<li>
							<a href="">4：华华华华华华</a>
						</li>
						<li>
							<a href="">5：发撒发射点发打算</a>
						</li>
					</ul>
				</li>
				<li>第2节: 汉字词语 <img src="../assets/images/ico-arr2.png" alt="">
					<ul>
						<li><a href="">1：华——美丽而有光彩    </a></li>
						<li><a href="">2：华[huá]——精英</a></li>
						<li><a href="">3：华 [huá]：开花</a></li>
						<li>
							<a href="">4：华华华华华华</a>
						</li>
						<li>
							<a href="">5：发撒发射点发打算</a>
						</li>
					</ul>	
				</li>
				<li>第3节: 说文解字<img src="../assets/images/ico-arr2.png" alt="">
					<ul>
						<li><a href="">1：华——美丽而有光彩    </a></li>
						<li><a href="">2：华[huá]——精英</a></li>
						<li><a href="">3：华 [huá]：开花</a></li>
						<li>
							<a href="">4：华华华华华华</a>
						</li>
						<li>
							<a href="">5：发撒发射点发打算</a>
						</li>
					</ul>	
				</li>
				<li> 第4节: 汉字古义<img src="../assets/images/ico-arr2.png" alt="">
					<ul>
						<li><a href="">1：华——美丽而有光彩    </a></li>
						<li><a href="">2：华[huá]——精英</a></li>
						<li><a href="">3：华 [huá]：开花</a></li>
						<li>
							<a href="">4：华华华华华华</a>
						</li>
						<li>
							<a href="">5：发撒发射点发打算</a>
						</li>
					</ul>	
				</li>
				<li> 第5节: 音韵方言<img src="../assets/images/ico-arr2.png" alt="">
					<ul>
						<li><a href="">1：华——美丽而有光彩    </a></li>
						<li><a href="">2：华[huá]——精英</a></li>
						<li><a href="">3：华 [huá]：开花</a></li>
						<li>
							<a href="">4：华华华华华华</a>
						</li>
						<li>
							<a href="">5：发撒发射点发打算</a>
						</li>
					</ul>	
				</li>
			</ul>
		</div>
		<div class="right">
			<div class="star">
				 技能星级：
				 <span class="gray">
					 <span class="light two"></span>
				 </span>
			</div>
			<div class="title">华<span>汉字</span></div>
			<div class="nav">
				 <span>词条</span>>
				 <a href="">券</a>>
				 <a href="">篇</a>>
				 <a href="">章</a>>
				 <a href="">节</a>>
				 <a href="">技能名</a>	     
			</div>
			<div class="main">
				<p class="t1 base">华 [huá]：开花</p>
				<p class="t1 mean"><span>【文化】</span>	华：开花，如：华而不实、春华秋实等。</p>
				<p class="t2">精华——事物之最精粹、最优秀的部分； </p>
				<p class="t2">含英咀华——1、读书吸取其精华；2、品味，体会诗文中所包含的精华；</p>
				<p class="t2">华 [huá]，有开花之意，如：华而不实、春华秋实等；</p>
				<p class="t2">华而不实：花开得好看，但不结果实；</p>
				<p class="t2">春华秋实：春天开花，秋天结果；比喻事物的因果关系，后引申比喻文采与德行，亦指时间的流逝，岁月的变迁。</p>
				<div class="more-btn">参考资料 <img src="../assets/images/ico-arr3.png" alt=""></div>
				<div class="more">
					<p class="t2">精华——事物之最精粹、最优秀的部分； </p>
					<p class="t2">含英咀华——1、读书吸取其精华；2、品味，体会诗文中所包含的精华；</p>
					<p class="t2">华 [huá]，有开花之意，如：华而不实、春华秋实等；</p>
					<p class="t2">华而不实：花开得好看，但不结果实；</p>
					<p class="t2">春华秋实：春天开花，秋天结果；比喻事物的因果关系，后引申比喻文采与德行，亦指时间的流逝，岁月的变迁。</p>
				</div>
				<div class="tip">
					<img src="../assets/images/ico-edit.png" alt="">编辑者：阿里
					<div class="date">
						<img src="../assets/images/ico-date.png" alt="">发布日期：2018-03-16 21:44：23
					</div>
				</div>
			</div>
			<div class="btn">
				<button>技能题目</button>
				<div class="group">
					<button class="b t1 j-button">已挂载题目</button>
					<button class="b t2">待挂载题目</button>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">粤ICP备17136553号<a href="">关于我们</a><a href="">网站地图</a>  </div>
</body>
</html>
