<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>roami</title>
</head>
<body class="info-page">
	<div class="header">
    <div class="left">
      <a href="">
        <img src="../assets/images/icon/ico-back.png" alt="">返回
      </a>
    </div>
    <p>贷款详情</p>
    <div class="right">
      <a href="">
        <img src="../assets/images/icon/ico-more.png" alt="">
      </a>
    </div>
  </div>
	<div class="box-detail">
    <ul>
      <li>
        <div class="left title"><img src="../assets/images/icon/ico-diya.png" alt="">
          信用贷
        </div>
        <div class="right"></div>
      </li>
      <li>
        <div class="left">
          贷款总额
        </div>
        <div class="right blue">¥130万</div>
      </li>
      <li>
        <div class="left">
          总利息
        </div>
        <div class="right orange">¥10万</div>
      </li>
      <li>
        <div class="left">
          期限
        </div>
        <div class="right">24期</div>
      </li>
      <li>
        <div class="left">
          还款方式
        </div>
        <div class="right">等额本息</div>
      </li>
      <li>
        <div class="left">
          本期还款（3期）
        </div>
        <div class="right orange">¥1949.43元</div>
      </li>
      <li>
        <div class="left">
          本期还款（4期）
        </div>
        <div class="right">¥2019.43元</div>
      </li>
       <li>
        <div class="left">
          还款时间
        </div>
        <div class="right">每月10号</div>
      </li>
    </ul>
		<div class="nav">
			<a href="">是否还款<img src="../assets/images/icon/ico-arrow3.png" alt=""></a>
			<a href="">还款详情</a>
			<a href="">再次贷款</a>
		</div>
	</div>
</body>
</html>
