<!-- webpack-roami 库存卡密-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>新创自动发卡平台</title>
</head>
<body>
	#include("./widget/header.html")
	<div class="main clearfix">
		#include("./widget/sidebar.html")
		<div class="container kamilist scroll">
			<div class="box init b1">
        <div class="title">库存卡密 <span>Inventory cards close</span> 
				</div>
				<div class="table">
          <div class="bar">
             <span class="t1">商品分类：</span>
            <select name="" id="">
              <option value="">选择分类</option>
              <option value="">选择分类2</option>
              <option value="">选择分类3</option>
            </select>
            <input type="text" placeholder="商品名称">
            <button class="btn1"><i class="xcFont ico-search"></i> 立即查询</button>
            <button class="btn2"><i class="xcFont ico-export"></i> 导出卡密</button>
          </div>
					<table>
						<thead>
              <td>
                <input type="checkbox" id="t1">
                <label for="t1"></label>
              </td>
							<td style="text-align: left;">商品名称</td>
							<td style="text-align: left;">库存卡信息</td>
              <td>商品价格</td>
              <td style="text-align: left;">添加时间</td>
              <td></td>
						</thead>
						<tbody>
							<tr class="checked">
                <td>
                  <input type="checkbox" id="t2" checked>
                  <label for="t2"></label>
                </td>
								<td style="text-align: left;">
                  WPP天卡
								</td>
								<td style="text-align: left;">
                   卡号：卡密：xsIE68E1814FAC159BCD3C89ED3F8985￥5621.00
                </td>
                <td>
                  1.00
                </td>
                <td style="text-align: left;">
                   2017-12-31 00:01:13
                </td>
								<td>
									<i class="xcFont ico-del"></i>
								</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" id="t3">
                  <label for="t3"></label>
                </td>
                <td style="text-align: left;">
                  WPP天卡
                </td>
                <td style="text-align: left;">
                  卡号：卡密：xsIE68E1814FAC159BCD3C89ED3F8985￥5621.00
                </td>
                <td>
                  1.00
                </td>
                <td style="text-align: left;">
                  2017-12-31 00:01:13
                </td>
                <td>
                  <i class="xcFont ico-del"></i>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" id="t4">
                  <label for="t4"></label>
                </td>
                <td style="text-align: left;">
                  WPP天卡
                </td>
                <td style="text-align: left;">
                  卡号：卡密：xsIE68E1814FAC159BCD3C89ED3F8985￥5621.00
                </td>
                <td>
                  1.00
                </td>
                <td style="text-align: left;">
                  2017-12-31 00:01:13
                </td>
                <td>
                  <i class="xcFont ico-del"></i>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" id="t5">
                  <label for="t5"></label>
                </td>
                <td style="text-align: left;">
                  WPP天卡
                </td>
                <td style="text-align: left;">
                  卡号：卡密：xsIE68E1814FAC159BCD3C89ED3F8985￥5621.00
                </td>
                <td>
                  1.00
                </td>
                <td style="text-align: left;">
                  2017-12-31 00:01:13
                </td>
                <td>
                  <i class="xcFont ico-del"></i>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" id="t6">
                  <label for="t6"></label>
                </td>
                <td style="text-align: left;">
                  WPP天卡
                </td>
                <td style="text-align: left;">
                  卡号：卡密：xsIE68E1814FAC159BCD3C89ED3F8985￥5621.00
                </td>
                <td>
                  1.00
                </td>
                <td style="text-align: left;">
                  2017-12-31 00:01:13
                </td>
                <td>
                  <i class="xcFont ico-del"></i>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" id="t7">
                  <label for="t7"></label>
                </td>
                <td style="text-align: left;">
                  WPP天卡
                </td>
                <td style="text-align: left;">
                  卡号：卡密：xsIE68E1814FAC159BCD3C89ED3F8985￥5621.00
                </td>
                <td>
                  1.00
                </td>
                <td style="text-align: left;">
                  2017-12-31 00:01:13
                </td>
                <td>
                  <i class="xcFont ico-del"></i>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" id="t8">
                  <label for="t8"></label>
                </td>
                <td style="text-align: left;">
                  WPP天卡
                </td>
                <td style="text-align: left;">
                  卡号：卡密：xsIE68E1814FAC159BCD3C89ED3F8985￥5621.00
                </td>
                <td>
                  1.00
                </td>
                <td style="text-align: left;">
                  2017-12-31 00:01:13
                </td>
                <td>
                  <i class="xcFont ico-del"></i>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" id="t9">
                  <label for="t9"></label>
                </td>
                <td style="text-align: left;">
                  WPP天卡
                </td>
                <td style="text-align: left;">
                  卡号：卡密：xsIE68E1814FAC159BCD3C89ED3F8985￥5621.00
                </td>
                <td>
                  1.00
                </td>
                <td style="text-align: left;">
                  2017-12-31 00:01:13
                </td>
                <td>
                  <i class="xcFont ico-del"></i>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" id="t10">
                  <label for="t10"></label>
                </td>
                <td style="text-align: left;">
                  WPP天卡
                </td>
                <td style="text-align: left;">
                  卡号：卡密：xsIE68E1814FAC159BCD3C89ED3F8985￥5621.00
                </td>
                <td>
                  1.00
                </td>
                <td style="text-align: left;">
                  2017-12-31 00:01:13
                </td>
                <td>
                  <i class="xcFont ico-del"></i>
                </td>
              </tr>
						</tbody>
          </table>
          <div class="btn">
            <input type="checkbox" id="b1">
            <label for="b1"></label>
            <button><i class="xcFont ico-del"></i>删除 </button>
          </div>
					<div class="pagination">
						<p class="right">
							本页：<span class="blue">12</span>条数据&nbsp;&nbsp;&nbsp;总共：<span class="blue">100</span>条数据
						</p>
						<div class="m-pages">
							<div class="wrap clearfix">
								<a class="prev" href="" ><i>上一页</i></a>
								<a class="pHide current " href="javascript:;"><i>1</i></a>
								<a href=""><i>2</i></a>
								<a href=""><i>3</i></a>
								<a href=""><i>4</i></a>
								<a href=""><i>5</i></a>
								<a href=""><i>6</i></a>
								<a href=""><i>7</i></a>
								<a href=""><i>···</i></a>
								<a href=""><i>99</i></a>
								<a class="next" href="" ><i>下一页</i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
