<!-- webpack-roami 卡密批量管理-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>新创自动发卡平台</title>
</head>
<body>
	#include("./widget/header.html")
	<div class="main clearfix">
		#include("./widget/sidebar.html")
		<div class="container kamimanage scroll">
			<div class="box init b1">
        <div class="title">卡密批量管理 <span>Order batch management</span> 
				</div>
				<div class="table">
          <div class="bar">
            <select name="" id="">
              <option value="">请选择产品</option>
              <option value="">请选择产品2</option>
              <option value="">请选择产品3</option>
            </select>
            <button class="btn1"><i class="xcFont ico-search"></i>立即查询</button>
          </div>
					<table>
						<thead>
							<td style="text-align: left;">商品名称</td>
							<td>商品价格</td>
              <td>库存卡</td>
              <td>已卖出</td>
              <td>商品管理</td>
						</thead>
						<tbody>
							<tr>
								<td style="text-align: left;">
                  WPP天卡
								</td>
								<td>
                  ￥132.00 
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
								<td>
									<a href="" class="blue">导出未售卡密 </a>
									<a href="" class="orange">导出已售卡密</a>
									<a href="" class="red">删除未售卡密 </a>
									
								</td>
              </tr>
              <tr>
								<td style="text-align: left;">
                  WPP天卡
								</td>
								<td>
                  ￥132.00 
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
								<td>
									<a href="" class="blue">导出未售卡密 </a>
									<a href="" class="orange">导出已售卡密</a>
									<a href="" class="red">删除未售卡密 </a>
									
								</td>
              </tr>
              <tr>
								<td style="text-align: left;">
                  WPP天卡
								</td>
								<td>
                  ￥132.00 
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
								<td>
									<a href="" class="blue">导出未售卡密 </a>
									<a href="" class="orange">导出已售卡密</a>
									<a href="" class="red">删除未售卡密 </a>
									
								</td>
              </tr>
              <tr>
								<td style="text-align: left;">
                  WPP天卡
								</td>
								<td>
                  ￥132.00 
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
								<td>
									<a href="" class="blue">导出未售卡密 </a>
									<a href="" class="orange">导出已售卡密</a>
									<a href="" class="red">删除未售卡密 </a>
									
								</td>
              </tr>
              <tr>
								<td style="text-align: left;">
                  WPP天卡
								</td>
								<td>
                  ￥132.00 
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
								<td>
									<a href="" class="blue">导出未售卡密 </a>
									<a href="" class="orange">导出已售卡密</a>
									<a href="" class="red">删除未售卡密 </a>
									
								</td>
              </tr>
              <tr>
								<td style="text-align: left;">
                  WPP天卡
								</td>
								<td>
                  ￥132.00 
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
								<td>
									<a href="" class="blue">导出未售卡密 </a>
									<a href="" class="orange">导出已售卡密</a>
									<a href="" class="red">删除未售卡密 </a>
									
								</td>
              </tr>
              <tr>
								<td style="text-align: left;">
                  WPP天卡
								</td>
								<td>
                  ￥132.00 
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
								<td>
									<a href="" class="blue">导出未售卡密 </a>
									<a href="" class="orange">导出已售卡密</a>
									<a href="" class="red">删除未售卡密 </a>
									
								</td>
              </tr>
              <tr>
								<td style="text-align: left;">
                  WPP天卡
								</td>
								<td>
                  ￥132.00 
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
								<td>
									<a href="" class="red">导出未售卡密 </a>
									<a href="" class="orange">导出已售卡密</a>
									<a href="" class="red">删除未售卡密 </a>
									
								</td>
              </tr>
              <tr>
								<td style="text-align: left;">
                  WPP天卡
								</td>
								<td>
                  ￥132.00 
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
								<td>
									<a href="" class="red">导出未售卡密 </a>
									<a href="" class="orange">导出已售卡密</a>
									<a href="" class="red">删除未售卡密 </a>
									
								</td>
              </tr>
              <tr>
								<td style="text-align: left;">
                  WPP天卡
								</td>
								<td>
                  ￥132.00 
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
								<td>
									<a href="" class="red">导出未售卡密 </a>
									<a href="" class="orange">导出已售卡密</a>
									<a href="" class="red">删除未售卡密 </a>
									
								</td>
              </tr>
              <tr>
								<td style="text-align: left;">
                  WPP天卡
								</td>
								<td>
                  ￥132.00 
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
								<td>
									<a href="" class="blue">导出未售卡密 </a>
									<a href="" class="orange">导出已售卡密</a>
									<a href="" class="red">删除未售卡密 </a>
									
								</td>
              </tr>
              <tr>
								<td style="text-align: left;">
                  WPP天卡
								</td>
								<td>
                  ￥132.00 
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
                <td>
                  <a href="" class="orange">0张</a>
                  <a href="">查看</a>
                </td>
								<td>
									<a href="" class="blue">导出未售卡密 </a>
									<a href="" class="orange">导出已售卡密</a>
									<a href="" class="red">删除未售卡密 </a>
									
								</td>
							</tr>
						</tbody>
					</table>
					<div class="pagination">
						<p class="right">
							本页：<span class="blue">12</span>条数据&nbsp;&nbsp;&nbsp;总共：<span class="blue">100</span>条数据
						</p>
						<div class="m-pages">
							<div class="wrap clearfix">
								<a class="prev" href="" ><i>上一页</i></a>
								<a class="pHide current " href="javascript:;"><i>1</i></a>
								<a href=""><i>2</i></a>
								<a href=""><i>3</i></a>
								<a href=""><i>4</i></a>
								<a href=""><i>5</i></a>
								<a href=""><i>6</i></a>
								<a href=""><i>7</i></a>
								<a href=""><i>···</i></a>
								<a href=""><i>99</i></a>
								<a class="next" href="" ><i>下一页</i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
