<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>list</title>
</head>
<body class="list-page">
  #include("./widget/header.html")
  <div class="container">
    <div class="banner">
      <a href="">
        <img src="../assets/images/banner2.jpg" alt="">
      </a>
    </div>
    <ul class="nav wrap">
      <li class="active">
        <a href="">全部商品</a>
      </li>
      <li>
        <a href="">翡翠珠宝</a>
      </li>
      <li>
        <a href="">陶瓷朱砂</a>
      </li>
      <li>
        <a href="">书画篆刻</a>
      </li>
      <li>
        <a href="">工艺作品</a>
      </li>
      <li>
        <a href="">文玩杂耍</a>
      </li>
      <li>
        <a href="">茶酒滋补</a>
      </li>
    </ul>
    <div class="list wrap ">
      <ul class="clearfix">
        <li>
          <a href="" class="img">
            <img src="../assets/images/p1.jpg.png" alt="">
          </a>
          <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
          <p class="timer">
            <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
          </p>
          <p class="price">
            ￥2837
            <span>围观次数：223</span>
          </p>
        </li>
        <li>
          <a href="" class="img">
            <img src="../assets/images/p1.jpg.png" alt="">
          </a>
          <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
          <p class="timer">
            <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
          </p>
          <p class="price">
            ￥2837
            <span>围观次数：223</span>
          </p>
        </li>
        <li>
          <a href="" class="img">
            <img src="../assets/images/p1.jpg.png" alt="">
          </a>
          <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
          <p class="timer">
            <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
          </p>
          <p class="price">
            ￥2837
            <span>围观次数：223</span>
          </p>
        </li>
        <li>
          <a href="" class="img">
            <img src="../assets/images/p1.jpg.png" alt="">
          </a>
          <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
          <p class="timer">
            <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
          </p>
          <p class="price">
            ￥2837
            <span>围观次数：223</span>
          </p>
        </li>
        <li>
          <a href="" class="img">
            <img src="../assets/images/p1.jpg.png" alt="">
          </a>
          <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
          <p class="timer">
            <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
          </p>
          <p class="price">
            ￥2837
            <span>围观次数：223</span>
          </p>
        </li>
        <li>
          <a href="" class="img">
            <img src="../assets/images/p1.jpg.png" alt="">
          </a>
          <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
          <p class="timer">
            <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
          </p>
          <p class="price">
            ￥2837
            <span>围观次数：223</span>
          </p>
        </li>
        <li>
          <a href="" class="img">
            <img src="../assets/images/p1.jpg.png" alt="">
          </a>
          <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
          <p class="timer">
            <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
          </p>
          <p class="price">
            ￥2837
            <span>围观次数：223</span>
          </p>
        </li>
        <li>
          <a href="" class="img">
            <img src="../assets/images/p1.jpg.png" alt="">
          </a>
          <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
          <p class="timer">
            <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
          </p>
          <p class="price">
            ￥2837
            <span>围观次数：223</span>
          </p>
        </li>
        <li>
          <a href="" class="img">
            <img src="../assets/images/p1.jpg.png" alt="">
          </a>
          <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
          <p class="timer">
            <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
          </p>
          <p class="price">
            ￥2837
            <span>围观次数：223</span>
          </p>
        </li>
        <li>
          <a href="" class="img">
            <img src="../assets/images/p1.jpg.png" alt="">
          </a>
          <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
          <p class="timer">
            <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
          </p>
          <p class="price">
            ￥2837
            <span>围观次数：223</span>
          </p>
        </li>
      </ul>
      <div class="more">
        <button>点击加载更多</button>
      </div>
    </div>
    <div class="title wrap"><img src="../assets/images/icon/ico-heart.png" alt=""> 猜你喜欢<span>根据你的浏览记录推荐的商品</span></div>
    <div class="list wrap ">
      <ul class="clearfix">
        <li>
          <a href="" class="img">
            <img src="../assets/images/p1.jpg.png" alt="">
          </a>
          <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
          <p class="timer">
            <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
          </p>
          <p class="price">
            ￥2837
            <span>围观次数：223</span>
          </p>
        </li>
        <li>
          <a href="" class="img">
            <img src="../assets/images/p1.jpg.png" alt="">
          </a>
          <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
          <p class="timer">
            <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
          </p>
          <p class="price">
            ￥2837
            <span>围观次数：223</span>
          </p>
        </li>
        <li>
          <a href="" class="img">
            <img src="../assets/images/p1.jpg.png" alt="">
          </a>
          <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
          <p class="timer">
            <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
          </p>
          <p class="price">
            ￥2837
            <span>围观次数：223</span>
          </p>
        </li>
        <li>
          <a href="" class="img">
            <img src="../assets/images/p1.jpg.png" alt="">
          </a>
          <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
          <p class="timer">
            <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
          </p>
          <p class="price">
            ￥2837
            <span>围观次数：223</span>
          </p>
        </li>
        <li>
          <a href="" class="img">
            <img src="../assets/images/p1.jpg.png" alt="">
          </a>
          <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
          <p class="timer">
            <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
          </p>
          <p class="price">
            ￥2837
            <span>围观次数：223</span>
          </p>
        </li>
      </ul>
    </div>
    <div class="title wrap"><img src="../assets/images/icon/ico-good.png" alt=""> 大家都在买<span>全网最热门的商品推荐</span></div>
    <div class="list wrap ">
      <ul class="clearfix">
        <li>
          <a href="" class="img">
            <img src="../assets/images/p1.jpg.png" alt="">
          </a>
          <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
          <p class="timer">
            <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
          </p>
          <p class="price">
            ￥2837
            <span>围观次数：223</span>
          </p>
        </li>
        <li>
          <a href="" class="img">
            <img src="../assets/images/p1.jpg.png" alt="">
          </a>
          <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
          <p class="timer">
            <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
          </p>
          <p class="price">
            ￥2837
            <span>围观次数：223</span>
          </p>
        </li>
        <li>
          <a href="" class="img">
            <img src="../assets/images/p1.jpg.png" alt="">
          </a>
          <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
          <p class="timer">
            <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
          </p>
          <p class="price">
            ￥2837
            <span>围观次数：223</span>
          </p>
        </li>
        <li>
          <a href="" class="img">
            <img src="../assets/images/p1.jpg.png" alt="">
          </a>
          <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
          <p class="timer">
            <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
          </p>
          <p class="price">
            ￥2837
            <span>围观次数：223</span>
          </p>
        </li>
        <li>
          <a href="" class="img">
            <img src="../assets/images/p1.jpg.png" alt="">
          </a>
          <p class="t1"><a href="">凤禧翡翠玉坠貔貅吊坠玉佩</a></p>
          <p class="timer">
            <span>0</span>天<span>5</span>时<span>46</span>分<span>33</span>秒
          </p>
          <p class="price">
            ￥2837
            <span>围观次数：223</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
	#include("./widget/footer.html")
</body>
</html>