<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>红红火火</title>
</head>
<body>
	<div class="list-page">
    <div class="bg">
      <div class="header">
        <a href="" class="back"><img src="../assets/images/icon/ico-arrow2.png" alt=""></a>
        商品与套餐
      </div>
      <div class="detail">
        <img src="../assets/images/listbg.jpg" alt="">
        <p>店家可以在这里管理本店售卖的菜肴、百货、服装等商品。
            连锁店可以统一添加商品并下发到相应的门店。支持多种价
            格方案，支持不同区域和不同时间段设置不同的菜单。</p>
      </div>
      <div class="title">商品</div>
      <ul class="list">
        <li><img src="../assets/images/icon/ico-list1.jpg" alt="">商品与套餐
          <a href=""><img src="../assets/images/icon/ico-arrow2.png" alt=""></a>
        </li>
        <li><img src="../assets/images/icon/ico-list2.jpg" alt="">分类管理
          <a href=""><img src="../assets/images/icon/ico-arrow2.png" alt=""></a>
        </li>
        <li><img src="../assets/images/icon/ico-list3.jpg" alt="">必选商品
          <a href=""><img src="../assets/images/icon/ico-arrow2.png" alt=""></a>
        </li>
        <li><img src="../assets/images/icon/ico-list4.png" alt="">商品标签
          <a href=""><img src="../assets/images/icon/ico-arrow2.png" alt=""></a>
        </li>
      </ul>
    </div>
	</div>
</body>
</html>