<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>红红火火</title>
</head>
<body>
	<div class="login">
		<div class="title">红红火火</div>
		<form action="">
			<div class="item">
				<img class="a1" src="../assets/images/icon/ico-name.png" alt="">
				<select name="" id="">
					<option value="86">+86</option>
				</select>
				<img class="a2" src="../assets/images/icon/ico-arrow.png" alt="">
				<input type="text" placeholder="手机号码">
			</div>
			<div class="item">
				<img class="a3" src="../assets/images/icon/ico-pwd.png" alt="">
				<input type="password" placeholder="密码">
				<span class="eye j-eye">
					<img class="a4" src="../assets/images/icon/ico-eye.png" alt="">
					<img class="a4 a42 hidden" src="../assets/images/icon/ico-eye2.png" alt="">
				</span>
			</div>
			<button>登录</button>
			<div class="btn">
				<a href="" class="left">注册二维火账户</a>
				<a href="" class="right">忘记密码？</a>
			</div>
		</form>
		<ul class="login-other">
			<li>
				<a href="">
					<img src="../assets/images/icon/ico-wechat1.png" alt="">
					<p>微信登录</p>
				</a>
			</li>
			<li>
				<a href="">
					<img src="../assets/images/icon/ico-ali2.png" alt="">
					<p>支付宝登录</p>
				</a>
			</li>
			<li>
				<a href="">
					<img src="../assets/images/icon/ico-phone.png" alt="">
					<p>验证码登录</p>
				</a>
			</li>
		</ul>
	</div>
</body>
</html>