<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>cate</title>
</head>
<body class="mcate-page">
  <div class="header">
    <i></i>
    <img src="../assets/images/logo_cold.png" alt="">
    <div class="search">
      <img src="../assets//images/search1.png" alt="">
      <input type="text" >
    </div>
  </div>
  <div class="content">
    <div class="banner">全球通冷链食品</div>
    <ul>
      <li>
        <a href="">
          <img src="../assets/images/cate1.jpg" alt="">
          <p>进出口贸易服务</p>
          <p class="t1">大宗贸易商、批发市场、食品加工厂、电商自营平台</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="../assets/images/cate2.jpg" alt="">
          <p>城市采集批发</p>
          <p class="t1">大宗贸易商、批发市场、食品加工厂、电商自营平台</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="../assets/images/cate3.jpg" alt="">
          <p>B2F会员服务</p>
          <p class="t1">大宗贸易商、批发市场、食品加工厂、电商自营平台</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="../assets/images/cate4.jpg" alt="">
          <p>电商通B2B批发</p>
          <p class="t1">大宗贸易商、批发市场、食品加工厂、电商自营平台</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="../assets/images/cate5.jpg" alt="">
          <p>供应链金融服务</p>
          <p class="t1">大宗贸易商、批发市场、食品加工厂、电商自营平台</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="../assets/images/cate6.jpg" alt="">
          <p>招商合作</p>
          <p class="t1">大宗贸易商、批发市场、食品加工厂、电商自营平台</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="../assets/images/cate7.jpg" alt="">
          <p>精准扶贫服务</p>
          <p class="t1">大宗贸易商、批发市场、食品加工厂、电商自营平台</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="../assets/images/cate8.jpg" alt="">
          <p>精准扶贫服务</p>
          <p class="t1">大宗贸易商、批发市场、食品加工厂、电商自营平台</p>
        </a>
      </li>
    </ul>
  </div>
</body>
</html>