<!-- webpack-roami -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>菱之花 环保净化领域领航者</title>
</head>
<body class="mindex">
	<div class="header">
		<div class="nav">
			<a href="javascript:;" class="j-nav">
				<img src="../assets/images/icon/ico-list.png" alt="">
			</a>
		</div>
		<div class="title">
			<div class="left">
				<a href="">
					<img src="../assets/images/logo.png" alt="">
				</a>
				<p>菱之花</p>
			</div>
				<div class="right">
					<p class="t1">400-123-2588</p>
					<p class="t2">环保净化领域领航者</p>
				</div>
		</div>
		<div class="service">
			<a href="">
				<img src="../assets/images/icon/ico-service.png" alt="">
			</a>
		</div>
	</div>
	<div class="nav-list j-navList">
		<ul >
			<li>
				<a href="" class="active">首页</a>
			</li>
			<li>
				<a href="javascript:;">关于我们 <span>+</span></a>
				<ul class="subnav">
					<li><a href="">导航1</a></li>
					<li>
						<a href="">导航2</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="javascript:;">产品中心 <span>+</span></a>
				<ul class="subnav">
					<li><a href="">导航1</a></li>
					<li>
						<a href="">导航2</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="">服务项目 <span>+</span></a>
			</li>
			<li>
				<a href="">成功案例 <span>+</span></a>
			</li>
			<li>
				<a href="">行业动态 <span>+</span></a>
			</li>
			<li>
				<a href="">合作代理 <span>+</span></a>
			</li>
			<li>
				<a href="">联系我们 <span>+</span></a>
			</li>
		</ul>
	</div>
	<!-- main-banner -->
	<div class="main-banner swiper-container j-mainSwiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<a href="">
					<img src="../assets/images/mbanner.jpg" alt="">
				</a>
			</div>
			<div class="swiper-slide">
				<a href="">
					<img src="../assets/images/mbanner.jpg" alt="">
				</a>
			</div>
			<div class="swiper-slide">
				<a href="">
					<img src="../assets/images/mbanner.jpg" alt="">
				</a>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
	<!-- 服务项目 -->
	<div class="section">
		<div class="title">服务项目
			<p>service items</p>
		</div>
		<div class="sub-banner swiper-container j-subSwiper1">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="img">
						<img src="../assets/images/service.png" alt="">
					</div>
					<p class="info">
						目前，全国90%以上的办公大楼，都存在氡的污染 原因在于大楼基本上都是混泥土、矿渣水泥。而这些原 料，多含放射性污染--氡子体
					</p>
					<div class="btn">
						<a href="">查看详情</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="img">
						<img src="../assets/images/service.png" alt="">
					</div>
					<p class="info">
						 0000目前，全国90%以上的办公大楼，都存在氡的污染 原因在于大楼基本上都是混泥土、矿渣水泥。而这些原 料，多含放射性污染--氡子体
					</p>
					<div class="btn">
						<a href="">查看详情</a>
					</div>
				</div>
			</div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
	<!-- 案例 -->
	<div class="section bg case">
		<div class="title">
			 精选案例
			<p>Selected cases</p>
			<ul class="list1">
				<li>
					<a href=""><img src="../assets/images/cate0.jpg" alt=""></a>
					<p class="t1">今日头条写字楼空气治理</p>
					<p class="t2">2018-03-20</p>
				</li>
				<li>
					<a href=""><img src="../assets/images/cate1.jpg" alt=""></a>
					<p class="t1">德高中国室内空气治理</p>
					<p class="t2">2018-03-20</p>
				</li>
				<li>
					<a href=""><img src="../assets/images/cate2.jpg" alt=""></a>
					<p class="t1">百融金服室内空气治理</p>
					<p class="t2">2018-03-20</p>
				</li>
				<li>
					<a href=""><img src="../assets/images/cate3.jpg" alt=""></a>
					<p class="t1">百融金服室内空气治理</p>
					<p class="t2">2018-03-20</p>
				</li>
			</ul>
			<div class="btn">
				<a href="">查看更多</a>
			</div>
		</div>
	</div>
	<!-- 优势 -->
	<div class="section advantage">
		<div class="title"><span>4</span>大优势
			<p>Four advantages</p>
		</div>
		<div class="sub-banner2 swiper-container j-subSwiper3">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="img">
						<img src="../assets/images/advantage.jpg" alt="">
					</div>
					<p class="t1">技术最为先进</p>
					<p class="t2">
						<img src="../assets/images/icon/ico-leaf.png" alt="">
						 所用产品均来自菱之光品牌，不贴牌不灌装，技术源自日本，拥 有国内领先的光触媒前天后去除甲醛和杀菌技术。
					</p>
					<p class="t2">
						<img src="../assets/images/icon/ico-leaf.png" alt="">
						 分类除甲醛开创者，历时七年开发出八大类别光触媒除醛产品针 对不同污染源针对性治理，开启除醛4.0时代。
					</p>
				</div>
				<div class="swiper-slide">
					<div class="img">
						<img src="../assets/images/advantage.jpg" alt="">
					</div>
					<p class="t1">技术最为先进</p>
					<p class="t2">
						<img src="../assets/images/icon/ico-leaf.png" alt="">
						 所用产品均来自菱之光品牌，不贴牌不灌装，技术源自日本，拥 有国内领先的光触媒前天后去除甲醛和杀菌技术。
					</p>
					<p class="t2">
						<img src="../assets/images/icon/ico-leaf.png" alt="">
						 分类除甲醛开创者，历时七年开发出八大类别光触媒除醛产品针 对不同污染源针对性治理，开启除醛4.0时代。
					</p>
				</div>
				<div class="swiper-slide">
					<div class="img">
						<img src="../assets/images/advantage.jpg" alt="">
					</div>
					<p class="t1">技术最为先进</p>
					<p class="t2">
						<img src="../assets/images/icon/ico-leaf.png" alt=""> 所用产品均来自菱之光品牌，不贴牌不灌装，技术源自日本，拥 有国内领先的光触媒前天后去除甲醛和杀菌技术。
					</p>
					<p class="t2">
						<img src="../assets/images/icon/ico-leaf.png" alt=""> 分类除甲醛开创者，历时七年开发出八大类别光触媒除醛产品针 对不同污染源针对性治理，开启除醛4.0时代。
					</p>
				</div>
				<div class="swiper-slide">
					<div class="img">
						<img src="../assets/images/advantage.jpg" alt="">
					</div>
					<p class="t1">技术最为先进</p>
					<p class="t2">
						<img src="../assets/images/icon/ico-leaf.png" alt=""> 所用产品均来自菱之光品牌，不贴牌不灌装，技术源自日本，拥 有国内领先的光触媒前天后去除甲醛和杀菌技术。
					</p>
					<p class="t2">
						<img src="../assets/images/icon/ico-leaf.png" alt=""> 分类除甲醛开创者，历时七年开发出八大类别光触媒除醛产品针 对不同污染源针对性治理，开启除醛4.0时代。
					</p>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
	<!-- 解决方案 -->
	<div class="section bg">
		<div class="title">解决方案
			<p>Four major solutions</p>
		</div>
		<div class="sub-banner swiper-container j-subSwiper2">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="img">
						<img src="../assets/images/solution.jpg" alt="">
					</div>
					<p class="info">
						检测流程专业正规 实验室化验与分析 检测数据真实准确 施工专业 经验丰富 三维一体  全面治理 安全无毒 长效持久
					</p>
					<div class="btn">
						<a href="">免费预约</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="img">
						<img src="../assets/images/solution.jpg" alt="">
					</div>
					<p class="info">
						检测流程专业正规 实验室化验与分析 检测数据真实准确 施工专业 经验丰富 三维一体  全面治理 安全无毒 长效持久
					</p>
					<div class="btn">
						<a href="">免费预约</a>
					</div>
				</div>
			</div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
	<!-- 产品 -->
	<div class="section case">
		<div class="title">
			 产品中心
			<p>Product Center</p>
			<ul class="list2">
				<li>
					<a href="">
						<img src="../assets/images/product1.jpg" alt="">
					</a>
					<p class="t1">每日清新500ml</p>
					<p class="t2">室内空气进化</p>
				</li>
				<li>
					<a href="">
						<img src="../assets/images/product2.jpg" alt="">
					</a>
					<p class="t1">每日清新500ml</p>
					<p class="t2">室内空气进化</p>
				</li>
				<li>
					<a href="">
						<img src="../assets/images/product3.jpg" alt="">
					</a>
					<p class="t1">每日清新500ml</p>
					<p class="t2">室内空气进化</p>
				</li>
				<li>
					<a href="">
						<img src="../assets/images/product4.jpg" alt="">
					</a>
					<p class="t1">每日清新500ml</p>
					<p class="t2">室内空气进化</p>
				</li>
				<li>
					<a href="">
						<img src="../assets/images/product1.jpg" alt="">
					</a>
					<p class="t1">每日清新500ml</p>
					<p class="t2">室内空气进化</p>
				</li>
				<li>
					<a href="">
						<img src="../assets/images/product2.jpg" alt="">
					</a>
					<p class="t1">每日清新500ml</p>
					<p class="t2">室内空气进化</p>
				</li>
			</ul>
			<div class="btn">
				<a href="">查看全部</a>
			</div>
		</div>
	</div>
	<!-- 新闻 -->
	<div class="section bg case">
		<div class="title">
			新闻中心
			<p>News Center</p>
		</div>
		<ul class="list3">
			<li>
				<img src="../assets/images/new1.jpg" alt="">
				<div class="info">
					<p class="t1">汽车内部有害物质多吗？</p>
					<p class="t2">据测定，汽车甲醛超标，而其他有毒成 分也不少，汽车在太阳下暴晒后，有害 气体更多。</p>
				</div>
			</li>
			<li>
				<img src="../assets/images/new2.jpg" alt="">
				<div class="info">
					<p class="t1">汽车内部有害物质多吗？</p>
					<p class="t2">据测定，汽车甲醛超标，而其他有毒成 分也不少，汽车在太阳下暴晒后，有害 气体更多。</p>
				</div>
			</li>
			<li>
				<img src="../assets/images/new3.jpg" alt="">
				<div class="info">
					<p class="t1">汽车内部有害物质多吗？</p>
					<p class="t2">据测定，汽车甲醛超标，而其他有毒成 分也不少，汽车在太阳下暴晒后，有害 气体更多。</p>
				</div>
			</li>
		</ul>
		<div class="btn">
			<a href="">更多资讯</a>
		</div>
	</div>
	<!-- connect	 -->
	<div class="section case">
		<div class="title">
			联系我们
			<p>Contact us</p>
		</div>
		<form action="">
			<p>
				<input type="text" placeholder="姓名">
			</p>
			<p>
				<input type="text" placeholder="电话">
			</p>
			<p>
				<textarea name="" placeholder="需求（智力/检测/加盟）"></textarea>
			</p>
			<p>
				<button>提交</button>
			</p>
		</form>
	</div>
	<div class="footer">
		<p>菱之花（天津）环保科技有限公司</p>
		<p><img src="../assets/images/icon/ico-pos.png" alt=""> 地址：某省某市某区某号楼20F</p>
		<p>
			<img src="../assets/images/icon/ico-call.png" alt="">
			<a href="tel:400-088-9030">400-088-9030</a>
		</p>
	</div>
	<!-- navbar -->
	<div class="navbar">
		<a href="">在线资讯<img src="../assets/images/icon/ico-b1.png" alt=""></a>
		<a href="">电话预约<img src="../assets/images/icon/ico-b2.png" alt=""></a>
		<a href="">预约上门<img src="../assets/images/icon/ico-b3.png" alt=""></a>
	</div>
</body>
</html>
