<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>全行科技车辆/司机管理处罚条例</title>
</head>

<body class="pulish">
  <h1 style="text-align: center;">全行科技车辆/司机管理处罚条例</h2>
  <h2>一、司机车辆作业基本要求</h2>
  <p>1、在每天出车前，必须认真检查车辆及车架、轮胎、电池水、水箱和机油等应查内容，做好出车前的一切准备工作，如发现车辆及车架需要维修，应立即报告车队或调度，严禁病车作业；</p>
  <p>2、司机必须利用行车滞留的空余时间及停车后进行车辆检查，保养和清洁工作，并虚心向维修人员学习车辆维修等基本知识，保持完好的车容车况，使车辆保证安全运行；</p>
  <p>3、司机必须文明驾车，合理操作，妥善保管好车辆、车架及随车工具和各种证件及车辆配套设施；</p>
  <p>4、司机必须无条件服从公司的工作安排，保证做到随叫随到；</p>
  <p>5、司机上班前及工作中严禁饮酒（包括所有酒精饮料）。下班后严禁赌博，时刻保证有充足的精力和良好的精神状态驾驶车辆；</p>
  <p>6、司机必须严格遵守公司财务管理制度，所有费用，经相关部门审核确认，实报实销，如发现虚假，按公司规章制度进行处罚；</p>
  <p>7、司机不准搭乘与业务无关的人员，更不准私自将车交给他人驾驶；</p>
  <p>8、车辆在工作行驶中必须按国家交通法规规定行驶、停放，出现违章（扣款/扣分）由司机自行处理，所有车辆违章必须在1个月内处理完毕；</p>
  <p>9、司机不得私自将公司车辆使用于非工作需要的事务；</p>
  <p>10、非工作时间，司机禁止驾驶公司车辆外出；</p>
  <p>11、非工作时间，禁止穿公司工装或带有公司商标的服饰/配饰外出；</p>
  <p>12、司机必须按公司的通知要求，定期进行安全学习，不得无故缺席，违者严加处罚；</p>
  <p>13、司机除按岗位责任状和合同规定执行外，均按公司内部管理规章制度执行，如有抵触时按公司内部管理规章制度执行；</p>
  <p>14、司机按自主排班时间，上班时需至少提前半小时到公司停车场统一提取作业车辆，下班后1小时内需将作业车辆停回公司统一停车场停放；</p>
  <p>15、到达排班时间未到达公司统一停车场的司机，30分钟以内视为迟到、30分钟以上视为旷工；</p>
  <p>16、任何时候，司机必须随身携带手机，并保持24小时通讯畅通。</p>
  <h3>触犯以上任意一条条款，公司将做如下处罚：</h3>
  <h3>1、对公司造成的任何经济损失由司机全部承担；</h3>
  <h3>2、司机违反规定罚款300元/次；</h3>
  <h3>3、一个自然月内出现3次违规，罚款同时，公司有权对司机做出停岗/开除处罚；</h3>
  <h3>4、停岗期间无基本工资及公司福利；</h3>
  <h3>5、迟到一次扣款100元、旷工一次扣款300元；</h3>
  <h3>6、一个自然月内累计迟到3次视为旷工一天，加罚300元；</h3>
  <h3>7、一个自然月内累计旷工3天，加罚1000元，且公司有权对司机做出停岗、停薪、开除等处罚；</h3>

  <h2>二、车辆交通事故管理规定</h2>
  <p>1、因司机疏忽大意引起的违规违章、引发的交通事故，所有责任及罚款，维修费等一切费用全部由司机本人承担，造成车辆停岗的，公司将追究其经济责任；</p>
  <p>2、车辆肇事，除保险公司按规定赔偿支付的费用外，不足部分由司机承担；</p>
  <p>3、因交通事故造成公司（或订单货损）超过五仟元损失，并造成车辆停岗三天及以上的肇事司机立即停岗培训；后续视培训结果决定上岗时间或开除；</p>
  <p>4、因肇事下岗的司机作为后备司机使用，并公司有权对其做出开除处理，并追究其经济责任；</p>
  <p>5、司机在外发生交通事故要求私了的，造成的经济损失，全部由司机本人承担。</p>
  <p>6、出现交通事故，必须第一时间电话上报公司备案；</p>
  <h3>触犯以上任意一条条款，公司将做如下处罚：</h3>
  <h3>1、所有交通事故，保险公司赔付完毕后，如有差额，差额部分由司机全部承担；</h3>
  <h3>2、对公司造成的任何经济损失由司机全部承担；</h3>
  <h3>3、司机出现交通事故：全责、主责、次责罚款300元/次；无责罚款100元/次；</h3>
  <h3>4、由于交通事故导致的车辆停岗，司机承担全部经济责任，按300元/天罚款；</h3>
  <h3>5、一个自然月内出现2次交通事故，罚款同时，公司有权对司机做出停岗/开除处罚；</h3>
  <h3>6、停岗期间无基本工资及公司福利；</h3>

  <h2>三、车辆遗失（被盗）的管理规定</h2>
  <p>1、司机离开车辆时，必须按国家规定停放好车辆；锁好门窗及防盗锁；车钥匙、防盗摇控器、车辆相关证件必须随身携带，不能遗留在车内；</p>
  <p>2、车辆禁止停放在公路边、国家不允许停放车辆的路段以及不安全的地点；</p>
  <p>3、车辆证件、车钥匙、防盗摇控器，不能随意给他人或遗失，有遗失第一时间上报公司；</p>
  <p>4、车辆发生遗失（被盗）时，驾驶员必须立即上报公司，按公司指示执行；</p>
  <p>5、如违反以上（1-4条）中任一项规定，公司将按保险条例规定和公安部门的有关规定处理，并按遗失（被盗）财产的价值由当事人支付和扣除当月当事人的工资提成，风险保证金不予退还，移交公安部门，作开除处理；</p>
  <p>6、司机在办理离职手续前，需将所有公司财产交接完毕，所有订单无遗留问题，方可办理离职手续；</p>
  <h3>触犯以上任意一条条款，公司将做如下处罚：</h3>
  <h3>1、司机承担全部经济责任，给公司造成的经济损失由司机全额承担；</h3>
  <h3>2、涉及车辆相关证件、配件的补办，造成的经济损失由司机全额承担；</h3>
  <h3>3、由车辆、证件、配件遗失导致的车辆停岗，司机承担全部经济责任，按300元/天罚款；</h3>
  <h3>4、如有违反国家法律法规，司机承担全部刑事责任，同时公司有权对司机做出停岗/开除处罚，并保留追诉权；</h3>
  <h3>5、停岗期间无基本工资及公司福利；</h3>

  <h2>四、司机请假管理条例</h2>
  <p>1、凡需请假的司机，一律系统提交请假申请，并写明请假的理由及原因；</p>
  <p>2、公司审批同意后方可离岗；</p>
  <p>3、凡请病假的司机，必须提交医疗单位出具的医疗证明及病历卡，如无医疗证明及病历卡的一律视为事假；</p>
  <p>4、未向公司书面请假并批准的司机，一律视为旷工；</p>
  <p>5、因特殊情况（亲朋病危/丧事等），无法提前办理请假手续，应在第一时间致电公司报备，公司同意后方可离岗，并于归岗后第一天向公司补办请假手续，同时必须提交相关证明；</p>
  <p>6、凡请假司机，弄虚作假，无病装病，无事装事，一经查实一律严加处罚；</p>
  <h3>触犯以上任意一条条款，公司将做如下处罚：</h3>
  <h3>1、司机请假扣除当日基本工资及公司各项补助；</h3>
  <h3>2、病假时间连续3天及以上、当月累计7天及以上，转为后备司机，待岗；</h3>
  <h3>3、自然月内事假超过3天，取消当月所有奖金评比及发放，同时转为后备司机，待岗；</h3>
  <h3>4、如出现请假弄虚作假，司机罚款300元/天；</h3>
  <h3>5、事假、停岗期间无基本工资及公司福利，病假期间按国家规定发放工资及公司福利；</h3>

  <h2>五、整车订单操作规范</h2>
  <p>1、 司机接到订单后5分钟内与客户电话确认具体上门揽收时间及订单信息；</p>
  <p>2、 司机需在约定时间内到达指定装货地址，如因客观原因导致约定时间内无法到达指定装卸货现场，需及时与客户电话沟通，并上传证明；</p>
  <p>3、司机不能擅自更改客户的订单信息，如现场确认订单实际信息时，出现实际信息与平台订单显示信息不符，需争得客户同意后，对订单进行更改，更改后需现场要求客户平台确认后，方可出发进行派送，如客户出现异议，第一时间与公司联系报备，原地等待公司指示；</p>
  <p>4、 在装货过程中，司机有义务协助客户进行装货，将货物在车厢内摆放整齐，并检查产品外包装是否符合公司要求，外包装是否有破损处，如发现外包装破损，需立即拍照上传平台，同时要求客户现场进行平台确认，如客户出现异议，第一时间与公司联系报备，原地等待公司指示；</p>
  <p>5、 订单派送前，司机需电话与收货方预约上门派送时间；</p>
  <p>6、 订单派送过程中，司机需注意行车安全，文明驾驶，遵守交通法；</p>
  <p>7、 司机将订单派送至订单目的地后，有义务协助收货方卸货、验货、清点核对产品数量；</p>
  <p>8、 订单验收无误后，司机需现场确认运费已支付（确认客户平台支付运费成功），如验收出现问题，第一时间向公司报备，原地等待处理结果；/扣分）由司机自行处理，所有车辆违章必须在1个月内处理完毕；</p>
  <p>9、司机到达客户指定装卸货地后立马联系发件人/收件人安排装、卸货，如15分钟内无人装卸货，应及时反馈公司客服，原地等待处理结果；</p>
  <p>10、司机须在每一个环节中为客户提供满意的优质服务，杜绝客户对司机的各种投诉，如损坏客户的设施或违反客户处的规章制度，产生的罚款及赔偿由司机自行承担，同时接受公司内部的二次处罚；</p>
  <h3>触犯以上任意一条条款，公司将做如下处罚：</h3>
  <h3>1、违章操作300元/单；</h3>
  <h3>2、因司机原因导致的货损、遗失，产生的经济赔偿由司机全额承担；</h3>

  <h2>六、共享订单（拼单）处理流程</h2>
  <p>1、接单环节：司机在接到共享订单（拼单）后，需立即通过电话方式与发件方/收件方确认装货/卸货情况及订单相关信息是否准确，发件方/收件方是否能够在约定时间内安排人员，确保车辆到达后15分钟内能够正常装货/卸货；</p>
  <p>2、装车环节：车辆到达前15分钟，电话再次通知发件人，确保发件人已将发运货物准备齐全并到达约定地点，到达后立即装货，如在装货过程中遇到任何问题（包含但不限于无法联系到发件人，货物无法装卸、订单实际信息与系统显示信息差距过大等），第一时间向客服报备，原地等待客服答复；</p>
  <p>3、运输环节：司机装货完毕后，需现场提醒发件人装卸车超时等待费用的收取标准，并在发车前与收件人电话沟通，告知收件人预计到达时间，确保车辆到达后能够第一时间卸货；</p>
  <p>4、卸车环节：司机按约到达卸货地前15分钟再次与收件人电话确认，并按约到达，卸货过程中协助收件人确认订单数量及货物外观，货物无误，收件人签收，确认运费金额，收款，订单完毕；如卸车过程中出现车辆达到后无法联系到收件人，第一时间上报客服，原地等待客服确认答复；</p>
  <p>5、异常订单处理：无法联系到收件人、收件人临时需更改收货时间、收货人拒收货物的情况，第一时间上报客服，按客服反馈信息进行后续工作安排，车内还有其他共享单的情况下，经客服答复确认后，可正常进行下一单的派送，同时定期与未派送成功订单收件人电话联系，24小时内将滞留货物派送完毕；</p>
  <p>6、货物保管：司机有责任对车内货物的数量、安全负责，如遇到当日无法派送完毕的订单，司机需妥善保管订单货物，确保货物数量、质量安全无误；</p>
  <p>7、保存周期：司机对货物的保管最长周期为24小时，超过24小时的订单需与客服报备；</p>
  <p>8、滞留订单报备：司机遇到当日无法派送完成/无法与收件人、发件人取得联系的订单，需第一时间上报客服，等待客服答复后进行下一步工作安排；/扣分）由司机自行处理，所有车辆违章必须在1个月内处理完毕；</p>
  <p>9、滞留订单派送：订单派送时间以系统或客服答复时间为准，滞留订单需向客户收取滞留费，具体金额以系统显示金额为准，司机不准私下向客户收取滞留费及二次配送费；</p>
  <p>10、滞留订单作废：超过24小时以上未派送成功，且无法与客户取得联系的订单，经客服确认后，司机有权将滞留订单货物原地作废销毁；滞留订单、拒收订单的货物司机有责任、义务保管24小时，起止时间以订单拒单时间为准，超过24小时后，系统自动推送订单作废短信，司机方可将货物作废；</p>
  <h3>触犯以上任意一条条款，公司将做如下处罚：</h3>
  <h3>1、违章操作300元/单；</h3>
  <h3>2、因司机原因导致的货损、遗失，产生的经济赔偿由司机全额承担；</h3>
  <h3>3、需司机作废销毁的订单货物，如发现司机有售卖行为，一经发现，公司有权开除司机，同时处罚金按保证金全部扣除/货物价值2倍取大值执行；</h3>

  <h2>七、司机保证金缴纳及管理</h2>
  <p>保证金金额：1万元</p>
  <p>保证金质押类目：</p>
  <p>1、公司车辆使用权押金；</p>
  <p>2、非常规情况下，车辆维修、维护、换件、保养等项目抵押金；</p>
  <p>3、车辆违章抵押金；</p>
  <p>4、公司配备作业工具（洗车、道路救援工具等）抵押金；</p>
  <p>5、车辆其它消费抵押金；</p>
  <p>6、公司配备耗材（防冻液/机油等）抵押金；</p>
  <p>保证金管理：</p>
  <p>1、司机风险保证金交由公司财务部统一保管，司机缴纳后财务出具收据；</p>
  <p>2、司机离职时，公司在确保车辆工具，设备完整无缺，车辆符合年审要求，各种证件完整有效后，待公司查清无交通违章等情况、无其它任何欠款后，保证金1个月后退还；/扣分）由司机自行处理，所有车辆违章必须在1个月内处理完毕；</p>
  <p>3、如发现有任何损坏车辆、丢失车辆证照、车辆违章及其它欠款情况，产生的手续费、补办费、维修费、还款费等后续所有费用一律在保证金内扣除；</p>
  <p>4、司机按公司要求办理完离职手续后，凭相关确认文件及保证金收据到公司财务部领回保证金；</p>
  <p>5、异地驾驶员可委托担保人办理，或留下账号及地址由公司财务部门将余款汇出；/配饰外出；</p>
  <p>6、司机在岗期间，保证金应始终确保为1万元，如因触犯公司规章制度导致扣款后不足1万元，应立马现金补足或在次月工资、福利、奖金中扣除相应金额，补足保证金；</p>

  <h2>八、扣款说明</h2>
  <p>1、针对所有违反公司规章制度的罚款，直接在当月的奖金、基本工资中扣除；</p>
  <p>2、奖金/基本工资余额不足支付罚款时，从保证金中扣除；</p>

  <h2>九、奖金评比发放</h2>
  <p>详细评比规则、奖金发放周期、具体金额，以附件：“司机奖励评分制度”为准</p>
  <p>抢件/车辆交通事故先报警或通知相关政府、保险部门后，第一时间通知客服备案</p>
</body>
</html>