<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>全行科技货运服务协议</title>
</head>

<body class="pulish">
  <h1 style="text-align: center;">全行科技车辆/司机管理处罚条例</h2>
  <h3>山东全行科技有限公司(以下称“我司”)作为全行科技信息平台的实际运营者，根据用户服务需求向使用网络预约货物运输服务(以下简称“货运服务”)，司机端应用程序的驾驶员提供服务，平台根据客户发出的用车需求信息，利用先进的信息集散技术及后台大数据信息处理，在驾驶员终端上提供可使用的货运服务信息，并由最终匹配成功的驾驶员(以下统称为“驾驶员”)实际向用户提供线下运输服务。在您使用本货运服务平台提供线下运输服务之前，请您认真阅读本协议。</h3>
  <h3>您通过下载本应用程序接单或服务用户，则视作您已知悉我司与您签署的《全行科技有限合伙协议书》中关于通过货运服务平台提供货运服务服务相关条款的约定，也已充分阅读并接受本《全行科技货运服务协议》(以下称“协议”)中的所有条款，您同意本协议对您和我司具有法律约束力。如果您不同意本协议，则不能登陆应用程序、接单或服务用户。
  </h3>
  <h2>一、驾驶员注册</h2>
  <p>　　1、驾驶员登录司机端平台，按照注册规则进行注册并设定用户名及密码。该用户名及密码为驾驶员通过货运服务信息服务平台系统预订用车服务的唯一有效身份证明。</p>
  <p>　　2、驾驶员应保证在司机端平台注册过程中预留的电话、电子邮箱等联系方式真实有效。</p>
  <p>　　3、驾驶员注册成功后应妥善保管用户名及密码，不得将其转让或出借于他人使用;如货运服务平台发现其用户名及密码遭他人非法使用，应当立即通知驾驶员或暂停司机端使用以避免不必要的损失。</p>

  <h2>二、服务合作期间</h2>
  <p>　　我司与您向用户提供货运服务相关的交通服务为订单成立时起至用户到达订单目的地卸货时止。您打开司机服务终端的时间区间为我司为您提供信息服务的时间，但并非您通过我司平台为用户提供线下运输时间。在订单成立前或货物到达目的地后，您所处于待单阶段，为我司为您提供信息服务的准备期。在该时间区间内，您无需驾驶车辆寻找用户，平台会将符合最优配置的新订单信息发送至您的应用程序终端。除不具备停车条件而所必需的停车行程外，我司并不要求您继续驾驶车辆行驶，并建议您就近停车等待新的订单信息。</p>

  <h2>三、服务保障</h2>
  <p>　　在您接单或服务用户的过程中，您需要按照本协议的约定对服务质量和驾驶安全予以保证。由于您的过错给第三方造成的侵权损害，应当由您承担相应的赔偿责任;对于由于您的过错造成的侵权损害或您因违约给我司造成的损失，我司有权向您进行追偿。具体根据签署的《全行科技有限合伙协议书》、宣导的《“线上接单平台”工作手册》及本《全行科技货运服务协议》附件一《违约责任条款》的规定追究其违约责任。</p>

  <h2>四、费用支付</h2>
  <p>　　您同意我司按照《全行科技有限合伙协议书》约定的方式进行结算，您在注册使用司机端的同时，已视为您知悉向您披露结算方式及相关的费用处理。</p>

  <h2>五、驾驶员违约责任</h2>
  <p>　　所有司机都必须按照约定的服务标准向用户提供服务，如果出现服务驾驶员或服务车辆与注册信息不一致、驾驶员违规收费、驾驶员对投诉其服务质量或对其服务做出不满意评价的用户实施报复等违约情形，不论用户是否产生投诉，驾驶员都应当按照附件一:《违约责任条款》承担违约责任，我司有权视违约情形终止与该驾驶员的合作。由于驾驶员的违约行为导致我司遭受的任何损失，我司有权向驾驶员要求全额赔偿。</p>

  <h2>六、授权及许可</h2>
  <p>　　1、在您遵守本《全行科技货运服务协议》的前提下，我们授予您有限的、非排他的、不可转让的如下许可:以将一份应用程序副本下载并安装到您拥有或控制的单台移动设备上，并仅出于您自己的个人用途运行此应用程序副本。您不得:1、以任何方式许可、再许可、出售、转售、转让、分配、分发服务和应用程序，或以其他方式进行商业开发或提供给任何第三方。2、修改服务，或应用程序或者据此创建衍生产品。3、创建指向服务的互联网“链接”或在任何其他服务器或基于无线或互联网的设备上“设计”或“镜像”任何应用程序。4、反向工程或访问应用程序设计或构建竞争产品或服务、使用类似于服务或应用程序的设想，或图形
  来设计或构建产品，或抄袭服务或应用程序的任何设想、特点、功能或图形。5、启动自动程序或脚本，每秒发送多个服务器请求或过度加重服务或应用程序负担或妨碍其他工作和/或性能的程序。此外，您不得:发送垃圾邮件或者以其他形式违反适用法律的重复或不受欢迎的邮件。</p>
  <p>　　2、针对上述行为，我们有权调查并起诉任何违反上述违法违规行为。我们可参与并协助执法部门起诉违反本《全行科技货运服务协议》的驾驶员，我们保留在不另行通知的情况下随时删除或禁用对这些内容的访问权限的权利。</p>

  <h2>七、协议修改</h2>
  <p>　　本协议内容包括本协议条款以及已经发布的及将来可能发布的与您有关的各项约定，该等约定均为本协议不可分割的一部分，与本协议具有同等法律效力，在本协议履行过程中，我司可视情况对本协议进行修改。一旦本协议的内容发生变动，不再向您作个别通知。如果您不同意我司对本协议及有关约定所做的修改，您有权停止使用我司服务。如果您继续使用我司服务，则视为您接受我司对本协议及有关约定所做的修改，并应遵照修改后的协议执行。</p>

  <h2>八、免责声明</h2>
  <p>　　1、同意，并知悉货运服务平台所提供的功能受制于我国的交通法规和管理条例，即与本产品的功能和条例发生冲突时，应以各地的交通法律法规和管理条例为准。</p>
  <p>　　2、同意，并知悉货运服务平台所列服务，但无须对用户使用相关行为所造成的损失负担任何责任，例如用户行为造成车辆污损或导致用户人身、财产损失的，均由驾驶员与用户自行协商解决和通过法律途径解决，与我司无关。我司可提供帮助。</p>

  <h2>九、隐私保护</h2>
  <p>　　在您注册、使用应用程序及提供服务过程中，您同意并提供您的姓名、照片、手机号码、手机位置数据等个人信息，此类信息将仅限于满足货运服务服务，我司将采取合理的措施保护您的个人隐私，除法律或有法律赋予权限的政府部门要求或您同意等原因外，我司未经您同意不会向除合作单位以外的第三方公开、透露您的个人信息或使用您的个人信息开展其他业务。</p>

  <h2>十、安全培训</h2>
  <p>　　 为维护和保障驾驶员合法权益，提升平台中全体用户的满意程度，您应当定期了解并学习包括货运服务及相关法律法规、平台运行规则和服务规范、安全运营等方面的知识，提高自身参与平台交通服务的能力和竞争力。</p>

  <h2>十二、法律管辖</h2>
  <p>　1、本协议的订立、执行和解释争议的解决均应适用中国法律并接受中国法院管辖。</p>
  <p> 2、如双方就本协议内容或其执行发生任何争议，双方应友好协商解决;协商不成时，任何一方均可向我司所在地的人民法院提起诉讼。</p>

  <h2>十三、其它</h2>
  <p>　　 本合同的附件是本协议不可分割的组成部分，与本协议效力均等。</p>
  <p>　　 附件:《驾驶员违约责任条款》</p>

  <h1>驾驶员违约责任条款</h1>

  <h3>　　 您登录我司应用程序并通过该应用程序接单或服务用户即视为您已与我司签署《全行科技货运服务协议》并在充分理解的前提下同意接受本《驾驶员违约责任条款》(本“条 款”):</h3>
  <h3>　　 第一条 本违约责任条款适用于平台注册的所有驾驶员(以下统称为“驾驶员”)，任何驾驶员如存在如下违约行为，均适用本条款承担违约责任。</h3>
  <h3>　　 第二条 驾驶员存在如下行为的，均被视为违反《全行科技货运服务协议》，应承担相应的违约责任:</h3>

  <h2>(一)驾驶员存在下列任一情形，导致重大投诉及差评的，全行科技平台有权扣罚责任驾驶，并追究责任驾驶员本人赔偿责任及法律责任。</h2>
  <p>　　 1、经平台调查证实，驾驶员存在本人或串通他人利用虚假注册、虚假订单、虚假的现场情 形等手段故意欺骗公司，使其在包括但不限于虚假流水、价外费用等方面获取不当利益的行为。</p>
  <p>　　 2、造成有责重大投诉，严重影响企业声誉的。</p>
  <p>　　 4、实际运营车辆及驾驶员与平台信息不符的。</p>
  <p>　　 4、实际运营车辆及驾驶员与平台信息不符的。</p>
  <p>5、组织或参与聚众闹事的。</p>
  <p>　　 6、造成有责重大及以上交通事故的。</p>
  <p>　　 7、酒后驾车或肇事逃逸的。</p>
  <p>　　 8、恶意言语辱骂或殴打用户及管理人员的。</p>
  <p>　　 9、从事违法犯罪活动，受到拘留以上处罚的。</p>
  <p>　　 10、服务过程中不论任何原因主动甩客的。</p>
  <p>　　 11、违反服务标准及管理规定，给平台造成较大经济及商誉损失。</p>
  <p>　　 12、绕过平台计费系统直接收取用户用车费用的。</p>
  <p>　　 13、无故爽约。</p>
  <p>　　 14、当月累计有责投诉 2 单(含)以上，或全年累计有责投诉 3 单(含)以上的。</p>
  <p>　　 15、连续两月星级评定平均分低于 4 分的。</p>
  <h2>　(二)驾驶员存在下列任一情形，导致投诉及差评的，驾驶员应向全行科技货运服务平台支付违约金 500 元。　</h2>
  <p>　　1、接到订单后发生包括但不限于不与用户联系、推脱或诱导用户取消订单的拒载行为。</p>
  <p>　　2、服务过程之外私自联系用户、骚扰用户或私自泄露客人、公司隐私、商业信息等。</p>
  <p>　　3、发生不服从分公司、车队管理，不配合相关稽查人员工作的。</p>
  <p>　　4、驾驶员招揽、搭载其他用户乘车。</p>
  <h2>(三)驾驶员存在下列任一情形，导致投诉及差评的，驾驶员应向全行科技货运服务平台支付违约金100元。</h2>
  <p>　　 1、在接到订单后发生无故要求客服改派订单。</p>
  <p>　　 2、未按约定时间，到达用户指定上车地点。</p>
  <p>　　 3、不符合《“线上接单平台”工作手册》中仪容仪表、言行举止规范所述的。</p>
  <p>　　 4、不符合《“线上接单平台”工作手册》中车辆标准所述的。</p>
  <p>　　 5、不符合《“线上接单平台”工作手册》中服务流程、服务标准及服务话术所述的。</p>
  <p>　　 6、驾驶员有责投诉一次。</p>
  <p>　　 7、在驾驶服务过程中，有疲劳驾驶，不系安全带，查看使用手机或在不使用耳机情况下接 打电话，驾驶中吸烟，单手驾驶等存在安全隐患的驾驶行为，或因驾驶员存在不文明驾驶行 为被投诉举报的。</p>
  <h2>(四)其它:</h2>
  <p>　　 1、上述规定可与公司其他管理规定同时实施，如遇重复项从严追究违约责任。</p>
  <p>　　 2、涉及“多收费”情形的，除按上述处理以外，还应由责任驾驶员将多收部分三倍退赔。</p>
</body>
</html>