<!-- webpack-roami 渠道分析-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>新创自动发卡平台</title>
</head>
<body>
	#include("./widget/header.html")
	<div class="main clearfix">
		#include("./widget/sidebar.html")
		<div class="container seo scroll">
			<div class="box init b1">
        <div class="title">渠道分析<span>Channel analysis</span> 
        </div>
        <div class="table">
          <div class="bar">
            <span class="t1">开始日期：</span>
            <select name="" id="" class="time">
              <option value="">2018-2-16</option>
              <option value="">2018-2-17</option>
              <option value="">2018-2-18</option>
            </select>
            <span class="t1">结束日期：</span>
            <select name="" id="" class="time">
              <option value="">2018-2-26</option>
              <option value="">2018-2-26</option>
              <option value="">2018-2-26</option>
            </select>
            <button class="btn1"><i class="xcFont ico-search"></i> 立即查询</button>
            <button class="btn2"><i class="xcFont ico-export2"></i> 批量导出</button>
          </div>
          <table>
            <thead>
              <tr>
                <td>支付方式</td>
                <td>提交订单数</td>
                <td>已付订单数</td>
                <td>未付订单数</td>
                <td>订单总金额</td>
                <td>订单实收金额</td>
                <td>订单总收入</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>合计</td>
                <td>2</td>
                <td>1</td>
                <td>1</td>
                <td>85.00</td>
                <td>65.00</td>
                <td>65.00</td>
              </tr>
              <tr>
                <td>合计</td>
                <td>2</td>
                <td>1</td>
                <td>1</td>
                <td>85.00</td>
                <td>65.00</td>
                <td>65.00</td>
              </tr>
              <tr>
                <td>合计</td>
                <td>2</td>
                <td>1</td>
                <td>1</td>
                <td>85.00</td>
                <td>65.00</td>
                <td>65.00</td>
              </tr>
              <tr>
                <td>合计</td>
                <td>2</td>
                <td>1</td>
                <td>1</td>
                <td>85.00</td>
                <td>65.00</td>
                <td>65.00</td>
              </tr>
              <tr>
                <td>合计</td>
                <td>2</td>
                <td>1</td>
                <td>1</td>
                <td>85.00</td>
                <td>65.00</td>
                <td>65.00</td>
              </tr>
              <tr>
                <td>合计</td>
                <td>2</td>
                <td>1</td>
                <td>1</td>
                <td>85.00</td>
                <td>65.00</td>
                <td>65.00</td>
              </tr>
              <tr>
                <td>合计</td>
                <td>2</td>
                <td>1</td>
                <td>1</td>
                <td>85.00</td>
                <td>65.00</td>
                <td>65.00</td>
              </tr>
              <tr>
                <td>合计</td>
                <td>2</td>
                <td>1</td>
                <td>1</td>
                <td>85.00</td>
                <td>65.00</td>
                <td>65.00</td>
              </tr>
              <tr>
                <td>合计</td>
                <td>2</td>
                <td>1</td>
                <td>1</td>
                <td>85.00</td>
                <td>65.00</td>
                <td>65.00</td>
              </tr>
              <tr>
                <td>合计</td>
                <td>2</td>
                <td>1</td>
                <td>1</td>
                <td>85.00</td>
                <td>65.00</td>
                <td>65.00</td>
              </tr>
              <tr>
                <td>合计</td>
                <td>2</td>
                <td>1</td>
                <td>1</td>
                <td>85.00</td>
                <td>65.00</td>
                <td>65.00</td>
              </tr>
              <tr>
                <td>合计</td>
                <td>2</td>
                <td>1</td>
                <td>1</td>
                <td>85.00</td>
                <td>65.00</td>
                <td>65.00</td>
              </tr>
              <tr>
                <td>合计</td>
                <td>2</td>
                <td>1</td>
                <td>1</td>
                <td>85.00</td>
                <td>65.00</td>
                <td>65.00</td>
              </tr>
              <tr>
                <td>合计</td>
                <td>2</td>
                <td>1</td>
                <td>1</td>
                <td>85.00</td>
                <td>65.00</td>
                <td>65.00</td>
              </tr>
            </tbody>
          </table>
        </div>
			</div>
		</div>
	</div>
</body>
</html>
