<!-- webpack-roami 最近卖出-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>新创自动发卡平台</title>
</head>
<body>
	#include("./widget/header.html")
	<div class="main clearfix">
		#include("./widget/sidebar.html")
		<div class="container sold scroll">
			<div class="box init b1">
        <div class="title">最近卖出<span> Recently sold</span> 
				</div>
				<div class="table">
          <div class="bar">
            <span class="t1">商品分类：</span>
            <select name="" id="">
              <option value="">全部</option>
              <option value="">全部2</option>
              <option value="">全部3</option>
            </select>
            <span class="t1 t2">商品分类：</span>
            <select name="" id="">
              <option value="">订单号</option>
              <option value="">12346545</option>
              <option value="">4561321231</option>
            </select>
            <input type="text">
            <button class="btn1"><i class="xcFont ico-search"></i> 立即查询</button>
            <button class="btn2"><i class="xcFont ico-export2"></i> 导出卡密</button>
          </div>
					<table>
						<thead>
              <td style="text-align: left;">时间</td>
							<td style="text-align: left;">商品名称</td>
							<td>卡密信息</td>
              <td>支付方式</td>
              <td>购买者信息</td>
              <td>金额</td>
              <td>分成</td>
						</thead>
						<tbody>
              <tr>
                <td style="text-align: left;">2018-03-15 16:08:05</td>
                <td style="text-align: left;">商品名称大全</td>
                <td><a href="">查看卡密</a>（<span class="orange">1</span>张）</td>
                <td>微信支付</td>
                <td>18955940273</td>
                <td>1.00</td>
                <td>0.95</td>
              </tr>
              <tr>
                <td style="text-align: left;">2018-03-15 16:08:05</td>
                <td style="text-align: left;">商品名称大全</td>
                <td>
                  <a href="">查看卡密</a>（
                  <span class="orange">1</span>张）</td>
                <td>微信支付</td>
                <td>18955940273</td>
                <td>1.00</td>
                <td>0.95</td>
              </tr>
              <tr>
                <td style="text-align: left;">2018-03-15 16:08:05</td>
                <td style="text-align: left;">商品名称大全</td>
                <td>
                  <a href="">查看卡密</a>（
                  <span class="orange">1</span>张）</td>
                <td>微信支付</td>
                <td>18955940273</td>
                <td>1.00</td>
                <td>0.95</td>
              </tr>
              <tr>
                <td style="text-align: left;">2018-03-15 16:08:05</td>
                <td style="text-align: left;">商品名称大全</td>
                <td>
                  <a href="">查看卡密</a>（
                  <span class="orange">1</span>张）</td>
                <td>微信支付</td>
                <td>18955940273</td>
                <td>1.00</td>
                <td>0.95</td>
              </tr>
              <tr>
                <td style="text-align: left;">2018-03-15 16:08:05</td>
                <td style="text-align: left;">商品名称大全</td>
                <td>
                  <a href="">查看卡密</a>（
                  <span class="orange">1</span>张）</td>
                <td>微信支付</td>
                <td>18955940273</td>
                <td>1.00</td>
                <td>0.95</td>
              </tr>
              <tr>
                <td style="text-align: left;">2018-03-15 16:08:05</td>
                <td style="text-align: left;">商品名称大全</td>
                <td>
                  <a href="">查看卡密</a>（
                  <span class="orange">1</span>张）</td>
                <td>微信支付</td>
                <td>18955940273</td>
                <td>1.00</td>
                <td>0.95</td>
              </tr>
              <tr>
                <td style="text-align: left;">2018-03-15 16:08:05</td>
                <td style="text-align: left;">商品名称大全</td>
                <td>
                  <a href="">查看卡密</a>（
                  <span class="orange">1</span>张）</td>
                <td>微信支付</td>
                <td>18955940273</td>
                <td>1.00</td>
                <td>0.95</td>
              </tr>
              <tr>
                <td style="text-align: left;">2018-03-15 16:08:05</td>
                <td style="text-align: left;">商品名称大全</td>
                <td>
                  <a href="">查看卡密</a>（
                  <span class="orange">1</span>张）</td>
                <td>微信支付</td>
                <td>18955940273</td>
                <td>1.00</td>
                <td>0.95</td>
              </tr>
              <tr>
                <td style="text-align: left;">2018-03-15 16:08:05</td>
                <td style="text-align: left;">商品名称大全</td>
                <td>
                  <a href="">查看卡密</a>（
                  <span class="orange">1</span>张）</td>
                <td>微信支付</td>
                <td>18955940273</td>
                <td>1.00</td>
                <td>0.95</td>
              </tr>
						</tbody>
          </table>
					<div class="pagination">
            <p class="left">
               今日<span class="orange">0</span> 条， 昨日<span class="orange">1</span> 条
            </p>
						<p class="right">
							本页：<span class="blue">12</span>条数据&nbsp;&nbsp;&nbsp;总共：<span class="blue">100</span>条数据
						</p>
						<div class="m-pages">
							<div class="wrap clearfix">
								<a class="prev" href="" ><i>上一页</i></a>
								<a class="pHide current " href="javascript:;"><i>1</i></a>
								<a href=""><i>2</i></a>
								<a href=""><i>3</i></a>
								<a href=""><i>4</i></a>
								<a href=""><i>5</i></a>
								<a href=""><i>6</i></a>
								<a href=""><i>7</i></a>
								<a href=""><i>···</i></a>
								<a href=""><i>99</i></a>
								<a class="next" href="" ><i>下一页</i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
