<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>红红火火</title>
</head>
<body>
	<div class="tag">
    <div class="bg">
      <div class="header">
        <a href="" class="back"><img src="../assets/images/icon/ico-arrow2.png" alt=""></a>
        商品标签设置
      </div>
      <div class="title">类型<span>（必选）</span></div>
      <div class="list j-list">
        <ul>
          <li>
            <a href="javascript:;">
              <div class="img">
                <img src="../assets/images/icon/ico-cate1.png" alt="">
              </div>
              <p>冷盘</p>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="img unique" >
                <img src="../assets/images/icon/ico-cate2.png" alt="">
              </div>
              <p>主菜</p>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="img">
                <img src="../assets/images/icon/ico-cate3.png" alt="">
              </div>
              <p>汤羹</p>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="img">
                <img src="../assets/images/icon/ico-cate4.png" alt="">
              </div>
              <p>主食</p>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="img">
                <img src="../assets/images/icon/ico-cate5.png" alt="" >
              </div>
              <p>点心</p>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="img">
                <img src="../assets/images/icon/ico-cate6.png" alt="" class="unique">
              </div>
              <p>饮料</p>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="img">
                <img src="../assets/images/icon/ico-cate7.png" alt="">
              </div>
              <p>酒水</p>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="img">
                <img src="../assets/images/icon/ico-cate8.png" alt="">
              </div>
              <p>汤底</p>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="img">
                <img src="../assets/images/icon/ico-cate9.png" alt="" class="unique">
              </div>
              <p>调料</p>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="img">
                <img src="../assets/images/icon/ico-cate10.png" alt="">
              </div>
              <p>餐具</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="title">辣椒指数</div>
      <div class="list j-list">
        <ul>
          <li class="active">
            <a href="javascript:;">
              <div class="img img1">
                <img src="../assets/images/icon/ico-hot1.png" alt="">
              </div>
              <p>不辣</p>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="img img1">
                <img src="../assets/images/icon/ico-hot2.png" alt="">
              </div>
              <p>微辣</p>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="img img1">
                <img src="../assets/images/icon/ico-hot3.png" alt="">
              </div>
              <p>中辣</p>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="img img1">
                <img src="../assets/images/icon/ico-hot4.png" alt="">
              </div>
              <p>重辣</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="title">特色标签</div>
    </div>
	</div>
</body>
</html>