<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>roami</title>
</head>
<body class="user-page">
	<div class="header">
    <div class="left">
      <a href="">
        <img src="../assets/images/icon/ico-back.png" alt="">返回
      </a>
    </div>
    <p>我的账户</p>
    <div class="right">
      <a href="">
        <img src="../assets/images/icon/ico-more.png" alt="">
      </a>
    </div>
  </div>
  <div class="user">
    <img src="../assets/images/avatar.png" alt="">
    MoringTime
  </div>
  <div class="info">
    <div class="left box">
      <p class="t1"><span>390</span>万</p>
      <p class="t2">
        <img src="../assets/images/icon/ico-bill.png" alt="">
        贷款总额
      </p>
    </div>
    <div class="right box">
      <p class="t1"><span>0</span>元</p>
      <p class="t2">
        <img src="../assets/images/icon/ico-paycard.png" alt="">
        贷款总额
      </p>
    </div>
  </div>
  <div class="list">
    <ul>
      <li>
        <a href="">
          <div class="left">
            <img src="../assets/images/icon/ico-code.png" alt="">
            我的二维码
          </div>
          <div class="right"><img src="../assets/images/icon/ico-arrow.png" alt=""></div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="left">
            <img src="../assets/images/icon/ico-daikuan.png" alt="">
            我的贷款
          </div>
          <div class="right"><img src="../assets/images/icon/ico-arrow.png" alt=""></div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="left">
            <img src="../assets/images/icon/ico-service.png" alt="">
            咨询客服
          </div>
          <div class="right"><img src="../assets/images/icon/ico-arrow.png" alt=""></div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="left">
            <img src="../assets/images/icon/ico-v.png" alt="">
            走进御鼎
          </div>
          <div class="right"><img src="../assets/images/icon/ico-arrow.png" alt=""></div>
        </a>
      </li>
    </ul>
    <div class="logo">
      <a href="">
        <img src="../assets/images/logo.png" alt="">
      </a>
    </div>
  </div>
</body>
</html>
