<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>title</title>
</head>

<body class="wine3-page">
  <div class="head1 container">
    <div class="left">
      <a href="">登录/注册</a>
    </div>
    <div class="right">
      <div class="search">
        <span></span>
        <input type="text" placeholder="在商城中搜索">
      </div>
      <a href="">
        <img src="../assets/images/cart.png" alt="">
      </a>
    </div>
  </div>
  <div class="head2 container">
    <div class="left logo">
      <a href="">
        <img src="../assets/images/logo_cantin.jpg" alt="">
      </a>
    </div>
    <ul class="right nav">
      <li class="active"><a href="">首页</a></li>
      <li><a href="">产品中心</a></li>
      <li><a href="">关于我们</a></li>
      <li><a href="">联系我们</a></li>
      <li><a href="">全球通交易平台</a></li>
      <li><a href="">管理中心</a></li>
      <li><a href="">购物车</a></li>
    </ul>
  </div>
  <div class="content">
    <div class="banner">
      <div class="container">
        <div class="left">
          <a href="" class="logo"><img src="../assets/images/wine-logo1.png" alt=""></a>
          <a href="" class="active">店铺首页</a>
          <a href="">所有商品</a>
          <a href="">水产品</a>
          <a href="">肉类</a>
          <a href="">乳制品</a>
          <a href="">果蔬</a>
          <a href="">酒水</a>
        </div>
        <div class="right">
          <input type="text" placeholder="店内搜索">
          <i></i>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="box2">
        <div class="title"><img src="../assets/images/search-title.png" alt=""></div>
        <ul>
          <li><a href=""><img src="../assets/images/wine-goods.jpg" alt="">
              <p class="t1">Msolution jm水光蜂蜜面膜 10片*2盒紧致保湿补水 </p>
              <p class="t2">
                <span class="new">¥122</span><span class="old">¥222</span>
                <a href="" class="cart">加入购物车</a>
              </p>
            </a>
          </li>
          <li><a href=""><img src="../assets/images/wine-goods.jpg" alt="">
              <p class="t1">Msolution jm水光蜂蜜面膜 10片*2盒紧致保湿补水 </p>
              <p class="t2">
                <span class="new">¥122</span><span class="old">¥222</span>
                <a href="" class="cart">加入购物车</a>
              </p>
            </a>
          </li>
          <li><a href=""><img src="../assets/images/wine-goods.jpg" alt="">
              <p class="t1">Msolution jm水光蜂蜜面膜 10片*2盒紧致保湿补水 </p>
              <p class="t2">
                <span class="new">¥122</span><span class="old">¥222</span>
                <a href="" class="cart">加入购物车</a>
              </p>
            </a>
          </li>
          <li><a href=""><img src="../assets/images/wine-goods.jpg" alt="">
              <p class="t1">Msolution jm水光蜂蜜面膜 10片*2盒紧致保湿补水 </p>
              <p class="t2">
                <span class="new">¥122</span><span class="old">¥222</span>
                <a href="" class="cart">加入购物车</a>
              </p>
            </a>
          </li>
          <li><a href=""><img src="../assets/images/wine-goods.jpg" alt="">
              <p class="t1">Msolution jm水光蜂蜜面膜 10片*2盒紧致保湿补水 </p>
              <p class="t2">
                <span class="new">¥122</span><span class="old">¥222</span>
                <a href="" class="cart">加入购物车</a>
              </p>
            </a>
          </li>
          <li><a href=""><img src="../assets/images/wine-goods.jpg" alt="">
              <p class="t1">Msolution jm水光蜂蜜面膜 10片*2盒紧致保湿补水 </p>
              <p class="t2">
                <span class="new">¥122</span><span class="old">¥222</span>
                <a href="" class="cart">加入购物车</a>
              </p>
            </a>
          </li>
          <li><a href=""><img src="../assets/images/wine-goods.jpg" alt="">
              <p class="t1">Msolution jm水光蜂蜜面膜 10片*2盒紧致保湿补水 </p>
              <p class="t2">
                <span class="new">¥122</span><span class="old">¥222</span>
                <a href="" class="cart">加入购物车</a>
              </p>
            </a>
          </li>
          <li><a href=""><img src="../assets/images/wine-goods.jpg" alt="">
              <p class="t1">考拉工厂店 香脆薯条 90克/盒 </p>
              <p class="t2">
                <span class="new">¥122</span><span class="old">¥222</span>
                <a href="" class="cart">加入购物车</a>
              </p>
            </a>
          </li>
          <li><a href=""><img src="../assets/images/wine-goods.jpg" alt="">
              <p class="t1">Msolution jm水光蜂蜜面膜 10片*2盒紧致保湿补水 </p>
              <p class="t2">
                <span class="new">¥122</span><span class="old">¥222</span>
                <a href="" class="cart">加入购物车</a>
              </p>
            </a>
          </li>
          <li><a href=""><img src="../assets/images/wine-goods.jpg" alt="">
              <p class="t1">Msolution jm水光蜂蜜面膜 10片*2盒紧致保湿补水 </p>
              <p class="t2">
                <span class="new">¥122</span><span class="old">¥222</span>
                <a href="" class="cart">加入购物车</a>
              </p>
            </a>
          </li>
          <li><a href=""><img src="../assets/images/wine-goods.jpg" alt="">
              <p class="t1">Msolution jm水光蜂蜜面膜 10片*2盒紧致保湿补水 </p>
              <p class="t2">
                <span class="new">¥122</span><span class="old">¥222</span>
                <a href="" class="cart">加入购物车</a>
              </p>
            </a>
          </li>
          <li><a href=""><img src="../assets/images/wine-goods.jpg" alt="">
              <p class="t1">Msolution jm水光蜂蜜面膜 10片*2盒紧致保湿补水 </p>
              <p class="t2">
                <span class="new">¥122</span><span class="old">¥222</span>
                <a href="" class="cart">加入购物车</a>
              </p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>
      <a href="">关于我们</a>
      <a href="">联系我们</a>
      <a href="">客户服务</a>
      <a href="">隐私政策</a>
    </p>
    <p>Copyright 鲁ICP备15041398号-9 © 万贸城冷链食品全球通服务平台</p>
  </div>
  <div class="fixed-nav">
    <ul>
      <li>
        <a href="">
          <img src="../assets/images/wine-nav.png" alt="">
          <img class="blue" src="../assets/images/wine-nav-blue.png" alt="">
          <span>水产</span>
          <i></i>
        </a>
      </li>
      <li>
        <a href="">
          <img src="../assets/images/wine-nav.png" alt="">
          <img class="blue" src="../assets/images/wine-nav-blue.png" alt="">
          <span>水产</span>
          <i></i>
        </a>
      </li>
      <li>
        <a href="">
          <img src="../assets/images/wine-nav.png" alt="">
          <img class="blue" src="../assets/images/wine-nav-blue.png" alt="">
          <span>水产</span>
          <i></i>
        </a>
      </li>
      <li>
        <a href="">
          <img src="../assets/images/wine-nav.png" alt="">
          <img class="blue" src="../assets/images/wine-nav-blue.png" alt="">
          <span>水产</span>
          <i></i>
        </a>
      </li>
    </ul>
  </div>
  <a href="javascript:;" class="to-top" title="返回顶部">
    <img src="../assets/images/top.png" alt="">
  </a>
</body>

</html>