<!-- webpack-roami 申请提现-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>新创自动发卡平台</title>
</head>
<body>
	#include("./widget/header.html")
	<div class="main clearfix">
		#include("./widget/sidebar.html")
		<div class="container withdraw scroll">
			<div class="box init b1">
        <div class="title">申请提现<span>Application for withdrawal </span> 
        </div>
        
        <div class="none-box">
          <img src="../assets/images/nocash.png" alt="">
          <p>当前账户可申请结算 <span class="money"> 金额不足</span> ，暂不能申请结算！ </p>
          <p class="t1">如果<span class="time">3</span> 秒后没有跳转，<a href="">请点击这里继续</a></p>
				</div>
				<div class="full-box">
					<form action="" class="clearfix">
						<div class="item clearfix">
							<span class="left">商品编号</span>
							<div class="right">
								<input type="text" value="123123">
							</div>
						</div>
						<div class="item clearfix">
							<span class="left">账号名称</span>
							<div class="right">
								<input type="text" value="sad5454446">
							</div>
						</div>
						<div class="item clearfix">
							<span class="left">收款方式</span>
							<div class="right">
								<input type="text" value="支付宝">
								<span class="tip">
									 请确认您的收款账号和姓名是否正确，账号有问题请先修改后在申请
								</span>
							</div>
						</div>
						<div class="item clearfix">
							<span class="left">支付宝账号</span>
							<div class="right">
								<input type="text" value="13866546412">
								<span class="tip">
									 请确认您的收款账号和姓名是否正确，账号有问题请先修改后在申请 拷贝
								</span>
							</div>
						</div>
						<div class="item clearfix">
							<span class="left">可提现金额</span>
							<div class="right">
								<span class="text">127.84元</span>
							</div>
						</div>
						<div class="item clearfix">
							<span class="left">申请提现金额</span>
							<div class="right">
								<input type="text" value="127.48">
								<span class="ext">元</span>
								<span class="tip">大于100元，系统自动结算，手动申请的话，会扣除1元手续费！</span>
							</div>
						</div>
					</form>
					<div class="btn">
						<button class="t1">申请结算</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
