@import 'reset.css';
@import 'xcFont.css';
@import 'components/common';
@import 'components/layout';
@import 'components/modal';

@import 'components/home';
@import 'components/user';
@import 'components/safety';
@import 'components/settle';
@import 'components/complaint';
@import 'components/withdraw';
@import 'components/addcate';
@import 'components/goodlist';
@import 'components/addgood';
@import 'components/addkami';
@import 'components/kamilist';
@import 'components/kamimanage';
@import 'components/kamitrash';
@import 'components/sold';

@import 'components/link';
@import 'components/order';
@import 'components/log';
@import 'components/income';
@import 'components/seo';
@import 'components/payway';
@import 'components/coupon';
@import 'components/addcoupon';
@import 'components/baike';
@import 'components/infomation';