body{
  font-size: .12rem;
  background: #fff;
}
@import 'media';
@import 'reset';
@import 'components/common';
@import 'components/home';
@import 'components/good';
@import 'components/pack';
@import 'components/login';
@import 'components/tag';
@import 'components/list';
