@import 'reset.css';
@import 'xcFont.css';
@import 'components/common';
@import 'components/layout';

@import 'components/home';
@import 'components/user';
@import 'components/safety';
@import 'components/settle';
@import 'components/complaint';
@import 'components/withdraw';
@import 'components/addcate';
@import 'components/goodlist';
@import 'components/addgood';
@import 'components/addkami';