html{
	font-family: 'Microsoft YaHei',Arial,'宋体',sans-serif;
	font-size:625%;
}
@media (max-width:640px){
	html{
		font-size:625% !important;
	}
}
@media (max-width:635px){
	html{
		font-size:620.1171875% !important;
	}
}
@media (max-width:630px){
	html{
		font-size:615.234375% !important;
	}
}
@media (max-width:625px){
	html{
		font-size:610.3515625% !important;
	}
}
@media (max-width:620px){
	html{
		font-size:605.46875% !important;
	}
}
@media (max-width:615px){
	html{
		font-size:600.5859375% !important;
	}
}
@media (max-width:610px){
	html{
		font-size:595.703125% !important;
	}
}
@media (max-width:605px){
	html{
		font-size:590.8203125% !important;
	}
}
@media (max-width:600px){
	html{
		font-size:585.9375% !important;
	}
}
@media (max-width:595px){
	html{
		font-size:581.0546875% !important;
	}
}
@media (max-width:590px){
	html{
		font-size:576.171875% !important;
	}
}
@media (max-width:585px){
	html{
		font-size:571.2890625% !important;
	}
}
@media (max-width:580px){
	html{
		font-size:566.40625% !important;
	}
}
@media (max-width:575px){
	html{
		font-size:561.5234375% !important;
	}
}
@media (max-width:570px){
	html{
		font-size:556.640625% !important;
	}
}
@media (max-width:565px){
	html{
		font-size:551.7578125% !important;
	}
}
@media (max-width:560px){
	html{
		font-size:546.875% !important;
	}
}
@media (max-width:555px){
	html{
		font-size:541.9921875% !important;
	}
}
@media (max-width:550px){
	html{
		font-size:537.109375% !important;
	}
}
@media (max-width:545px){
	html{
		font-size:532.2265625% !important;
	}
}
@media (max-width:540px){
	html{
		font-size:527.34375% !important;
	}
}
@media (max-width:535px){
	html{
		font-size:522.4609375% !important;
	}
}
@media (max-width:530px){
	html{
		font-size:517.578125% !important;
	}
}
@media (max-width:525px){
	html{
		font-size:512.6953125% !important;
	}
}
@media (max-width:520px){
	html{
		font-size:507.8125% !important;
	}
}
@media (max-width:515px){
	html{
		font-size:502.9296875% !important;
	}
}
@media (max-width:510px){
	html{
		font-size:498.046875% !important;
	}
}
@media (max-width:505px){
	html{
		font-size:493.1640625% !important;
	}
}
@media (max-width:500px){
	html{
		font-size:488.28125% !important;
	}
}
@media (max-width:495px){
	html{
		font-size:483.3984375% !important;
	}
}
@media (max-width:490px){
	html{
		font-size:478.515625% !important;
	}
}
@media (max-width:485px){
	html{
		font-size:473.6328125% !important;
	}
}
@media (max-width:480px){
	html{
		font-size:468.75% !important;
	}
}
@media (max-width:475px){
	html{
		font-size:463.8671875% !important;
	}
}
@media (max-width:470px){
	html{
		font-size:458.984375% !important;
	}
}
@media (max-width:465px){
	html{
		font-size:454.1015625% !important;
	}
}
@media (max-width:460px){
	html{
		font-size:449.21875% !important;
	}
}
@media (max-width:455px){
	html{
		font-size:444.3359375% !important;
	}
}
@media (max-width:450px){
	html{
		font-size:439.453125% !important;
	}
}
@media (max-width:445px){
	html{
		font-size:434.5703125% !important;
	}
}
@media (max-width:440px){
	html{
		font-size:429.6875% !important;
	}
}
@media (max-width:435px){
	html{
		font-size:424.8046875% !important;
	}
}
@media (max-width:430px){
	html{
		font-size:419.921875% !important;
	}
}
@media (max-width:425px){
	html{
		font-size:415.0390625% !important;
	}
}
@media (max-width:420px){
	html{
		font-size:410.15625% !important;
	}
}
@media (max-width:415px){
	html{
		font-size:405.2734375% !important;
	}
}
@media (max-width:410px){
	html{
		font-size:400.390625% !important;
	}
}
@media (max-width:405px){
	html{
		font-size:395.5078125% !important;
	}
}
@media (max-width:400px){
	html{
		font-size:390.625% !important;
	}
}
@media (max-width:395px){
	html{
		font-size:385.7421875% !important;
	}
}
@media (max-width:390px){
	html{
		font-size:380.859375% !important;
	}
}
@media (max-width:385px){
	html{
		font-size:375.9765625% !important;
	}
}
@media (max-width:380px){
	html{
		font-size:371.09375% !important;
	}
}
@media (max-width:375px){
	html{
		font-size:366.2109375% !important;
	}
}
@media (max-width:370px){
	html{
		font-size:361.328125% !important;
	}
}
@media (max-width:365px){
	html{
		font-size:356.4453125% !important;
	}
}
@media (max-width:360px){
	html{
		font-size:351.5625% !important;
	}
}
@media (max-width:355px){
	html{
		font-size:346.6796875% !important;
	}
}
@media (max-width:350px){
	html{
		font-size:341.796875% !important;
	}
}
@media (max-width:345px){
	html{
		font-size:336.9140625% !important;
	}
}
@media (max-width:340px){
	html{
		font-size:332.03125% !important;
	}
}
@media (max-width:335px){
	html{
		font-size:327.1484375% !important;
	}
}
@media (max-width:330px){
	html{
		font-size:322.265625% !important;
	}
}
@media (max-width:325px){
	html{
		font-size:317.3828125% !important;
	}
}
@media (max-width:320px){
	html{
		font-size:312.5% !important;
	}
}
