html{
	font-family: 'Microsoft YaHei',Arial,'宋体',sans-serif;
	font-size:625%;
}
@media (max-width:750px){
	html{
		font-size:625% !important;
	}
}
@media (max-width:745px){
	html{
		font-size:620.8333333333334% !important;
	}
}
@media (max-width:740px){
	html{
		font-size:616.6666666666666% !important;
	}
}
@media (max-width:735px){
	html{
		font-size:612.5% !important;
	}
}
@media (max-width:730px){
	html{
		font-size:608.3333333333334% !important;
	}
}
@media (max-width:725px){
	html{
		font-size:604.1666666666666% !important;
	}
}
@media (max-width:720px){
	html{
		font-size:600% !important;
	}
}
@media (max-width:715px){
	html{
		font-size:595.8333333333334% !important;
	}
}
@media (max-width:710px){
	html{
		font-size:591.6666666666666% !important;
	}
}
@media (max-width:705px){
	html{
		font-size:587.5% !important;
	}
}
@media (max-width:700px){
	html{
		font-size:583.3333333333334% !important;
	}
}
@media (max-width:695px){
	html{
		font-size:579.1666666666666% !important;
	}
}
@media (max-width:690px){
	html{
		font-size:575% !important;
	}
}
@media (max-width:685px){
	html{
		font-size:570.8333333333334% !important;
	}
}
@media (max-width:680px){
	html{
		font-size:566.6666666666666% !important;
	}
}
@media (max-width:675px){
	html{
		font-size:562.5% !important;
	}
}
@media (max-width:670px){
	html{
		font-size:558.3333333333334% !important;
	}
}
@media (max-width:665px){
	html{
		font-size:554.1666666666666% !important;
	}
}
@media (max-width:660px){
	html{
		font-size:550% !important;
	}
}
@media (max-width:655px){
	html{
		font-size:545.8333333333334% !important;
	}
}
@media (max-width:650px){
	html{
		font-size:541.6666666666666% !important;
	}
}
@media (max-width:645px){
	html{
		font-size:537.5% !important;
	}
}
@media (max-width:640px){
	html{
		font-size:533.3333333333334% !important;
	}
}
@media (max-width:635px){
	html{
		font-size:529.1666666666666% !important;
	}
}
@media (max-width:630px){
	html{
		font-size:525% !important;
	}
}
@media (max-width:625px){
	html{
		font-size:520.8333333333334% !important;
	}
}
@media (max-width:620px){
	html{
		font-size:516.6666666666666% !important;
	}
}
@media (max-width:615px){
	html{
		font-size:512.5% !important;
	}
}
@media (max-width:610px){
	html{
		font-size:508.3333333333333% !important;
	}
}
@media (max-width:605px){
	html{
		font-size:504.1666666666667% !important;
	}
}
@media (max-width:600px){
	html{
		font-size:500% !important;
	}
}
@media (max-width:595px){
	html{
		font-size:495.8333333333333% !important;
	}
}
@media (max-width:590px){
	html{
		font-size:491.6666666666667% !important;
	}
}
@media (max-width:585px){
	html{
		font-size:487.5% !important;
	}
}
@media (max-width:580px){
	html{
		font-size:483.3333333333333% !important;
	}
}
@media (max-width:575px){
	html{
		font-size:479.1666666666667% !important;
	}
}
@media (max-width:570px){
	html{
		font-size:475% !important;
	}
}
@media (max-width:565px){
	html{
		font-size:470.8333333333333% !important;
	}
}
@media (max-width:560px){
	html{
		font-size:466.6666666666667% !important;
	}
}
@media (max-width:555px){
	html{
		font-size:462.5% !important;
	}
}
@media (max-width:550px){
	html{
		font-size:458.3333333333333% !important;
	}
}
@media (max-width:545px){
	html{
		font-size:454.1666666666667% !important;
	}
}
@media (max-width:540px){
	html{
		font-size:450% !important;
	}
}
@media (max-width:535px){
	html{
		font-size:445.8333333333333% !important;
	}
}
@media (max-width:530px){
	html{
		font-size:441.6666666666667% !important;
	}
}
@media (max-width:525px){
	html{
		font-size:437.5% !important;
	}
}
@media (max-width:520px){
	html{
		font-size:433.3333333333333% !important;
	}
}
@media (max-width:515px){
	html{
		font-size:429.1666666666667% !important;
	}
}
@media (max-width:510px){
	html{
		font-size:425% !important;
	}
}
@media (max-width:505px){
	html{
		font-size:420.8333333333333% !important;
	}
}
@media (max-width:500px){
	html{
		font-size:416.6666666666667% !important;
	}
}
@media (max-width:495px){
	html{
		font-size:412.5% !important;
	}
}
@media (max-width:490px){
	html{
		font-size:408.3333333333333% !important;
	}
}
@media (max-width:485px){
	html{
		font-size:404.1666666666667% !important;
	}
}
@media (max-width:480px){
	html{
		font-size:400% !important;
	}
}
@media (max-width:475px){
	html{
		font-size:395.8333333333333% !important;
	}
}
@media (max-width:470px){
	html{
		font-size:391.6666666666667% !important;
	}
}
@media (max-width:465px){
	html{
		font-size:387.5% !important;
	}
}
@media (max-width:460px){
	html{
		font-size:383.3333333333333% !important;
	}
}
@media (max-width:455px){
	html{
		font-size:379.1666666666667% !important;
	}
}
@media (max-width:450px){
	html{
		font-size:375% !important;
	}
}
@media (max-width:445px){
	html{
		font-size:370.8333333333333% !important;
	}
}
@media (max-width:440px){
	html{
		font-size:366.6666666666667% !important;
	}
}
@media (max-width:435px){
	html{
		font-size:362.5% !important;
	}
}
@media (max-width:430px){
	html{
		font-size:358.3333333333333% !important;
	}
}
@media (max-width:425px){
	html{
		font-size:354.1666666666667% !important;
	}
}
@media (max-width:420px){
	html{
		font-size:350% !important;
	}
}
@media (max-width:415px){
	html{
		font-size:345.8333333333333% !important;
	}
}
@media (max-width:410px){
	html{
		font-size:341.6666666666667% !important;
	}
}
@media (max-width:405px){
	html{
		font-size:337.5% !important;
	}
}
@media (max-width:400px){
	html{
		font-size:333.3333333333333% !important;
	}
}
@media (max-width:395px){
	html{
		font-size:329.1666666666667% !important;
	}
}
@media (max-width:390px){
	html{
		font-size:325% !important;
	}
}
@media (max-width:385px){
	html{
		font-size:320.8333333333333% !important;
	}
}
@media (max-width:380px){
	html{
		font-size:316.6666666666667% !important;
	}
}
@media (max-width:375px){
	html{
		font-size:312.5% !important;
	}
}
@media (max-width:370px){
	html{
		font-size:308.3333333333333% !important;
	}
}
@media (max-width:365px){
	html{
		font-size:304.1666666666667% !important;
	}
}
@media (max-width:360px){
	html{
		font-size:300% !important;
	}
}
@media (max-width:355px){
	html{
		font-size:295.8333333333333% !important;
	}
}
@media (max-width:350px){
	html{
		font-size:291.6666666666667% !important;
	}
}
@media (max-width:345px){
	html{
		font-size:287.5% !important;
	}
}
@media (max-width:340px){
	html{
		font-size:283.3333333333333% !important;
	}
}
@media (max-width:335px){
	html{
		font-size:279.1666666666667% !important;
	}
}
@media (max-width:330px){
	html{
		font-size:275% !important;
	}
}
@media (max-width:325px){
	html{
		font-size:270.8333333333333% !important;
	}
}
@media (max-width:320px){
	html{
		font-size:266.6666666666667% !important;
	}
}
