@font-face {
  font-family: "weygo";
  src: url('./font/iconfont.woff') format('woff'); /* chrome, firefox */
}

.weygo {
  font-family:"weygo" !important;
  font-size:.16rem;
  font-style:normal;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ico45{
  display: inline-block;
  transform: rotate(45deg);;
}
.ico90{
  display: inline-block;
  transform: rotate(90deg);;
}
.ico180{
  display: inline-block;
  transform: rotate(180deg);;
}

.ico-cate:before { content: "\e7f9"; }

.ico-horizen:before { content: "\e863"; }

.ico-success:before { content: "\e695"; }

.ico-cross:before { content: "\e616"; }

.ico-fav:before { content: "\e63d"; }

.ico-faved:before { content: "\e63e"; }

.ico-down:before { content: "\e60a"; }

.ico-lup:before { content: "\e67c"; }

.ico-add:before { content: "\e61c"; }

.ico-search:before { content: "\e61f"; }

.ico-home:before { content: "\e620"; }

.ico-list:before { content: "\e623"; }

.ico-vip:before { content: "\e627"; }

.ico-minus:before { content: "\e629"; }

.ico-side:before { content: "\e62b"; }

.ico-cart:before { content: "\e62c"; }

.ico-back:before { content: "\e62a"; }

.ico-up:before { content: "\e62d"; }

.ico-minicart:before { content: "\e62e"; }

.ico-checked:before { content: "\e630"; }

.ico-unchecked:before { content: "\e631"; }

.ico-del:before { content: "\e632"; }

.ico-fast:before { content: "\e62f"; }

.ico-all:before { content: "\e633"; }

.ico-real:before { content: "\e634"; }

.ico-low:before { content: "\e635"; }

.ico-man:before { content: "\e636"; }

.ico-earth:before { content: "\e637"; }

.ico-cancel:before { content: "\e638"; }

.ico-refresh:before { content: "\e639"; }

.ico-warn:before { content: "\e63a"; }

.ico-quest:before { content: "\e63b"; }
