<div class="export-modal modal j-exportModal">
  <div class="title">导出WPP天卡未售卡密</span>
  </div>
  <div class="p">
    <span>导出范围：</span>
    <div class="item">
      <input type="radio" name="r1" id="c1" checked>
      <label for="c1">导出全部</label>
    </div>
    <div class="item">
      <input type="radio" name="r1" id="c2">
      <label for="c2">导出指定数量</label>
    </div>
  </div>
  <div class="p">
    <span>导出范围：</span>
    <div class="item">
      <input type="radio" name="r2" id="a1" checked>
      <label for="a1">导出全部</label>
    </div>
    <div class="item">
      <input type="radio" name="r2" id="a2">
      <label for="a2">导出指定数量</label>
    </div>
  </div>
  <div class="p">
    <span>导出范围：</span>
    <div class="item">
      <input type="radio" name="r3" id="b1" checked>
      <label for="b1">导出全部</label>
    </div>
    <div class="item">
      <input type="radio" name="r3" id="b2">
      <label for="b2">导出指定数量</label>
    </div>
  </div>
  <div class="p2">提示1：用户可自定义卡密导出数量和信息</div>
  <div class="p2">提示2：如选择导出后删除，卡密将进入回收站</div>
  <div class="p2">提示3：请您自行保管好卡密信息，误操作删除的话，可以到回收站中找回</div>
  <button class="sure">确认导出</button>
</div>