<div class="footer">
  <div class="info">
    <div class="wrap">
      <ul>
        <li>
          <div class="img">
            <img src="../../assets/images/icon/ico-f1.png" alt="">
          </div>
          <p>第一个艺术品抢购平台</p>
        </li>
        <li>
          <div class="img">
            <img src="../../assets/images/icon/ico-f2.png" alt="">
          </div>
          <p>安全运行超过<br>
            <span><i style="color:#2db343;">4</i>周年</span>
          </p>
        </li>
        <li>
          <div class="img">
            <img src="../../assets/images/icon/ico-f3.png" alt="">
          </div>
          <p>全球注册用户近<br>
            <span><i style="color:#4c94ff;">180</i>万</span>
          </p>
        </li>
        <li>
          <div class="img">
            <img src="../../assets/images/icon/ico-f4.png" alt="">
          </div>
          <p>战略合作商户<br>
            <span><i style="color:#ffaa00;">4500</i>家</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="wrap clearfix">
    <dl>
      <dt>帮助中心</dt>
      <dd><a href=""> 账户管理</a></dd>
      <dd><a href=""> 购物指南</a></dd>
      <dd><a href=""> 订单操作</a></dd>
    </dl>
    <dl>
      <dt>帮助中心</dt>
      <dd><a href=""> 账户管理</a></dd>
      <dd><a href=""> 购物指南</a></dd>
      <dd><a href=""> 订单操作</a></dd>
    </dl>
    <dl>
      <dt>帮助中心</dt>
      <dd><a href=""> 账户管理</a></dd>
      <dd><a href=""> 购物指南</a></dd>
      <dd><a href=""> 订单操作</a></dd>
    </dl>
    <dl>
      <dt>帮助中心</dt>
      <dd><a href=""> 账户管理</a></dd>
      <dd><a href=""> 购物指南</a></dd>
      <dd><a href=""> 订单操作</a></dd>
    </dl>
    <dl>
      <dt>帮助中心</dt>
      <dd><a href=""> 账户管理</a></dd>
      <dd><a href=""> 购物指南</a></dd>
      <dd><a href=""> 订单操作</a></dd>
    </dl>
    <dl>
      <dt>帮助中心</dt>
      <dd><a href=""> 账户管理</a></dd>
      <dd><a href=""> 购物指南</a></dd>
      <dd><a href=""> 订单操作</a></dd>
    </dl>
    <div class="other">
      <img src="../../assets/images/logo.png" width="108px" alt="">
      <p>周一至周日  8：00-21：00</p>
    </div>
  </div>
  <p class="copyright">Copyright 2017 www.renrenweipai.com All Rights Reserved</p>
</div>