<div class="header clearfix">
  <a href="/" class="logo"><img src="../../assets/images/logo.jpg" alt=""></a>
  <a href="/" class="info">
    <img src="../../assets/images/logo1.png" alt="">
  </a>
  <div class="statebar">
    <a href=""><i class="xcFont ico-home"></i>首页</a>
    <a href=""><i class="xcFont ico-pc"></i>返回网站</a>
    <a href=""><i class="xcFont ico-list"></i>订单查询</a>
    <div class="user">
      <span class="avatar">
        <img src="../../assets/images/avatar.png" alt="">
        <span>15</span>
      </span>
      <a class="name j-username" href="javascript:;">
        wx134520 <i class="xcFont ico-arrow"></i>
      </a>
      <a href=""><i class="xcFont ico-out"></i></a>
      <div class="dropdown j-dropdown">
        <ul>
          <li>
            <a href="">
              <img src="../../assets/images/icon/ico-d1.png" alt="">基本信息</a>
          </li>
          <li>
            <a href="">
              <img src="../../assets/images/icon/ico-d2.png" alt="">修改密码</a>
          </li>
          <li style="padding-bottom: 4px;">
            <a href="">
              <img src="../../assets/images/icon/ico-d3.png" alt="">安全设置</a>
          </li>
          <li style="padding-top: 4px;">
            <a href="">
              <img src="../../assets/images/icon/ico-d4.png" alt="">切换主题</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
