<div class="header">
  <a href="/" class="logo"><img src="../../assets/images/logo.jpg" alt=""></a>
  <a href="/" class="info">
    <img src="../../assets/images/logo1.png" alt="">
  </a>
  <div class="statebar">
    <a href=""><i class="xcFont ico-home"></i>首页</a>
    <a href=""><i class="xcFont ico-pc"></i>返回网站</a>
    <a href=""><i class="xcFont ico-list"></i>订单查询</a>
    <div class="user">
      <span class="avatar">
        <img src="../../assets/images/avatar.png" alt="">
        <span>15</span>
      </span>
      <a class="name" href="">
        wx134520 <i class="xcFont ico-arrow"></i>
      </a>
      <a href=""><i class="xcFont ico-out"></i></a>
    </div>
  </div>
</div>
