<div class="header">
  <div class="wrap">
    <div class="left"><a href="">人人微拍</a>中国第一家艺术品抢购平台</div>
    <div class="right">
      <a href=""><img src="../../assets/images/icon/ico-code.png" alt=""> 微信公众号</a>
      <a href="" class="red">用户登录</a>
      <a href="">免费注册</a>
    </div>
  </div>
</div>
<div class="navbar">
  <div class="wrap">
    <a href="" class="logo">
      <img src="../../assets/images/logo.png" alt="">
    </a>
    <ul>
      <li class="active"><a href="">商城首页</a></li>
      <li><a href="">品牌故事</a></li>
      <li><a href="">热点新闻</a></li>
      <li><a href="">资质认证</a></li>
      <li><a href="">售后服务</a></li>
      <li><a href="">商家入驻</a></li>
      <li><a href="">联系我们</a></li>
    </ul>
  </div>
</div>