<div class="link-modal modal j-linkModal">
  <div class="title">商品分类链接
    <span class="close"></span>
  </div>
  <div class="content">
    <div class="info">
      <p>
        购买链接：
        <input style="width:298px;" class="link" id="link1" value="http://957ka.com/links/3CA34FC2C66B3C00" />
        <span class="btn j-btn" data-clipboard-target="#link1">复制</span>
      </p>
      <p>
        短&nbsp;链&nbsp;接：
        <input id="link2" style="width:152px;" class="link" value="http://suo.im/2Y8qmb" />
        <span class="btn j-btn" data-clipboard-target="#link2">复制</span>
      </p>
    </div>
    <div class="left">
      <img class="code" src="../../assets/images/code.png" alt="">
    </div>
    <div class="right">
      <div class="t1">链接状态：
        <img src="../../assets/images/icon/ico-ok.png" alt="">
        <button class="btn1">
          <i class="xcFont ico-switch"></i>关闭链接</button>
        <button class="btn2">
          <i class="xcFont ico-reload"></i>重置链接</button>
      </div>
      <div class="tip">
        链接说明：商品和分类的独立链接在
        <a href="">商品分类</a> 和
        <a href="">商品列表</a>中获取！
      </div>
    </div>
  </div>
</div>