<div class="newInfo-modal modal j-newInfoModal">
  <div class="title">写新消息
    <span class="close"></span>
  </div>
  <div class="item">
    <div class="left">收件人</div>
    <div class="right">
      <input type="text">
    </div>
  </div>
  <div class="item">
    <div class="left">标题</div>
    <div class="right">
      <input type="text">
    </div>
  </div>
  <div class="item">
    <div class="left">内容</div>
    <div class="right">
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
  </div>
  <div class="item">
    <div class="left"></div>
    <div class="right">
      <button>立即发送</button>
    </div>
  </div>
</div>