<ul class="sidebar">
  <li><img src="../../assets/images/icon/ico-call.png" alt=""> <a>400-123-2588</a> </li>
  <li><img src="../../assets/images/icon/ico-call.png" alt=""> <a href="http://">在线留言</a></li>
  <li><img src="../../assets/images/icon/ico-call.png" alt=""> <a href="http://">检测治理咨询</a></li>
  <li><img src="../../assets/images/icon/ico-call.png" alt=""> <a href="http://">加盟代理咨询</a></li>
  <li><img src="../../assets/images/icon/ico-call.png" alt=""> <a href="http://">返回顶部</a></li>
</ul> 