<div class="sidebar">
  <div class="avatar">
    <img src="../../assets/images/avatar.png" alt="">
    <p class="t1">欢迎您 </p>
    <p class="t2">wx 134520</p>
  </div>
  <ul class="nav j-nav">
    <li class="active open">
      <i class="xcFont ico-card"></i>基本信息 
      <i class="xcFont ico-arrow"></i>
      <ul>
        <li class="active"><a href="">账户概要</a></li>
        <li><a href="">用户信息</a></li>
        <li><a href="">安全设置</a></li>
        <li><a href="">结算记录</a></li>
        <li><a href="">投诉管理</a></li>
        <li><a href="">申请提现</a></li>
      </ul>
    </li>
    <li class="open">
      <i class="xcFont ico-bag"></i>商品信息 
      <i class="xcFont ico-arrow"></i>
      <ul>
        <li><a href="">添加分类</a></li>
        <li><a href="">商品列表</a></li>
        <li><a href="">添加商品</a></li>
        <li><a href="">添加卡密</a></li>
        <li><a href="">库存卡密</a></li>
        <li><a href="">最近卖出</a></li>
        <li><a href="">卡密批量管理</a></li>
        <li><a href="">卡密回收站</a></li>
      </ul>
    </li>
    <li class="open">
      <i class="xcFont ico-order"></i>交易管理 
      <i class="xcFont ico-arrow"></i>
      <ul>
        <li><a href="">总购链接</a></li>
        <li><a href="">查看费率</a></li>
        <li><a href="">付款方式</a></li>
        <li><a href="">渠道分析</a></li>
        <li><a href="">收益统计</a></li>
        <li><a href="">订单交易</a></li>
      </ul>
    </li>
  </ul>
</div>